{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block body_class %}
    app--staff-detail theme-light
{% endblock %}

{% block content %}

    <div class="page page--no-hero" typeof="schema:Person">

        <meta property="schema:affiliation" content="Royal College of Art" />
        {# Should only show if person is alumni #}
        <meta property="schema:alumniOf" content="Royal College of Art" />

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--staff-detail grid">
                {% if page.profile_image %}
                    <div class="title-area__image">
                        {% include "patterns/atoms/profile-image/profile-image.html" %}
                    </div>
                {% endif %}
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
                    </nav>
                    {% if page.student_title or page.first_name or page.last_name %}
                        <h1 property="schema:name" class="title-area__heading heading heading--one" id="main-content">
                            {% if page.student_title %}
                                <span class="title-area__profile-title heading heading--three">{{ page.student_title }}</span>
                            {% endif %}
                            {{ page.first_name }}
                            {{ page.last_name }}
                        </h1>

                    {% endif %}

                    {% if page.programme %}
                        <div class="title-area__job-titles">
                            <div class="job-titles">
                                <ul class="job-titles__item">
                                    <li class="job-titles__title">{{ page.degree_status }} {% firstof page.get_degree_award_display "MPhil/PhD" %} student {% if page.degree_end_date %}- {{ page.degree_end_date|date:'Y' }}{% endif %}</li>
                                    <li class="job-titles__department" property="schema:award">
                                        <a class="body body--two link link--tertiary" href="{% pageurl page.programme %}">{{ page.programme }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if page.email %}
                        <div class="title-area__contact">
                            <a class="link link--secondary link--link body body--two" href="mailto:{{ page.email }}">
                                <span class="link__label">Email {{ page.email }}</span>
                                <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="page__content">

            <section class="section bg bg--dark {% if page.student_gallery %}section--opposite-notch{% endif %}">

                <div class="section__row staff-body {% if research_highlights %}staff-body--margin{% endif %}">
                    <div class="staff-body__container grid">
                        <div class="staff-body__content">
                            <p class="staff-body__introduction heading heading--five" property="schema:description">
                                {{ page.introduction}}
                            </p>
                            <div class="staff-body__description rich-text">
                                {{ page.bio|safe }}
                            </div>

                            {% if page.link_to_final_thesis %}
                            <div class="staff-body__action">
                                <a class="link link--primary link--link body body--two link--external" href="{{ page.link_to_final_thesis }}" target="_blank">
                                    <span class="link__label">Visit the RCA Research Repository to access the final thesis</span>
                                    <svg width="11" height="13" class="link__icon" aria-hidden="true"><use xlink:href="#arrow-external"></use></svg>
                            </a>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="staff-body__key-details">
                            {% include "patterns/molecules/key-details/key-details--student.html" with areas=areas supervisors=page.supervisors social_links=page.social_links %}
                        </div>
                    </div>
                </div>

                {% if research_highlights %}
                    <div class="section__row {% if page.student_gallery %}section__row--last{% else %}section__row--last-large{% endif %} research-highlights">
                        <div class="section__header grid">
                            <h2 class="section__heading section__heading--primary heading heading--four">
                                Research projects
                            </h2>
                        </div>
                        <div class="section__content grid">
                            {% include "patterns/organisms/carousel/carousel.html" with carousel=research_highlights modifier='carousel carousel--no-margin' control_title="Research highlights carousel" datatag='data-carousel' %}
                            <div class="section__action">
                                <a class="link link--primary link--link body body--two" href="/research">
                                    <span class="link__label">See all research</span>
                                    <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% if page.student_gallery %}
                <div class="section__notch section__notch--opposite">
                    <div class="section__notch-fill section__notch-fill--first-col"></div>
                </div>

            </section>

            <section class="section bg bg--light">

                <div class="section__row section__row--first section__row--last">
                    <header class="section__header grid">
                        <h3 class="section__heading section__heading--secondary heading heading--four">
                            Gallery
                        </h3>
                    </header>
                    <div class="section__content">
                        {% include "patterns/organisms/slideshow/slideshow.html" with slideshow=page.student_gallery control_title="gallery" modifier='slideshow--author-info' %}
                    </div>
                </div>

            </section>

            <section class="section bg bg--dark">
                {% if student_information %}
                    <div class="section__notch">
                        <div class="section__notch-fill section__notch-fill--third-col"></div>
                    </div>
                {% endif %}
            {% endif %}

                {% if student_information %}
                    <div class="section__row {% if not page.student_gallery %}staff-detail-accordion staff-detail-accordion--wo-gallery{% endif %} section__row--first section__row--last">
                        {% include "patterns/organisms/accordion-block/accordion-block.html" with accordion_id='1' accordions=student_information title="More about "|add:page.first_name %}
                    </div>

                    {% if related_students or page.student_related_links %}
                    <div class="section__notch">
                        <div class="section__notch-fill section__notch-fill--second-col"></div>
                    </div>
                    {% endif %}
                {% endif %}
            </section>

            {% if related_students or page.student_related_links %}
                <section class="section section--top-space bg bg--light">
                    {% if related_students %}
                        {% include "patterns/organisms/student-listing/student-listing-api.html" with student_listing=related_students %}
                    {% endif %}

                    {% if page.student_related_links %}
                        {% include "patterns/organisms/related-links/related-links.html" with related_links=page.student_related_links title="Additional links" %}
                    {% endif %}
                </section>
            {% endif %}

        </div>

    </div>
{% endblock %}
