{% load wagtailcore_tags %}
<div class="accordion {% if modifier %}accordion--{{ modifier }}{% endif %} {% if accordion.preview_text %}accordion--with-preview{% endif %}" data-accordion>
    <a
        href="#"
        role="tab"
        class="accordion__link {% if preview %}accordion__link--with-preview{% endif %}"
        data-accordion-question
        aria-controls="answer-{{ accordion_id }}-{{ forloop.counter }}"
        aria-expanded="false"
        aria-selected="false"
        tabindex="0"
        id="question-{{ accordion_id }}-{{ forloop.counter }}"
    >
        <h5 class="accordion__heading heading heading--five">{{ accordion.heading }}</h5>

        <div class="accordion__meta">
            {% if accordion.preview_text %}
                <p class="accordion__preview-text body body--one">{{ accordion.preview_text }}</p>
            {% endif %}
            <svg width="18px" height="18px" class="accordion__icon accordion__icon--plus" aria-hidden="true">
                <use xlink:href="#plus"></use>
            </svg>
            <svg width="18px" height="18px" class="accordion__icon accordion__icon--minus" aria-hidden="true">
                <use xlink:href="#minus"></use>
            </svg>
        </div>

    </a>
    <div
        aria-live="polite"
        class="accordion__content"
        data-accordion-answer
        id="answer-{{ accordion_id }}-{{ forloop.counter }}"
        role="tabpanel"
        aria-labelledby="question-{{ accordion_id }}-{{ forloop.counter }}"
        aria-hidden="false">
        <div class="accordion__content-container">
            {% if accordion.introduction %}
                <div class="accordion__introduction">
                    {{ accordion.introduction }}
                </div>
            {% endif %}
            {{ accordion.body|richtext }}
            {% if accordion.link.url and accordion.link.title %}
                {% include "patterns/atoms/link-primary/link-primary--link.html" with href=accordion.link.url  text=accordion.link.title %}
            {% endif %}
        </div>
    </div>
</div>
