{% load wagtailcore_tags %}
<div class="accordion" data-accordion>
    <a
        href="#"
        role="tab"
        class="accordion__link"
        data-accordion-question
        aria-controls="answer-{{ forloop.counter }}"
        aria-expanded="false"
        aria-selected="false"
        tabindex="0"
        id="question-{{ forloop.counter }}"
    >
        <h5 class="heading heading--five">{{ accordion.heading }}</h5>
        {% if accordion.preview_text %}
            <p class="accordion__preview-text body body--one">{{accordion.preview_text}}</p>
        {% endif %}
        <svg width="18px" height="18px" class="accordion__icon accordion__icon--plus" aria-hidden="true">
            <use xlink:href="#plus"></use>
        </svg>
        <svg width="18px" height="18px" class="accordion__icon accordion__icon--minus" aria-hidden="true">
            <use xlink:href="#minus"></use>
        </svg>
    </a>
    <div
        aria-live="polite"
        class="accordion__content"
        data-accordion-answer
        id="answer-{{ forloop.counter }}"
        role="tabpanel"
        aria-labelledby="question-{{ forloop.counter }}"
        aria-hidden="false">
        {{ accordion.body|richtext }}
    </div>
</div>
