{% if subpages.paginator.num_pages > 1 %}
<nav class="pagination" aria-label="Pagination">
    <ul class="pagination__container body body--two">
        {% if subpages.has_previous %}
            <li class="pagination__button pagination__button--prev">
                <a class="pagination__button-link" href="?page={{ subpages.previous_page_number }}&{% for value in extra_query_params %}{{ value }}&amp;{% endfor %}" class="previous">
                    <span class="pagination__button-label">previous</span>
                    <svg width="23" height="23" class="pagination__button-icon" aria-hidden="true">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </a>
            </li>
        {% endif %}
        {% for i in subpages.paginator.page_range|slice:"3" %}
            <li class="pagination__item">
                <a href="?page={{i}}&{% for value in extra_query_params %}{{ value }}&amp;{% endfor %}" class="pagination__link">{{i}}</a>
            </li>
        {% endfor %}
        <br>

        {% if subpages.paginator.page_range|last > 3 %}
            <li class="pagination__item">
                ...
            </li>
            {% for i in subpages.paginator.page_range|slice:"-3:" %}
                {% if i > 3 %}
                    <li class="pagination__item">
                        <a href="?page={{i}}&{% for value in extra_query_params %}{{ value }}&amp;{% endfor %}" class="pagination__link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if subpages.has_next %}
            <li class="pagination__button pagination__button--next">
                <a class="pagination__button-link" href="?page={{ subpages.next_page_number }}&{% for value in extra_query_params %}{{ value }}&amp;{% endfor %}" class="next">
                    <span class="pagination__button-label">next</span>
                    <svg width="23" height="23" class="pagination__button-icon" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>{% endif %}
