<div class="section__row grid facilities">
    <h2 class="facilities__heading heading heading--four">{{ title }}</h2>
    {% with facilities_snippet=page.facilities_snippet %}
        <div class="facilities__introduction">
            {% if facilities_snippet.introduction %}
                <p class="introduction">{{ facilities_snippet.introduction }}</p>
            {% endif %}

            <a href="{{ link }}" class="facilities__view-all facilities__view-all--medium body body--one link link--primary link--link">
                <span class="link__label">{{ link_text }}</span>
                <svg width="12" height="8" class="link__icon"><use xlink:href="#arrow"></use></svg>
            </a>
        </div>
        <div class="facilities__action">
            <a href="{{ link }}" class="facilities__view-all body body--one link link--primary link--link">
                <span class="link__label">{{ link_text }}</span>
                <svg width="12" height="8" class="link__icon"><use xlink:href="#arrow"></use></svg>
            </a>
        </div>
        {% if facilities_snippet.copy %}
        <div class="facilities__body">
            <p>{{ facilities_snippet.copy }}</p>
        </div>
     {% endif %}
    {% endwith %}
</div>

<div class="section__row facilities__slideshow">
    {% include "patterns/organisms/slideshow/slideshow.html" with slideshow=page.facilities_gallery modifier=slideshowModifier %}
</div>
