.header {
    @include z-index(header);
    $root: &;
    position: fixed;
    width: 100%;
    top: 0;
    transition: transform $transition;

    &__container {
        max-width: $site-width;
        margin: 0 auto;
        padding-top: ($gutter * 1.5);
        padding-bottom: ($gutter);

        @include media-query(medium) {
            padding-top: ($gutter * 2);
        }
    }

    &__navigation-toggle {
        display: flex;
        align-items: flex-start;
    }

    &__menu-toggle {
        margin-top: ($grid / 4);
        margin-left: auto;
        cursor: pointer;

        @include media-query(medium) {
            margin-right: $gutter;
            margin-left: unset;
        }

        &--small {
            @include media-query(medium) {
                display: none;
            }
        }

        &--medium {
            display: none;

            @include media-query(medium) {
                display: flex;
            }
        }

        .app__navigation & {
            margin-top: ($grid * 2.5);
            opacity: 0.4;

            @include media-query(medium) {
                margin-top: ($grid / 4);
            }
        }

        .menu-active & {
            opacity: 1;
        }
    }

    &__search-toggle {
        .app__navigation & {
            opacity: 0.4;
        }

        .search-active & {
            opacity: 1;
        }
    }

    &__menu-close {
        fill: $color--white;
        margin: ($grid / 4) $grid 0 auto;
    }

    &__menus {
        @include grid-layout();

        &::before {
            content: '';
            background: $color--primary;
            height: 100%;
            width: 100%;
            position: absolute;
            display: block;
            transform: translate3d(-100%, 0%, 0);
            max-height: 900px;
        }
    }

    &__inner {
        background: $color--primary;
        height: 900px;
        padding-top: ($gutter * 2);
    }

    .header-content-light & {
        #{$root}__search-toggle,
        #{$root}__menu-toggle {
            color: $color--white;
        }
    }

    .header-content-dark & {
        #{$root}__search-toggle,
        #{$root}__menu-toggle {
            color: $color--black;
        }
    }

    // Hide when scrolling down
    .headroom--not-top & {
        transform: translate3d(0, -100%, 0);
    }

    // Show when scrolling back up
    .headroom--pinned.headroom--not-top & {
        transform: translate3d(0, 0, 0);
        background-color: $color--black;

        #{$root}__container {
            padding-top: ($gutter);
        }

        #{$root}__search-toggle,
        #{$root}__menu-toggle {
            color: $color--white;
        }

        #{$root}__navigation-toggle {
            align-items: center;
        }
    }
}
