.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $color--black;
    transition: transform $transition;

    .headroom--not-top & {
        transform: translate3d(0, -100%, 0);
    }
}
