.header {
    @include z-index(header);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $color--black;
    transition: transform $transition;

    &__container {
        max-width: $site-width;
        margin: 0 auto;
        padding-top: ($gutter * 2);
        padding-bottom: ($gutter);
    }

    &__navigation-toggle {
        display: flex;
        align-items: flex-start;
    }

    &__menu-toggle {
        margin-right: ($gutter);
    }

    .headroom--not-top & {
        transform: translate3d(0, -100%, 0);
    }
}
