<div class="news {% if modifier %}{{ modifier }}{% endif %}">
    {% for item in news %}

        {% if forloop.first %}
            <div class="news__feature">
        {% endif %}

        {% if forloop.counter == 2 %}
            <div class="news__sub-features">
        {% endif %}

        {% include "patterns/molecules/card/card_api_content.html" with counter=forloop.counter %}

        {% if forloop.first %}
            </div>
        {% endif %}

        {% if forloop.last and not forloop.first %}
                <a class="news__view-all link link--primary link--link body body--two" href="{% firstof button_link page.news_view_all.link '/news-and-events/' %}">
                    <span class="link__label">{% firstof button_title page.news_view_all.title 'See all news & events' %}</span>
                    <svg class="link__icon" width="12" height="8"><use xlink:href="#arrow"></use></svg>
                </a>
            </div>
        {% endif %}

    {% endfor %}
</div>
