default_language_version:
  node: system
  python: python3.11
repos:
  - repo: https://github.com/python/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: '6.0.1'
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.8.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@7.2.0
          - eslint-config-airbnb@18.2.1
          - eslint-config-prettier@8.3.0
          - eslint-config-torchbox@0.4.0
          - eslint-plugin-import@2.23.4
          - eslint-plugin-jsx-a11y@6.4.1
          - eslint-plugin-react@7.24.0
          - eslint-plugin-react-hooks@4.2.0
          - '@babel/core@7.14.2'
          - '@babel/preset-env@7.14.2'
          - '@babel/preset-react@7.10.1'
          - babel-eslint@10.0.3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
        types_or: [markdown, css, scss, javascript, json, yaml]
  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: c4c991cd38b0218735858716b09924f8b20e3812
    hooks:
      - id: stylelint
        additional_dependencies:
          - stylelint@13.13.1
          - stylelint-config-torchbox@1.0.0
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.25.0
    hooks:
      - id: django-upgrade
        args: [--target-version, '4.2'] # Replace with Django version
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.5' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$
