default_language_version:
  node: system
  python: python3.13
repos:
  - repo: https://github.com/python/black
    rev: 26.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: '7.0.0'
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@8.56.0
          - eslint-config-airbnb@19.0.4
          - eslint-config-prettier@10.1.8
          - eslint-config-torchbox@1.1.0
          - eslint-plugin-import@2.32.0
          - eslint-plugin-jsx-a11y@6.10.2
          - eslint-plugin-react@7.37.5
          - eslint-plugin-react-hooks@4.6.2
          - '@babel/core@7.29.0'
          - '@babel/preset-env@7.29.0'
          - '@babel/preset-react@7.28.5'
          - '@babel/eslint-parser@7.26.0'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 3.8.1
    hooks:
      - id: prettier
        types_or: [markdown, css, scss, javascript, json, yaml]
  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: c4c991cd38b0218735858716b09924f8b20e3812
    hooks:
      - id: stylelint
        additional_dependencies:
          - stylelint@16.23.1
          - stylelint-config-torchbox@4.0.0
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
      - id: django-upgrade
        args: [--target-version, '5.2'] # Replace with Django version
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.5' # keep version in sync with version installed in the Dockerfile
    hooks:
      - id: poetry-check
      - id: poetry-lock
        # Never update dependencies and only run on changes to pyproject.toml
        args: [--no-update]
        files: ^pyproject.toml$
