[tool.poetry]
name = "rca"
version = "0.1.0"
description = ""
authors = ["Kevin Howbrook <kevin.howbrook@torchbox.com>"]

[tool.poetry.dependencies]
python = "~3.8"
django = "~3.2"
wagtail = "~4.2"
psycopg2 = "~2.8"
gunicorn = {version = "~20.0", optional = true}
wagtail-django-recaptcha = "1.0"
django-pattern-library = "~0.3"
whitenoise = "~5.0"
dj-database-url = "~0.5"
sentry-sdk = "^1.21.0"
django-redis = "~4.11"
django-storages = { version ="~1.9", extras = ["boto3"] }
django-referrer-policy = "~1.0"
django-csp = "~3.6"
scout-apm = "~2.18"
django-basic-auth-ip-whitelist = "~0.3.4"
wagtail-accessibility = "^0.2.1"
wagtail-storages = "^1.0.0rc1"
coverage = "^5.4"
wagtail-factories = "^4.0.0"
wagtail-orderable = "^1.1.0"
django-import-export = "^2.5.0"
django-phonenumber-field = {extras = ["phonenumbers"], version = "^5.2.0"}
lxml = "^4.6.3"
django-birdbath = "^0.0.5"
tblib = "^1.7.0"
django-countries = "^7.2.1"
mailchimp-marketing = "^3.0.69"
freezegun = "^1.1.0"
django-cors-headers = "^3.10.1"
wagtail-rangefilter = "^0.1.1"

[tool.poetry.extras]
gunicorn = ["gunicorn"]

[tool.poetry.dev-dependencies]
Werkzeug = "~2.0.3"
django-extensions = "~2.2"
fabric = "~2.5"
stellar = "~0.4"
wagtailmakeup = "^0.0.1"

# Linters etc.
black = "22.3.0"
detect-secrets = "~0.14"
flake8 = "3.8.3"
isort = "4.3.18"
pre-commit = "~2.11"

# Documentation
mkdocs = "~1.6"
mkdocs-material = "~9.5"
pymdown-extensions = "~10.8"
honcho = "^1.0.1"

[build-system]
requires = ["poetry>=1,<2"]
build-backend = "poetry.masonry.api"

[tool.black]
line_length = 88
target-version = ['py38']
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.mypy_cache
    | \.tox
    | \.venv
    | __pycache__
    | _build
    | build
    | dist
    | docs
    | venv
    | node_modules
  )/
)
'''
