-r requirements.txt
-r requirements-docs.txt
django-extensions==2.1.3
Werkzeug==0.14.1
stellar==0.4.5

# Remember to update a version in .gitlab-ci.yml
flake8==3.7.7
seed-isort-config==1.9.0
isort==4.3.18
pre-commit==1.16.1
black==19.3b0

# Pin SQLAlchemy version to work around stellar issue
# https://github.com/fastmonkeys/stellar/issues/69
SQLAlchemy==1.3
SQLAlchemy-Utils==0.33.1
