Django==2.2.9
wagtail==2.6
psycopg2==2.7.7
wagtail-django-recaptcha==1.0
django-pattern-library==0.2.4

# Production dependencies
whitenoise[brotli]==4.1.2
dj-database-url==0.5.0
raven==6.10.0
django-redis==4.10.0
django-storages[boto3]==1.7.1
django-referrer-policy==1.0
django-csp==3.5
scout-apm==2.0.2
django-basic-auth-ip-whitelist==0.2.1
wagtail-orderable==1.0.2