{% load cache static wagtailcore_tags navigation_tags util_tags %}

{% if footer_cta_title or footer_cta_description or footer_cta_link_href or footer_cta_link_text %}
    <div class="footer-cta">
        <div class="grid">
            {% if footer_cta_title %}
                <h2 class="heading heading--two footer-cta__title">{{ footer_cta_title }}</h2>
            {% endif %}

            {% if footer_cta_description %}
                <p class="footer-cta__description">{{ footer_cta_description }}</p>
            {% endif %}

            {% if footer_cta_link_href and footer_cta_link_text %}
                <div class="footer-cta__link">
                    {% include 'patterns/atoms/link-primary/link-primary--external.html' with href=footer_cta_link_href text=footer_cta_link_text %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
