{% load wagtailcore_tags wagtailimages_tags %}
<div class="card card--staff{% if item.image %} card--image{% endif %}{% if modifier %} card--{{ modifier }}{% endif %}">
    {% if item.profile_image %}
        {% image item.profile_image fill-80x80 as image_small %}
        {% image item.profile_image fill-392x392 as image_large %}
    {% endif %}
    <div class="card__container">
        <a href="{{ item.link }}" class="card__image-container" aria-label="{{ item.title }}">
            {% if item.profile_image %}{% include "patterns/atoms/image/image--lazyload.html" with image_small=image_small width=392 height=392 image_large=image_large classList='card__image' %}{% endif %}
        </a>
        <div class="card__content-container">
            <div class="card__content">
                <h3 class="card__heading">
                    <a href="{{ item.link }}" class="card__heading-link">
                        {{ item.title }}
                    </a>
                </h3>
                {% for r in item.roles.all %}
                    <div class="card__description card__year">
                        {{ r.role }}{% if not forloop.last %},{% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
