{% load wagtailcore_tags wagtailimages_tags %}
<div class="card card--square {% if item.image %}card--image{% endif %} {% if item.person %}card--person{% endif %} {% if item.modifier %}card--{{ item.modifier }}{% endif %}">
    {% if item.image %}
        {% image item.image fill-80x80 as image_small %}
        {% image item.image fill-554x554 as image_large %}
    {% endif %}
    <{% if item.link %}a href="{{ item.link }}"{% else%}div{% endif %} class="card__container {% if item.link %}u-offset-outline{% endif %}">
        {% if item.link %}<div class="card__image-container">{% endif %}
            {% if item.image %}{% include "patterns/atoms/image/image--lazyload.html" with image_small=image_small width=554 height=554 image_large=image_large classList='card__image' %}{% endif %}
        {% if item.link %}</div>{% endif %}
        <div class="card__content-container">
            <div class="card__content">
                <div class="card__meta">{% firstof item.meta item.type %}</div>
                <h3 class="card__heading">
                    {% if item.link %}<span class="card__heading-link">{% endif %}
                        {{ item.title }}
                    {% if item.link %}</span>{% endif %}
                </h3>
                <div class="card__description">{{ item.summary|striptags }}</div>
            </div>
            {% if item.person %}
                <div class="card__person">
                    {% image person.image fill-60x60 class="card__person-image" %}
                    <div class="card__person-info">
                        <div class="card__person-meta">Featuring</div>
                        <h4 class="card__person-title">{{ item.person.title }}</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </{% if item.link %}a{% else %}div{% endif %}>
</div>
