<div class="section__row grid related-links {% if modifier %}related-links--{{ modifier }}{% endif %}">
    <div class="section__header related-links__header">
        <h2 class="section__heading related-links__heading heading heading--four">
            {{ title|default:"Additional links"}}
        </h2>
    </div>
    <div class="section__content related-links__content">
        {% for item in related_links %}
            <div class="related-links__item">
                {% include "patterns/atoms/link-tertiary/link-tertiary--link.html" with value=item.value %}
            </div>
        {% endfor %}
    </div>
</div>