<div class="image-video-block {% if modifier %}image-video-block--{{ modifier }}{% endif %}">
    {% if heading or has_meta or curriculum %}
        <div class="section__row grid">
            {% if heading %}
                <h2 class="image-video-block__heading heading {% if curriculum %}heading--two{% else %}heading--one{% endif %}">{% if curriculum %}Curriculum{% else %}{{ heading }}{% endif %}</h2>
            {% endif %}
            {% if school %}
                <div class="image-video-block__school image-video-block__school--mobile body body--support">
                    {{ school }}
                </div>
            {% endif %}
            {% if has_meta and subheading %}<h3 class="image-video-block__subheading heading heading--four image-video-block__subheading--mobile">{{ subheading }}</h3>{% endif %}
        </div>
    {% endif %}
    {% if not out_of_grid %}
        <div class="section__row grid">
    {% endif %}
        {% if image or video %}
            {% include "patterns/organisms/image-video-embed/image-video-embed.html" with modal=modal image=image caption=caption video=video %}
        {% endif %}
    {% if not out_of_grid %}
        </div>
    {% endif %}
    {% if has_meta or subheading or copy %}
        <div class="section__row grid">
            {% if school %}
                <div class="image-video-block__school body body--support">
                    {{ school }}
                </div>
            {% endif %}
            {% if subheading %}
                <h3 class="image-video-block__subheading heading heading--four {% if has_meta %}image-video-block__subheading--tablet{% endif %}">{{ subheading }}</h3>
            {% endif %}
            {% if has_meta %}
                <div class="image-video-block__meta">
                    {% if meta_heading %}
                        <p class="image-video-block__copy image-video-block__copy--meta-heading body body--one">{{ meta_heading }}</p>
                    {% endif %}
                    {% if meta_copy %}
                        <p class="image-video-block__copy image-video-block__copy--meta-copy body body--one">{{ meta_copy }}</p>
                    {% endif %}
                    {% if href %}
                        {% if link_text %}
                            <a href="{{ href }}" class="body body--two link link--tertiary link--link" aria-label="{{ link_text }}">
                            <span class="link__label">{{ link_text }}</span>
                        {% else %}
                            <a href="{{ href }}" class="body body--two link link--tertiary link--link" aria-label="Read more {% if meta_heading %}about {{ meta_heading }}{% endif %}">
                            <span class="link__label">Read more</span>
                        {% endif %}
                            <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                        </a>

                    {% endif %}
                </div>
            {% else %}
                <p class="image-video-block__copy body body--one">{{ copy }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>
