
<div class="image-video-block">
    <div class="section__row grid">
        <h2 class="image-video-block__heading heading heading--two">{% if curriculum %}{{page.title}} curriculum{% endif %}</h2>
    </div>
    <div class="section__row grid">
        {% include "patterns/molecules/image-caption-link/image-caption-link.html" with modal=modal %}
    </div>
    <div class="section__row grid">
        <h3 class="image-video-block__subheading heading heading--four">{{subheading}}</h3>
        <p class="image-video-block__copy body body--one">{{copy}}</p>
    </div>
</div>
