{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block body_class %}
    app--guide no-hero sticky-bar{% if page.shorthand_embed_code %} app--shorthand-embed{% endif %}
{% endblock %}

{% block tap_widget %}
{% if settings.utils.SitewideTapSetting.show_widgets %}{{ tap_widget_code }}{% endif %}
{% endblock %}

{% block content %}

    <div class="page page--no-hero">

        {% if sticky_cta %}
            {% include "patterns/molecules/sticky-cta/sticky-cta.html" with item=sticky_cta modal=sticky_cta.modal modal_aria_label="call-to-action-title" %}
        {% endif %}

        <header class="page__header bg bg--dark{% if sticky_cta %} page__header--with-sticky-cta{% endif %}">
            <div class="title-area title-area--guide grid">
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
                    </nav>
                    {% if not page.shorthand_embed_code.strip %}
                        <h1 class="title-area__heading heading heading--display-two" id="main-content">
                            {{ page.title }}
                        </h1>

                        <div class="title-area__meta">
                            Last updated {{ page.last_published_at|date:'j F Y' }}
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if not page.shorthand_embed_code %}
                <div class="introduction introduction--indented grid">
                    {% if anchor_nav or page.contact_model_image %}
                        {% include "patterns/molecules/anchor-nav/anchor-nav.html" with anchor_nav=anchor_nav show_contact_block=page.contact_model_image  %}
                    {% endif %}
                    <div class="introduction__container">
                        {% if page.introduction %}
                            <p class="introduction__text section__heading heading heading--five">
                                {{ page.introduction }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </header>

        <div class="page__content js-sticky-point js-sticky-point--bottom">
            {% if page.shorthand_embed_code %}
                {{ page.shorthand_embed_code|safe }}
            {% else %}
                <section class="section bg bg--light">

                    <div class="section__notch">
                        <div class="section__notch-fill section__notch-fill--second-col"></div>
                    </div>

                    <div class="section__row{% if not related_staff %} section__row--last{% endif %} section__row--first">
                        {% for block in page.body %}
                            {# If a block is the image video gallery, it will span the whole page so it can't be in a grid. #}
                            {% if block.block_type == "image_video_gallery" %}
                                {% include_block block %}
                            {% else %}
                                <div class="grid">
                                    <div class="streamfield rich-text layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                                        {% include_block block with guide_page=True %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if related_staff %}
                        <div class="section__row section__row--first section__row--last">
                            {% include "patterns/organisms/people-module/people-module.html" with people=related_staff title=page.related_staff_title anchor_heading=True %}
                        </div>
                    {% endif %}

                </section>

                <section class="section bg bg--dark{% if page.further_information %} booking-bar-last-item{% endif %}">
                    <div class="section__notch section__notch--large-only">
                        <div class="section__notch-fill section__notch-fill--third-col"></div>
                    </div>
                </section>

                {% if page.further_information_block %}
                    <section class="section bg bg--dark booking-bar-last-item">
                        <div class="section__row section__row--last">
                        {% for block in page.further_information_block %}
                            <div class="accordion-block accordion-block--large-heading{% if forloop.counter > 1 %}  accordion-block--no-margin{% endif %}">
                                <div class="grid">
                                    <h4 class="accordion-block__heading heading heading--two anchor-heading" id="{{ block.value.heading|slugify }}">{{ block.value.heading }}</h4>
                                </div>

                                <div class="grid">
                                    {% for item in block.value.items %}
                                        {% include "patterns/molecules/accordion/accordion.html" with accordion=item %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </section>
                {% endif %}

                {% if related_pages.items %}
                    <section class="section bg bg--dark booking-bar-last-item">
                        <div class="section__row section__row--first section__row--last-large">
                            {% include "patterns/organisms/index-module/index-module.html" with items=related_pages.items title=related_pages.title id=page.related_pages_title anchor_heading=True %}
                        </div>

                        <div class="section__notch section__notch--small-med-only">
                            <div class="section__notch-fill section__notch-fill--second-col"></div>
                        </div>
                    </section>
                {% endif %}

                {% if page.contact_model_image or page.contact_model_text or page.contact_model_email or page.contact_model_url or page.contact_model_form %}
                    <section class="section bg bg--light">
                        <div class="contact-anchor anchor-heading" id="contact"></div>
                        <div class="section__row section__row--first section--extra-margin-bottom">
                            {% include "patterns/organisms/contact/contact.html" with heading=page.contact_model_title text=page.contact_model_text image=page.contact_model_image anchor_heading=True %}
                        </div>
                    </section>

                    <section class="section bg bg--dark booking-bar-last-item">
                        <div class="section__notch section__notch--large-only">
                            <div class="section__notch-fill section__notch-fill--third-col"></div>
                        </div>
                    </section>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if page.social_image %}
        {% image page.social_image fill-1200x1200 as social_img %}
    {% endif %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "https://google.com/article"
            },
            "headline": "{{ page.title }}",
            {% if page.social_image %}
            "image": [
              "{{ social_img.full_url }}"
            ],
            {% endif %}
            "datePublished": "{{ page.published_at }}",
            "dateModified": "{{ page.last_published_at }}",
            "publisher": {
              "@type": "Organization",
              "name": "Royal College of Art"
            }
          }
    </script>
{% endblock %}
