{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block body_class %}
    app--guide no-hero
{% endblock %}

{% block content %}

    <div class="page page--no-hero">

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--guide grid">
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
                    </nav>
                    {% if page.title %}
                        <h1 class="title-area__heading heading heading--display-two">
                            {{ page.title }}
                        </h1>
                    {% endif %}

                        <div class="title-area__meta">
                            Last updated {{ page.last_published_at|date:'d F Y' }}
                        </div>
                </div>
            </div>
                <div class="introduction grid">
                    {% if anchor_nav or page.contact_model_image %}
                        {% include "patterns/molecules/anchor-nav/anchor-nav.html" with anchor_nav=anchor_nav show_contact_block=page.contact_model_image  %}
                    {% endif %}
                    <div class="introduction__container">
                    {% if page.introduction %}
                        <h2 class="introduction__text section__heading heading heading--five">
                            {{ page.introduction }}
                        </h2>
                    {% endif %}
                    </div>
                </div>
        </header>

        <div class="page__content">

            <section class="section section--opposite-notch bg bg--light">

                <div class="section__notch">
                    <div class="section__notch-fill section__notch-fill--second-col"></div>
                </div>

                <div class="section__row {% if not related_staff %}section__row--last{% endif %} section__row--first grid">
                    <div class="streamfield rich-text layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                        {% include "patterns/molecules/streamfield/stream_block.html" with value=page.body guide_page=True %}
                    </div>
                </div>

                {% if related_staff %}
                    <div class="section__row section__row--first section__row--last">
                        {% include "patterns/organisms/people-module/people-module.html" with people=related_staff title="Staff" anchor_heading=True %}
                    </div>
                {% endif %}

            </section>
            {% if page.further_information %}
                <section class="section bg bg--dark">
                <div class="section__row short-course-accordion section__row--last">
                        {% include "patterns/organisms/accordion-block/accordion-block.html" with accordion_id='1' accordions=page.further_information course_type="short" title=page.further_information_title anchor_heading=True section_id=page.further_information_title|slugify %}
                </div>
                </section>
            {% endif %}

            {% if related_pages.items %}
                <section class="section bg bg--dark">
                    <div class="section__row section__row--first section__row--last-large">
                        {% include "patterns/organisms/index-module/index-module.html" with items=related_pages.items title=related_pages.title id=page.related_pages_title anchor_heading=True %}
                    </div>

                    <div class="section__notch section__notch--small-med-only">
                        <div class="section__notch-fill section__notch-fill--second-col"></div>
                    </div>
                </section>
            {% endif %}

            {% if page.contact_model_image %}
                <section class="section bg bg--light">
                    <div class="contact-anchor" id="contact"></div>
                    <div class="section__row section__row--first">
                        {% include "patterns/organisms/contact/contact.html" with heading="Ask a question" text=page.contact_model_text image=page.contact_model_image anchor_heading=True %}
                    </div>
                </section>

                <section class="section bg bg--dark">
                    <div class="section__notch section__notch--large-only">
                        <div class="section__notch-fill section__notch-fill--third-col"></div>
                    </div>
                </section>
            {% endif %}

        </div>
    </div>
{% endblock %}
