{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block body_class %}
    app--guide
{% endblock %}

{% block content %}

    <div class="page page--no-hero">

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--guide grid">
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" with breadcrumb=page.breadcrumb %}
                    </nav>
                    {% if page.title %}
                        <h1 class="title-area__heading heading heading--display-two">
                            {{ page.title }}
                        </h1>
                    {% endif %}

                    {% if page.edit_date %}
                        <div class="title-area__meta">
                            Last updated {{ page.edit_date }}
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if page.introduction %}
                <div class="introduction grid">
                    {% include "patterns/molecules/anchor-nav/anchor-nav.html" with anchor_nav=page.anchor_nav %}
                    <div class="introduction__container">
                        <h2 class="introduction__text section__heading heading heading--five">
                            {{ page.introduction }}
                        </h2>
                    </div>
                </div>
            {% endif %}
        </header>

        <div class="page__content">

            <section class="section section--opposite-notch bg bg--light">

                <div class="section__notch">
                    <div class="section__notch-fill section__notch-fill--second-col"></div>
                </div>

                <div class="section__row section__row--first grid">
                    <div class="streamfield rich-text layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                        {% include "patterns/molecules/streamfield/stream_block.html" %}
                    </div>
                </div>

                {% if page.related_staff %}
                    <div class="section__row section__row--first section__row--last" id="staff">
                        {% include "patterns/organisms/people-module/people-module.html" with people=page.related_staff %}
                    </div>
                {% endif %}

                <div class="section__notch">
                    <div class="section__notch-fill section__notch-fill--first-col"></div>
                </div>

            </section>

            {% if page.index_module %}
                <section class="section bg bg--dark" id="index">
                    <div class="section__row section__row--first section__row--last-large">
                        {% include "patterns/organisms/index-module/index-module.html" with item=page.index_module %}
                    </div>

                    <div class="section__notch section__notch--small-med-only">
                        <div class="section__notch-fill section__notch-fill--second-col"></div>
                    </div>
                </section>
            {% endif %}

            {% if page.contact %}
                <section class="section bg bg--light" id="contact">
                    <div class="section__row section__row--first">
                        {% include "patterns/organisms/contact/contact.html" with heading="Ask a question" text="Get in touch if you’d like to find out more or have any questions about working with the RCA." image=page.contact_image %}
                    </div>
                </section>

                <section class="section bg bg--dark">
                    <div class="section__notch section__notch--large-only">
                        <div class="section__notch-fill section__notch-fill--third-col"></div>
                    </div>
                </section>
            {% endif %}
            
        </div>

    </div>
{% endblock %}
