{% load wagtailimages_tags %}

{% comment %}
    This component is shown on a user action set in cta-trigger.js via [data-cta].
{% endcomment %}

<div class="modal modal--cta{% if classes %} {{ classes }}{% endif %}" aria-hidden="true" id="cta-modal{% if value.cta_id %}-{{ value.cta_id }}{% endif %}" data-cta data-cta-modal{% if value.cta_id %} data-cta-id="{{ value.cta_id }}"{% endif %}{% if value.cta_trigger %} data-cta-trigger="{{ value.cta_trigger }}"{% endif %}{% if value.cta_delay %} data-cta-delay="{{ value.cta_delay }}"{% endif %}{% if value.cta_scroll %} data-cta-scroll="{{ value.cta_scroll }}"{% endif %}>
    <div class="modal__overlay bg bg--dark-80">
        <div class="modal__container modal__container--offset grid" role="dialog" aria-modal="true" aria-labelledby="cta-modal-title">
            <div class="modal__content">
                <button class="modal__close modal__close--over-image" aria-label="Close modal" data-micromodal-close data-cta-close>
                    <svg width="18" height="18" class="modal__close-icon" aria-hidden="true"><use xlink:href="#close"></use></svg>
                </button>

                {% image value.image fill-880x495 format-webp loading="lazy" %}

                <div class="modal__footer-notch"></div>
                <div class="modal__footer">
                    <div class="modal__footer-inner">
                        <h2 class="modal__title" id="cta-modal-title">{{ value.title }}</h2>
                        
                        {% if value.description %}
                            <p class="modal__description">{{ value.description }}</p>
                        {% endif %}
                    </div>
                    {% include 'patterns/atoms/link-primary/link-primary--external.html' with href=value.href text=value.text %}
                </div>
            </div>
        </div>
    </div>
</div>