{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags %}
{% load i18n %}
{% block titletag %}{% trans "Add Student" %}{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="messages">
            <ul>
                <li class="error">There were some errors with your form. Please amend the fields highlighted below.
                </li>
            </ul>
        </div>
    {% endif %}

    {% include "wagtailadmin/shared/header.html" with title="Add student" merged=1 tabbed=1 icon="user" %}

    <form action="{% url 'student_account_create' %}" method="POST">
            <section id="account" class="active nice-padding">
            <div class="help-block help-info">
                <p>Creating a student account with the 'create student page' option will notify the
                student of their account and page via email.</p>
            </div>
                <ul class="fields">
                    {% block fields %}
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.username %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.first_name %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.last_name %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.email %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.student_user_image_collection %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.create_student_page %}</li>
                    {% endblock fields %}
                    <li>
                      <input type="submit" value="{% trans 'Add user' %}" class="button" />
                    </li>
                </ul>
            </section>
    </form>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
