/*------------------------------------*\
	$BASE DEFAULTS
\*------------------------------------*/

// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent text size change on orientation change.
// sass-lint:disable no-vendor-prefixes
html {
    font-family: $font--primary;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
    background-color: $color--secondary;

    &.no-scroll {
        overflow-y: hidden;
    }
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// Responsive images
img {
    height: auto;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

p {
    line-height: $line-height-small;
    margin: 0 0 1rem;
}

a {
    color: $color--tertiary;
    text-decoration: none;
    transition: color $transition;

    &:hover {
        color: darken($color--tertiary, 20%);
        cursor: pointer;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
