/* 

-----------------
Grid layout setup 
-----------------

- Mobile format is:
    layout__start-{{ number }}
    layout__span-{{ number }}
- If a breakpoint is required the format is:
    layout__@{{ breakpoint }}-start-{{ number }}
    layout__@{{ breakpoint }}-span-{{ number }}
- Breakpoints are medium and large
- Numbers range from 1-5, as we use a 5 col grid for large, two columns for small and medium
- For example: "layout__@medium-start-one layout__@medium-span-two" would start in column one, and span two columns for medium breakpoint
- Replicates the "grid-column: number / span number" format that we've used previously
- \@ outputs as \@ in css but html classes shouldn't include the slash
- Used in conjunction with a parent with the .grid class or any item with display: grid on

*/

.layout {
    /* Column start */

    &__start-one {
        grid-column-start: 1;
    }

    &__start-two {
        grid-column-start: 2;
    }

    @include media-query(medium) {
        &__\@medium-start-one {
            grid-column-start: 1;
        }

        &__\@medium-start-two {
            grid-column-start: 2;
        }
    }

    @include media-query(large) {
        &__\@large-start-one {
            grid-column-start: 1;
        }

        &__\@large-start-two {
            grid-column-start: 2;
        }

        &__\@large-start-three {
            grid-column-start: 3;
        }

        &__\@large-start-four {
            grid-column-start: 4;
        }

        &__\@large-start-five {
            grid-column-start: 5;
        }
    }

    /* Column span */

    &__span-one {
        grid-column-end: span 1;
    }

    &__span-two {
        grid-column-end: span 2;
    }

    @include media-query(medium) {
        &__\@medium-span-one {
            grid-column-end: span 1;
        }

        &__\@medium-span-two {
            grid-column-end: span 2;
        }
    }

    @include media-query(large) {
        &__\@large-span-one {
            grid-column-end: span 1;
        }

        &__\@large-span-two {
            grid-column-end: span 2;
        }

        &__\@large-span-three {
            grid-column-end: span 3;
        }

        &__\@large-span-four {
            grid-column-end: span 4;
        }

        &__\@large-span-five {
            grid-column-end: span 5;
        }
    }
}
