/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

html {
    font-size: (map-get($small-font-sizes, xs) / 16px) * 100%;

    @include media-query(medium) {
        font-size: (map-get($medium-font-sizes, xs) / 16px) * 100%;
    }

    @include media-query(large) {
        font-size: (map-get($large-font-sizes, xs) / 16px) * 100%;
    }

    line-height: 1.4;
    color: $color--primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-text();
    margin: 0 0 1rem;
}

blockquote {
    font-family: $font--secondary;
    font-style: italic;
    font-weight: inherit;
    text-transform: inherit;
}

h2 {
    @include font-size(xl);
}

h3 {
    @include font-size(l);
}

h4 {
    @include font-size(m);
    line-height: $line-height-large;
}

h5,
h6 {
    @include font-size(s);
    line-height: $line-height-small;
}

small {
    @include font-size(xs);
}
