{% extends "modeladmin/index.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags %}

{% block bodyclass %}modeladmin{% endblock %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block css %}
    {{ block.super }}
    {{ view.media.css }}
    <style>
        {% comment %} 
            This causes the pagination links to be spaced evenly so they align left and right respectively.
            Otherwise they cover the pagination content.
            One caveat is that when only the next link is present, it will display on the left side.
        {% endcomment %}
        .pagination ul {
           justify-content: space-between;
        }
    </style>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ view.media.js }}
{% endblock %}

{% block content %}
    {% block header %}
        {% fragment as breadcrumb %}{% block breadcrumb %}{% endblock %}{% endfragment %}
        {% fragment as heading %}{% block h1 %}{% endblock %}{% endfragment %}
        {% fragment as extra_actions %}
            {% block header_extra %}
                {% if view.list_export or user_can_create %}
                    <a  class="button button--icon no" href="{% url 'enquiretostudy_delete' %}">
                        {% icon name="bin" %}
                        {% trans 'Delete submissions' %}
                    </a>
                    {% include view.export_buttons_template_name %}
                {% endif %}
                {% if user_can_create %}
                    {% include 'modeladmin/includes/button.html' with button=view.button_helper.add_button %}
                {% endif %}
            {% endblock %}
        {% endfragment %}
        {% fragment as search %}{% block search %}{% search_form %}{% endblock %}{% endfragment %}
        {% fragment as extra_rows %}{% block extra_rows %}{% endblock %}{% endfragment %}
        {% include "wagtailadmin/shared/header.html" with classname="w-header--hasform" breadcrumb=breadcrumb heading=heading title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon description=description search=search extra_actions=extra_actions extra_rows=extra_rows %}
    {% endblock %}

    {% block content_main %}
        {{ block.super }}
    {% endblock %}

{% endblock %}
