{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
<div class="wrapper">
    <section class="section section--main">
        {# hero #}
        {% include "patterns/molecules/hero/hero-schools.html" with modifier="programme" %}
        {% if hero_image %}
            <div class="title-area__credit layout__@large-start-five layout__@large-span-one">
                {% include 'patterns/atoms/image-info/image-info.html' with item=hero_image %}
            </div>
        {% endif %}

        <h1>{{ page.title }}</h1>
         {% if page.introduction %}
            <div class="project-overview__introduction layout__start-one layout__span-two  layout__@large-start-three layout__@large-span-two">
                <h2 class="research-centre-overview__heading section__heading heading heading--five">
                    {{ page.introduction|richtext }}
                </h2>
            </div>
        {% endif %}

        {# key datails #}
        <div class="school-overview__key-details layout__start-one layout__span-two layout__@large-span-one">
            {% include "patterns/molecules/key-details/key-details--school.html" %}
        </div>

        {# nav #}
        {% include "patterns/molecules/tab-nav/tab-nav-school.html" with modifier="bg bg--dark" sticky="true" %}

        {# video and body #}
        {% if page.introduction_image %}
            {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.video out_of_grid=True curriculum=False heading=False has_meta=False copy=False subheading=False image=page.introduction_image caption=page.video_caption video=page.video %}
        {% endif %}
        {{ page.body|richtext }}

        {# about #}
        {% if page_teasers %}
            <section class="landing-page__middle section section--start section--opposite-notch bg bg--light">

                <div class="section__row research-spaces">
                    <div class="section__header section__header--bottom-space grid">
                    {% if page_teasers.title %}
                        <h2 class="section__heading section__heading--tight heading heading--two">
                            {{ page_teasers.title }}
                        </h2>
                    {% endif %}
                    {% if page_teasers.summary %}
                        <div class="section__introduction">
                            {{ page_teasers.summary }}
                        </div>
                    {% endif %}
                    </div>
                    <div class="section__content grid">
                        {% include "patterns/organisms/staggered-cards/staggered-cards.html" with staggered_cards=page_teasers.pages %}
                    </div>
                </div>

                {% if featured_image %}
                    <div class="section__notch section__notch--opposite">
                        <div class="section__notch-fill section__notch-fill--second-col"></div>
                    </div>
                {% endif %}

            </section>
        {% endif %}

         {% if page.introduction_image %}
            {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.video out_of_grid=True curriculum=False heading=False has_meta=False copy=False subheading=False image=page.introduction_image caption=page.video_caption video=page.video %}
        {% endif %}
        {{ page.body|richtext }}

    </section>
</div>
{% endblock %}
