{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block body_class %}
    app--school
{% endblock %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with modifier="medium" %}

    <div class="page page--overlap" typeof="schema:WebPage">

        <meta property="schema:provider" content="Royal College of Art" />

        <div class="page__notch grid">
            <div class="page__notch-block bg bg--dark"></div>
        </div>

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--breadcrumb title-area--landing-page grid">
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
                    </nav>
                    <h1 class="title-area__heading heading heading--display-two" property="schema:name" id="main-content">{{ page.title }}</h1>
                </div>
                {% if hero_image_credit or hero_image %}
                    <div class="title-area__credit layout__@large-start-five layout__@large-span-one">
                        {% include 'patterns/atoms/image-info/image-info.html' with credit=hero_image_credit item=hero_image %}
                    </div>
                {% endif %}
            </div>
            {% if page.introduction %}
                <div class="introduction introduction--indented grid">
                    <div class="introduction__container">
                        <div class="section__heading heading heading--five" property="schema:description">
                            {{ page.introduction|richtext }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <section class="section bg bg--dark">

                <div class="section__row project-overview project-overview--condensed">
                    <div class="section__content grid">
                        <div class="project-overview__content layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                            <div class="project-overview__media">
                                {% if page.introduction_image %}
                                    {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.video out_of_grid=True curriculum=False heading=False has_meta=False copy=False subheading=False image=page.introduction_image caption=page.video_caption video=page.video modifier="small-bottom-margin image-video-block--no-padding" %}
                                {% endif %}
                            </div>
                            <div class="project-overview__streamfield project-overview__streamfield--bottom-margin">
                                <div class="streamfield rich-text ">
                                    {{ page.body|richtext }}
                                </div>
                            </div>
                        </div>
                        <div class="project-overview__key-details layout__start-one layout__span-two layout__@large-span-one">
                            {% include "patterns/molecules/key-details/key-details--schools.html" %}
                        </div>
                    </div>
                </div>

            </section>

        </header>

        <div class="page__content schools landing-page u-pos-rel">

            {% include "patterns/molecules/jump-nav/jump-nav.html" with modifier="bg bg--dark" sticky=True item=tabs %}

            {# About #}
            <section class="schools__about section section--start bg bg--dark anchor-heading" id="overview">

                {% if page_teasers %}
                <div class="section__row section__row--last schools__about--teasers">
                    <div class="section__header section__header--bottom-space grid">
                        <h2 class="section__heading section__heading--secondary section__heading--tight heading heading--two">{{ page_teasers.title|default:"About us" }}</h2>
                        {% if page_teasers.summary %}
                            <div class="section__introduction layout__start-one layout__span-two layout__@large-start-four layout__@large-span-one">
                                {{ page_teasers.summary }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="section__content grid">
                        {% include "patterns/organisms/staggered-cards/staggered-cards.html" with staggered_cards=page_teasers.pages modifier="no-margin" %}
                    </div>
                </div>
                {% endif %}

                {% if page.collaborators %}
                <div class="section__row section__row--last schools__about--logos">
                    <div class="section__header grid">
                        <h2 class="section__heading section__heading--secondary heading heading--five">{% firstof page.collaborators_heading "Organisations we've worked with" %}</h2>
                    </div>
                    <div class="section__content">
                        <div class="u-small-and-medium-bp-only">
                            {% include "patterns/organisms/logo-carousel/logo-carousel.html" with carousel=page.collaborators  control_title="Collaborator small carousel" per_slide=2 %}
                        </div>
                        <div class="u-large-bp-only">
                            {% include "patterns/organisms/logo-carousel/logo-carousel.html" with carousel=page.collaborators  control_title="Collaborator large carousel" per_slide=3 %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if page.legacy_news_and_events %}
                <div class="section__row section__row--last schools__about--news">
                    <div class="section__header grid">
                        <h2 class="section__heading section__heading--primary heading heading--four">{% firstof page.news_and_events_heading "What's happening" %}</h2>
                    </div>
                    <div class="section__content grid">
                        {% include "patterns/organisms/news/news_api_content.html" with news=page.legacy_news_and_events %}
                    </div>
                </div>
                {% endif %}

                {% if student_stories %}
                {# When Instagram is here we need to add if instagram_feed == False around section__row--last #}
                <div class="section__row section__row--last schools__about--student-stories partnerships__carousel">
                    <div class="section__header grid">
                        <h2 class="section__heading section__heading--primary heading heading--four">Student stories</h2>
                    </div>
                    {% include "patterns/organisms/carousel/carousel--square.html" with carousel=student_stories.slides modifier='carousel--square' control_title="Student stories" datatag='data-peek-carousel' %}
                </div>
                {% endif %}

                {% comment %}
                    {% if instagram_feed %}
                    <div class="section__row {% if about_links or about_cta %}section__row--last-small{% else %}section__row--last-large{% endif %} schools__about--instagram">
                        <div class="section__header grid">
                            <h2 class="section__heading section__heading--secondary body body--one">Latest instagram updates</h2>
                            <div class="section__introduction layout__start-one layout__span-two layout__@large-start-four layout__@large-span-one">
                                <a href="{{ photo.href }}" class="link link--tertiary link--link link--external" target="_blank">
                                    <span class="link__label">Follow us at {{ instagram_feed.handle }}</span>
                                    <svg width="11" height="13" class="link__icon" aria-hidden="true"><use xlink:href="#arrow-external"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="section__content">
                            {% include "patterns/molecules/instagram-feed/instagram-feed.html" with modifier="@small-top-margin" %}
                        </div>
                    </div>
                    {% endif %}
                {% endcomment %}

                {% include "patterns/organisms/school-section-footer/school-section-footer.html" with links=page.about_external_links cta=page.about_cta_block %}

            </section>

            {% if stats_block %}
                {% include "patterns/organisms/stat-block/stat-block.html" with modifier="both-dark" %}
            {% endif %}

            {# Research #}
            {% if not stats_block %}<span class="schools__anchor-compensator anchor-heading" id="research"></span>{% endif %}
            <section class="schools__research section {% if stats_block %}section--start anchor-heading {% else %}section--top-space-small {% endif %} bg bg--dark" {% if stats_block %}id="research"{% endif %}>

                <div class="section__row section__row--last-small">
                    <div class="section__header section__header--bottom-space grid">
                        <h2 class="section__heading section__heading--secondary ection__heading--tight heading heading--two">{{ page.research_projects_title|default:"Our Research" }}</h2>
                        {% if page.research_projects_text %}
                            <div class="section__introduction layout__start-one layout__span-two layout__@large-start-four layout__@large-span-one">
                                {{ page.research_projects_text|richtext }}
                            </div>
                        {% endif %}
                    </div>
                    {% if featured_research %}
                    <div class="section__header grid">
                        <h2 class="section__heading section__heading--primary heading heading--four">
                            Featured projects
                        </h2>
                    </div>
                    <div class="section__content grid">
                        {% include "patterns/organisms/carousel/carousel.html" with carousel=featured_research modifier='carousel carousel--no-margin' control_title="Research project carousel" datatag='data-carousel' %}
                    </div>
                    {% endif %}
                    {% if student_research.link_url %}
                    <div class="section__action grid">
                        <a class="layout__@large-start-two link link--primary link--link body body--two" href="{{ student_research.link_url }}">
                            <span class="link__label">{{ student_research.link_text|default:"Browse more research from the School" }}</span>
                            <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                        </a>
                    </div>
                    {% endif %}
                </div>

                {% if student_research %}
                <div class="section__row section__row--last schools__about--student-stories partnerships__carousel">
                    <div class="section__header grid">
                        <h2 class="section__heading section__heading--primary heading heading--four">{{ student_research.title }}</h2>
                    </div>
                    {% include "patterns/organisms/carousel/carousel--square.html" with carousel=student_research.slides modifier='carousel--square' control_title="Student research" datatag='data-peek-carousel' %}
                </div>
                {% endif %}

                {% if page.research_collaborators %}
                <div class="section__row schools__about--logos {% if page.external_links or page.research_cta_block %}section__row--last{% else %}section__row--last-large{% endif %}">
                    <div class="section__header grid">
                        <h2 class="section__heading section__heading--secondary heading heading--five">{{ page.research_collaborators_heading|default:"Research collaborators" }}</h2>
                    </div>
                    <div class="section__content">
                        <div class="u-small-and-medium-bp-only">
                            {% include "patterns/organisms/logo-carousel/logo-carousel.html" with carousel=page.research_collaborators  control_title="Research collaborator small carousel" per_slide=2 %}
                        </div>
                        <div class="u-large-bp-only">
                            {% include "patterns/organisms/logo-carousel/logo-carousel.html" with carousel=page.research_collaborators  control_title="Research collaborator large carousel" per_slide=3 %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% include "patterns/organisms/school-section-footer/school-section-footer.html" with links=page.external_links cta=page.research_cta_block links_heading=page.external_links_heading %}
                <div class="section__notch">
                    <div class="section__notch-fill section__notch-fill--third-col"></div>
                </div>

            </section>

            {# Programmes #}
            {% if related_programmes or related_short_courses.0.related_items %}
                <section class="schools__programmes section section--start bg bg--light anchor-heading" id="study">
                    {% if related_programmes %}
                        <div class="section__row section__row--last-small">
                            <div class="section__header grid">
                                <h2 class="section__heading section__heading--secondary section__heading--tight heading heading--two">
                                    {{ page.related_programmes_title|default:"Our programmes" }}
                                </h2>
                                {% if page.related_programmes_summary %}
                                    <div class="section__introduction layout__start-one layout__span-two layout__@large-start-four layout__@large-span-one">
                                        {{ page.related_programmes_summary }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="section__content">
                                {% include "patterns/molecules/relatedcontent/relatedprogrammes.html" with related_sections=related_programmes title=False modifier="after-action related-content--meta-new-line related-content--large related-content--sticky" %}
                            </div>
                        </div>
                    {% endif %}
                    {% if related_short_courses.0.related_items %}
                        <div class="section__row">
                            <div class="section__header grid">
                                <h2 class="section__heading section__heading--secondary section__heading--tight heading heading--two">
                                    {{ page.related_short_courses_title|default:"Our short courses" }}
                                </h2>
                                {% if page.related_short_courses_summary %}
                                    <div class="section__introduction layout__start-one layout__span-two layout__@large-start-four layout__@large-span-one">
                                        {{ page.related_short_courses_summary }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="section__content">
                                {% include "patterns/molecules/relatedcontent/relatedprogrammes.html" with related_sections=related_short_courses title=False modifier="after-action related-content--meta-new-line" %}
                            </div>
                        </div>
                    {% endif %}

                    {% include "patterns/organisms/school-section-footer/school-section-footer.html" with links=page.programmes_external_links cta=page.programmes_cta_block links_heading=page.programmes_links_heading %}

                    <div class="section__notch">
                        <div class="section__notch-fill section__notch-fill--third-col"></div>
                    </div>
                </section>
            {% endif %}


            {# Staff #}
            <section class="schools__staff section section--start section--end bg bg--dark anchor-heading" id="staff">

                <div class="section__row {% if page.staff_external_links or page.staff_cta %}section__row--last-small{% else %}section__row--last-large{% endif %}">
                    <div class="section__header section__header--bottom-space grid">
                        <h2 class="section__heading section__heading--secondary section__heading--tight heading heading--two">
                            {{ page.staff_title|default:"Our staff" }}
                        </h2>
                        {% if page.staff_summary %}
                            <div class="section__introduction layout__start-one layout__span-two layout__@large-start-four layout__@large-span-one">
                                {{ page.staff_summary }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="section__content">
                        {% include "patterns/organisms/people-module/people-module.html" with people=staff title=False %}
                    </div>
                </div>

                {% include "patterns/organisms/school-section-footer/school-section-footer.html" with links=page.staff_external_links cta=page.staff_cta_block links_heading=page.staff_external_links_heading %}

            </section>

            {# Contact #}
            <section class="section bg bg--light">
                <div class="section__notch section__notch--small-med-only">
                    <div class="section__notch-fill section__notch-fill--second-col"></div>
                </div>
                <div class="contact-anchor anchor-heading" id="contact" ></div>
                <div class="section__row section__row--first">
                    {% include "patterns/organisms/contact/contact.html" with heading=page.contact_model_title text=page.contact_model_text image=page.contact_model_image %}
                </div>
            </section>

            <section class="section bg bg--dark">
                <div class="section__notch">
                    <div class="section__notch-fill section__notch-fill--third-col"></div>
                </div>
            </section>


        </div>

    </div>
{% endblock %}
