<div class="index-module">
    <div class="index-module__container grid">
        <div class="index-module__header">
            <h3 class="index-module__heading heading heading--two {% if anchor_heading %}anchor-heading{% endif %}" {% if anchor_heading %} id="{{ id|slugify }}"{% endif %}>{{ title }}</h3>
        </div>
        <div class="index-module__content">
            {% if introduction %}<p class="index-module__introduction body body--one">{{ introduction|striptags }}</p>{% endif %}
            {% for item in items %}
                {% include "patterns/molecules/card/card.html" with modifier="simple" card=item link_style="with-arrow" %}
            {% endfor %}
        </div>
    </div>
</div>
