@use 'sass:list';
@use 'sass:map';
@use 'variables';

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* ============================================
    Media queries
*/

@mixin media-query($queries...) {
    @each $query in $queries {
        @each $breakpoint in variables.$breakpoints {
            $name: list.nth($breakpoint, 1);
            $declaration: list.nth($breakpoint, 2);

            @if $query == $name and $declaration {
                @media only screen and #{$declaration} {
                    @content;
                }
            }
        }
    }
}

/* ============================================
    Hide text
*/

@mixin hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
}

/* ============================================
    Font sizes
*/

@mixin font-size($size) {
    @if not $size {
        @warn 'Font size '#{$keyword}' does not exist';
    } @else {
        $small-size: map.get(variables.$small-font-sizes, $size);
        font-size: $small-size;

        @include media-query(medium) {
            $medium-size: map.get(variables.$medium-font-sizes, $size);
            font-size: $medium-size;
        }

        @include media-query(large) {
            $large-size: map.get(variables.$large-font-sizes, $size);
            font-size: $large-size;
        }
    }
}

/* ============================================
    Heading text
*/

@mixin heading-text() {
    font-style: inherit;
    font-weight: inherit;
}

/* ============================================
    Grid layout
*/

@mixin grid-layout() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: variables.$grid;
    padding-right: variables.$grid;
    max-width: variables.$site-width;
    margin: 0 auto;

    @include media-query(medium) {
        padding-left: variables.$grid * 3;
        padding-right: variables.$grid * 3;
    }

    @include media-query(large) {
        grid-template-columns: 16.74% 1fr 1fr 1fr 16.74%;
        margin: 0 auto;
    }
}

/* ============================================
    z-index
*/

@function z-index-value($key) {
    @return map-get(variables.$z-index, $key);
}

@mixin z-index($key) {
    z-index: z-index-value($key);
}

/* ============================================
    Notch
*/

@mixin notch($bg, $notch-position) {
    padding: 7rem 0;
    background-color: $bg;
    position: relative;

    @if $bg == black {
        color: variables.$color--white;
    } @else {
        color: variables.$color--black;
    }

    &::after {
        content: '';
        width: 70%;
        height: 100px;
        position: absolute;
        display: block;
        bottom: -100px;
        background-color: $bg;
        z-index: 1;

        @if $notch-position == left {
            left: 0;
        } @else {
            right: 0;
        }
    }
}

/* ============================================
    Underline Hover
*/

@mixin underline-hover-target() {
    background-image: linear-gradient(currentcolor, currentcolor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size variables.$transition-cubic;

    @include media-query(medium) {
        background-size: 0% 2px;
    }
}

@mixin underline-hover-target-reset() {
    background-size: 100% 2px;
}

@mixin underline-hover() {
    @include underline-hover-target();

    &:focus,
    &:hover {
        @include underline-hover-target-reset();
    }
}
