// --------------------------------- Colors -------------------------------------

$color--black: #000;
$color--white: #fff;
$color--orange: #ff5d1c;
$color--light-grey: #797979;
$color--dark-grey: #676767;

$color--primary: $color--black;
$color--secondary: $color--white;
$color--tertiary: $color--orange;

// --------------------------------- Fonts --------------------------------------

$font--primary: 'Benton Sans', 'BentonSans', 'Helvetica Neue', Arial, Helvetica, Sans-Serif;
$font--secondary: 'Benton Sans Medium', 'BentonSans-Medium', 'Helvetica Neue', Arial, Helvetica, Sans-Serif;

// Font weights
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 500;
$weight--normal: 400;
$weight--light: 200;

// Font sizes
$base-font-size: 16px;

// Line heights
$line-height-large: 140%;
$line-height-medium: 122%;
$line-height-small: 120%;
$base-line-height: 120%;


$large-font-sizes: (
    xxxxl: 90px,
    xxxl: 76px,
    xxl: 64px,
    xl: 46px,
    l: 32px,
    m: 30px,
    s: 24px,
    xs: 18px,
    xxs: 14px,
    xxxs: 12px,
);

$medium-font-sizes: (
    xxxxl: 78px,
    xxxl: 68px,
    xxl: 52px,
    xl: 38px,
    l: 28px,
    m: 26px,
    s: 20px,
    xs: 16px,
    xxs: 14px,
    xxxs: 12px,
);

$small-font-sizes: (
    xxxxl: 44px,
    xxxl: 38px,
    xxl: 32px,
    xl: 28px,
    l: 24px,
    m: 22px,
    s: 18px,
    xs: 14px,
    xxs: 14px, // no value in styleguide
    xxxs: 12px,
);

// --------------------------------- Breakpoints --------------------------------------
$breakpoints: (
    'medium' '(min-width: 599px)',
    'large' '(min-width: 1023px)',
);

// --------------------------------- Grid Dimensions --------------------------------------

// Wrappers
$site-width: 1280px;
$wrapper--small: 790px;

// --------------------------------- Transitions --------------------------------------

$transition: 0.25s ease-out;
