// --------------------------------- Colors -------------------------------------

$color--black: #000;
$color--white: #fff;
$color--orange: #ff5d1c;
$color--light-grey: #797979;
$color--dark-grey: #676767;

$color--white-12: rgba(255, 255, 255, 0.12);
$color--white-24: rgba(255, 255, 255, 0.24);
$color--black-80: rgba(0, 0, 0, 0.8);
$color--black-24: rgba(0, 0, 0, 0.24);

$color--primary: $color--black;
$color--secondary: $color--white;
$color--tertiary: $color--orange;

$color--link-lightbg: $color--black;
$color--link-darkbg: $color--white;

$color--link-lightbg-hover: $color--tertiary;
$color--link-darkbg-hover: $color--tertiary;

$color--scrollbar-darkbg-bg: $color--white-24;
$color--scrollbar-lightbg-bg: $color--black-24;

$color--grid-line-light: $color--white-12;
$color--grid-line-dark: $color--black-80;


// --------------------------------- Fonts --------------------------------------

$font--primary: 'Benton Sans', 'BentonSans', 'Helvetica Neue', Arial, Helvetica, Sans-Serif;
$font--secondary: 'Benton Sans Medium', 'BentonSans-Medium', 'Helvetica Neue', Arial, Helvetica, Sans-Serif;

// Font weights
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 500;
$weight--normal: 400;
$weight--light: 200;

// Line heights
$line-height-large: 140%;
$line-height-medium: 122%;
$line-height-small: 120%;
$base-line-height: 120%;

// Font sizes
$base-font-size: 18px;

$large-font-sizes: (
    xxxxl: 90px,
    xxxl: 76px,
    xxl: 64px,
    xl: 46px,
    l: 32px,
    m: 30px,
    s: 24px,
    xs: 18px,
    xxs: 14px,
    xxxs: 12px,
);

$medium-font-sizes: (
    xxxxl: 78px,
    xxxl: 68px,
    xxl: 52px,
    xl: 38px,
    l: 28px,
    m: 26px,
    s: 20px,
    xs: 16px,
    xxs: 14px,
    xxxs: 12px,
);

$small-font-sizes: (
    xxxxl: 44px,
    xxxl: 38px,
    xxl: 32px,
    xl: 28px,
    l: 24px,
    m: 22px,
    s: 18px,
    xs: 14px,
    xxs: 14px, // no value in styleguide
    xxxs: 12px,
);

// --------------------------------- Breakpoints --------------------------------------
$breakpoints: (
    'medium' '(min-width: 599px)',
    'large' '(min-width: 1023px)',
);

// --------------------------------- Z-indices --------------------------------------

$z-index: (
    free1: 10,
    free2: 20,
    free3: 30,
    free4: 40,
    header: 50,
    free5: 60,
    free6: 70,
    free7: 80,
    gridlines: 90,
    modal: 100
);

// --------------------------------- Grid Dimensions --------------------------------------

$grid: 20px;
$gutter: $grid;

// Wrappers
$site-width: 1440px;

// --------------------------------- Transitions --------------------------------------

$transition: 0.25s ease-out;

// --------------------------------- Magic numbers --------------------------------------

$header-height-small: 130px;
$header-height-medium: 130px;
$header-height-large: 130px;
