{% load wagtailcore_tags wagtailimages_tags %}

<div class="image-caption-link" {% if modal and video %}data-video-modal{% endif %}>
    <div {% if modal %}data-modal-open{% endif %} href="#" {% if modal %}class="image-caption-link__link"{% endif %}>
        {% image curriculum_image fill-80x37 as imageSmall %}
        {% image curriculum_image fill-900x415 as imageLarge %}

        {% include "patterns/atoms/image/image--lazyload.html" with imageSmall=imageSmall width=900 height=415 imageLarge=imageLarge classList='image-caption-link__image' %}

        {% if modal %}
            <svg width="24" height="24" class="image-caption-link__image-icon"><use xlink:href="#play-icon"></use></svg>
            {% include "patterns/molecules/video-modal/video-modal.html" with open_link=False %}

            <div class="image-caption-link__caption-container">
                <p class="image-caption-link__caption body body--two">
                    <svg width="24" height="24" class="image-caption-link__caption-icon"><use xlink:href="#play-icon"></use></svg>
                    <span class="image-caption-link__caption-text">{{caption}}</span>
                </p>
            </div>
        {% endif %}
    </div>
</div>
