<nav class="categories-tablist {% if modifier %}categories-tablist--{{ modifier }}{% endif %} bg bg--light" aria-label="Filter programmes">
    <h2 class="body body--two categories-tablist__heading">{{ value.title }}</h2>
    <div role="tablist">
        {% for item in value.items %}
            <a id="{{ forloop.counter }}-tab" href="{{ item.href }}" class="categories-tablist__tab {% if item.selected %}categories-tablist__tab--selected{% endif %} body body--one" role="tab" aria-selected="{% if item.selected %}true{% else %}false{% endif %}" aria-controls="{{ item.title }}">
                {{ item.title }}
            </a>
        {% endfor %}
        {% if reset %}
            <div class="categories-tablist__tab categories-tablist__tab--reset">
                {% include "patterns/atoms/reset/reset.html" %}
            </div>
        {% endif %}
    </div>
</nav>