<nav class="categories-tablist {% if modifier %}categories-tablist--{{ modifier }}{% endif %} bg bg--light" aria-label="Filter programmes">
    <h2 class="body body--two categories-tablist__heading">{{ value.title }}</h2>
    <div role="tablist">
        {% for item in value.items %}
            <a id="{{ forloop.counter }}-tab" href="{{ item.href }}" class="categories-tablist__tab {% if item.selected %}categories-tablist__tab--selected{% endif %} body body--one" role="tab" aria-selected="{% if item.selected %}true{% else %}false{% endif %}" aria-controls="{{ item.title }}">
                {{ item.title }}
            </a>
        {% endfor %}
        {% if reset %}
            <a class="categories-tablist__tab categories-tablist__tab--reset" href="#">
                <svg class="categories-tablist__reset-icon" width="14" height="14">
                    <use xlink:href="#reset" /> 
                </svg>
                <span class="categories-tablist__reset-label">Reset</span>
            </a>
        {% endif %}
    </div>
</nav>