{% extends "modeladmin/index.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block css %}
    {{ block.super }}
    {{ view.media.css }}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ view.media.js }}
{% endblock %}

{% block content %}
    {% block header %}
        <header class="w-header w-header--hasform">
            {% block breadcrumb %}{% endblock %}
            <div class="row">
                <div class="left header-left">
                    <div class="col">
                        {% block h1 %}
                            <h1 class="w-header__title">
                                {% if view.header_icon %}{% icon classname="w-header__glyph" name=view.header_icon %}{% endif %}
                                {{ view.get_page_title }}
                                {% if view.get_page_subtitle %} <span class="w-header__subtitle">{{ view.get_page_subtitle }}</span> {% endif %}
                                {% include 'modeladmin/includes/result_count.html' %}
                            </h1>
                        {% endblock %}
                    </div>
                    {% block search %}{% search_form %}{% endblock %}
                </div>
                {% block header_extra %}
                    <div class="right header-right">
                        {% if view.list_export or user_can_create %}
                            <div class="actionbutton">
                                {% if user_can_create %}
                                    {% include 'modeladmin/includes/button.html' with button=view.button_helper.add_button %}
                                {% endif %}
                                {% if view.list_export %}
                                    <div class="dropdown dropdown-button match-width col">
                                        <a href="?export=xlsx&{{ request.GET.urlencode }}" class="button bicolor button--icon">{% icon name="download" wrapped=1 %}{% trans 'Download XLSX' %}</a>
                                        <div class="dropdown-toggle">{% icon name="arrow-down" %}</div>
                                        <ul>
                                            <li><a  class="button bicolor button--icon" href="?export=csv&{{ request.GET.urlencode }}">{% icon name="download" wrapped=1 %}{% trans 'Download CSV' %}</a></li>
                                        </ul>
                                    </div>
                                {% endif %}
                                <a  class="button button--icon no" href="{% url 'enquiretostudy_delete' %}">
                                    {% icon name="bin" %}
                                    {% trans 'Delete submissions' %}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
            {% block extra_rows %}{% endblock %}
        </header>
    {% endblock %}

    {% block content_main %}
        {{ block.super }}
    {% endblock %}

{% endblock %}
