<div class="job-titles">
    {% for key,role in job_title %}
        <ul class="job-titles__item">
            {% for item in role.items %}
                <li class="job-titles__title">{{ item }}</li>
            {% endfor %}
                <li class="job-titles__department">
                {% if role.link %}
                    <a class="body body--two link link--tertiary" href="{{ role.link }}">{{ key }}</a>
                {% else %}
                    <p class="body body--two link">{{ key }}</p>
                {% endif %}
                </li>
        </ul>
    {% endfor %}
</div>