<div class="job-titles">
    {% for group in job_titles %}
        <ul class="job-titles__item">
            {% for role in group.items %}
                <li class="job-titles__title">{{ role }}</li>
            {% endfor %}
            {% if group.link or group.label %}
                <li class="job-titles__department">
                {% if group.link %}
                    <a class="body body--two link link--tertiary" href="{{ group.link }}">{{ group.label }}</a>
                {% else %}
                    <p class="body body--two link">{{ group.label }}</p>
                {% endif %}
                </li>
            {% endif %}
        </ul>
    {% endfor %}
</div>
