version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.6-stretch-node
        environment:
          SECRET_KEY: testingsecretkey
          SECURE_SSL_REDIRECT: false
          ALLOWED_HOSTS: localhost
          DATABASE_URL: postgresql://root@localhost/circle_test?sslmode=disable
      - image: circleci/postgres:11.5
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            sudo apt-get install rsync
            pip install -r requirements.txt
            pip install -r requirements-dev.txt
      - run:
          name: install node dependencies
          command: |
            npm ci
      - run:
          name: Linting js
          command: |
            npm run lint:js
      - run:
          name: Linting css
          command: |
            npm run lint:css
      - run:
          name: Linting format
          command: |
            npm run lint:format
      - run:
          name: Front end tests
          command: |
            npm run test:coverage
      - run:
          name: compile static assets
          command: |
            npm run build:prod
      - run:
          name: Run Django tests
          command: |
            . venv/bin/activate
            isort --recursive --check-only --diff ./rca
            ./manage.py collectstatic --clear --noinput
            ./manage.py makemigrations --check --noinput
            ./manage.py check
            ./manage.py test
      - run:
          name: Run Black
          command: |
            . venv/bin/activate
            black --check ./rca --exclude migrations/
  deploy_dev:
    docker:
      - image: buildpack-deps:trusty
    steps:
      - checkout
      - run:
          name: deploy dev to heroku
          command: |
            echo "Deploying to Heroku. To see progress, go to: https://dashboard.heroku.com/apps/$HEROKU_APP_NAME_DEV/activity"
            curl -sf -X POST -m 900 https://heroku-deploy.torchbox.com/$HEROKU_APP_NAME_DEV/$CIRCLE_SHA1?key=$DEPLOYMENT_KEY -d "Content-Length: 0"
  deploy_staging:
    docker:
      - image: buildpack-deps:trusty
    steps:
      - checkout
      - run:
          name: deploy staging to heroku
          command: |
            echo "Deploying to Heroku. To see progress, go to: https://dashboard.heroku.com/apps/$HEROKU_APP_NAME_STAGING/activity"
            curl -sf -X POST -m 900 https://heroku-deploy.torchbox.com/$HEROKU_APP_NAME_STAGING/$CIRCLE_SHA1?key=$DEPLOYMENT_KEY -d "Content-Length: 0"
  deploy_production:
    docker:
      - image: buildpack-deps:trusty
    steps:
      - checkout
      - run:
          name: deploy master to heroku
          command: |
            echo "Deploying to Heroku. To see progress, go to: https://dashboard.heroku.com/apps/$HEROKU_APP_NAME_PRODUCTION/activity"
            curl -sf -X POST -m 900 https://heroku-deploy.torchbox.com/$HEROKU_APP_NAME_PRODUCTION/$CIRCLE_SHA1?key=$DEPLOYMENT_KEY -d "Content-Length: 0"

workflows:
  version: 2
  build-deploy:
    jobs:
      - test
      - deploy_dev:
          requires:
            - test
          filters:
            branches:
              only: dev
      - deploy_staging:
          requires:
            - test
          filters:
            branches:
              only: staging
      - confirm_deploy_production:
          type: approval
          requires:
            - test
          filters:
            branches:
              only: master
      - deploy_production:
          requires:
            - test
            - confirm_deploy_production
          filters:
            branches:
              only: master
