<section class="section section--start section--end bg bg--dark">
    <header class="section__header grid">
        <h2 class="section__heading section__heading--primary heading heading--two">{{ programme_page_global_fields.apply_title }}</h2>
    </header>
    <div class="section__content">

        {% if page.apply_image %}
            <div class="section__row grid">
                {% include "patterns/atoms/image/image--right.html" with image=page.apply_image modifier='image--right' %}
            </div>
        {% endif %}

        <div class="section__row">
            {% include "patterns/molecules/apply-intro/apply-intro.html" %}
        </div>

        {% if page.steps %}
            <div class="section__row">
                {% include "patterns/molecules/steps/steps.html" with title="Before you begin" steps=page.steps %}
            </div>
        {% endif %}
    </div>

</section>

<section class="section bg bg--light">
    <div class="section__notch section__notch--top">
        <div class="section__notch-fill section__notch-fill--third-col"></div>
    </div>
</section>
