<section class="section section--start bg bg--dark">
    {% include "patterns/organisms/curriculum-intro/curriculum-intro.html" %}
</section>

<section class="section section--end bg bg--light">
    <div class="section__notch section__notch--top">
        <div class="section__notch-fill section__notch-fill--second-col"></div>
    </div>
    {% include "patterns/molecules/heading-with-text/heading-with-text.html" %}
    {% include "patterns/organisms/accordion-block/accordion-block.html" %}
</section>
