<section class="section section--start bg bg--dark">
    {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.curriculum_video curriculum=True image=page.curriculum_image %}
</section>

<section class="section section--end bg bg--light">
    <div class="section__notch section__notch--top">
        <div class="section__notch-fill section__notch-fill--second-col"></div>
    </div>
    {% if page.pathway_blocks %}
        {% include "patterns/molecules/heading-with-text/heading-with-text.html" with heading='Pathways' subheading=" When applying for this programme, you select one of these specialist pathways." body=false %}
        {% include "patterns/organisms/accordion-block/accordion-block.html" with accordion_id='1' accordions=page.pathway_blocks title=false %}
    {% endif %}

    {% if page.what_you_will_cover_blocks %}
        {% include "patterns/organisms/accordion-block/accordion-block.html" with accordion_id='2' accordions=page.what_you_will_cover_blocks title='What you\'ll cover' modifier="accordion-block--last" %}
    {% endif %}
</section>
