{% load wagtailcore_tags %}

<section class="section section--start bg bg--dark">
    {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.curriculum_video curriculum=True image=page.curriculum_image %}
</section>

<section class="section section--end bg bg--light">
    <div class="section__notch section__notch--top">
        <div class="section__notch-fill section__notch-fill--second-col"></div>
    </div>
    {% if page.pathway_blocks %}
        {% include "patterns/molecules/heading-with-text/heading-with-text.html" with heading='Pathways' subheading=programme_page_global_fields.pathways_summary  body=false %}
        {% include "patterns/organisms/accordion-block/accordion-block.html" with accordion_id='1' accordions=page.pathway_blocks title=false %}
    {% endif %}

    {% if page.what_you_will_cover_blocks %}
        {% include "patterns/organisms/accordion-block/accordion-block.html" with accordion_id='2' accordions=page.what_you_will_cover_blocks title='What you\'ll cover' modifier="accordion-block--last" %}
    {% endif %}

    {% if page.working_with %}
        <div class="section__row section__row--first-small-med-bp section__row--last">
            <div class="section__header grid">
                <h2 class="section__heading section__heading--secondary heading heading--five">{% firstof page.working_with_heading "The opportunity to work with…" %}</h2>
            </div>
            <div class="section__content">
                <div class="u-small-and-medium-bp-only">
                    {% include "patterns/organisms/logo-carousel/logo-carousel.html" with carousel=page.working_with  control_title="Working with small carousel" per_slide=2 %}
                </div>
                <div class="u-large-bp-only">
                    {% include "patterns/organisms/logo-carousel/logo-carousel.html" with carousel=page.working_with  control_title="Working with large carousel" per_slide=3 %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if page.quote_carousel %}
        <div class="section__row section__row--first-extra-small section__row--last-extra-small">
            {% include "patterns/organisms/carousel/carousel--quotes.html" with carousel=page.quote_carousel modifier='carousel--square carousel--quotes carousel--no-margin' control_title="Quote carousel" datatag='data-peek-carousel' %}
        </div>
        {% if page.quote_carousel_link %}
            <div class="section__row section__row--last-small grid">
                <div class="layout__@medium-start-one layout__@large-start-two layout__span-one">
                    {% for block in page.quote_carousel_link %} {#  max_num=1 so we only have 1 item #}
                        {% if block.value.page %}
                            {% pageurl block.value.page as quote_carousel_link %}
                        {% endif %}
                        <a class="link link--secondary link--link" href="{% firstof quote_carousel_link block.value.url %}">
                            <span class="link__label">{% firstof block.value.title block.value.page.title %}</span>
                            <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
</section>


