{% load wagtailcore_tags %}
<section class="section section--start section--end bg bg--dark">
    <header class="section__header grid">
        <h2 class="section__heading section__heading--primary heading heading--two">Fees &amp; funding</h2>
    </header>
    <div class="section__content">
        <div class="overview grid">
            {% with page.fee_items.all as fee_items %}
                {% if fee_items %}
                        <h3 class="overview__heading heading heading--four">For this programme</h3>
                    {% for item in fee_items %}
                        <div class="overview__item">
                            <h4 class="overview__sub-heading heading heading--five">{{ item.title }}</h4>
                            {% if item.introduction %}
                                <p class="overview__introduction introduction">{{ item.introduction }}</p>
                            {% endif %}
                            <div class="overview__item-content fees">
                                {% for row in item.row %}
                                    {% with row.value as row %}
                                        <section class="fees__section {% for item in item.fees %}{% if forloop.first and forloop.last %}fees__section--single{% endif %}{% endfor %}">
                                            <div class="fees__item fees__item--title">
                                                <h5 class="fees__heading body body--one">{{ row.location }}</h5>
                                                {% if row.subsidised %}
                                                    <span class="fees__meta">(subsidised)</span>
                                                {% endif %}
                                            </div>
                                            <div class="fees__item">
                                                {{ row.per_year_cost }}
                                            </div>
                                            <div class="fees__item">
                                                {{ row.total_cost }}
                                            </div>
                                        </section>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="overview__item">
                {% if page.fees_disclaimer %}
                    {{ page.fees_disclaimer.text|linebreaks }}
                {% endif %}
            </div>
        </div>

        <div class="overview grid">
            {% if programme_page_global_fields.scholarships_section_title %}<h3 class="overview__heading heading heading--four">{{ programme_page_global_fields.scholarships_section_title }}</h3>{% endif %}
            <div class="overview__item">
                <h4 class="overview__sub-heading heading heading--five">{{ page.scholarships_title }}</h4>
                <p class="overview__introduction introduction">{{ page.scholarships_information }}</p>
                {% if page.scholarship_items %}
                    <div class="overview__item-content">
                        <div class="overview__item-accordion">
                            {% for accordion in page.scholarship_items %}
                                {% include "patterns/molecules/accordion/accordion.html" with modifier='short' accordion=accordion.value accordion_id='3' scholarship=True %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if page.scholarship_information_blocks %}
                <div class="overview__item">
                    {% for block in page.scholarship_information_blocks %}
                        {% if block.value.title %}
                            <h4 class="overview__sub-heading heading heading--five">
                                {{ block.value.title }}
                            </h4>
                        {% endif %}
                        {% if block.value.text %}
                            <div class="overview__introduction introduction u-paragraph-emulator">
                                {{ block.value.text|richtext }}
                            </div>
                        {% endif %}
                        {% if block.value.link.url and block.value.link.title %}
                            <div class="overview__item-action">
                                <a class="link link--secondary link--link" href="{{ block.value.link.url }}">
                                    <span class="link__label">{{ block.value.link.title }}</span>
                                    <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if page.more_information_blocks %}
            <div class="overview grid">
                <h3 class="overview__heading heading heading--four">More information</h3>
                {% for block in page.more_information_blocks %}
                    <div class="overview__item">
                        {% if block.value.title %}
                            <h4 class="overview__sub-heading heading heading--five">
                                {{ block.value.title }}
                            </h4>
                        {% endif %}
                        {% if block.value.text %}
                            <div class="overview__introduction introduction u-paragraph-emulator">
                                {{ block.value.text|richtext }}
                            </div>
                        {% endif %}
                        {% if block.value.link.url and block.value.link.title %}
                            <div class="overview__item-action">
                                <a class="link link--secondary link--link" href="{{ block.value.link.url }}">
                                    <span class="link__label">{{ block.value.link.title }}</span>
                                    <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if disclaimer %}
            <div class="disclaimer grid">
                <div class="disclaimer__container body body--support">
                    <b>All MA programmes</b>
                    <p>Home, EU and International students who have completed a Graduate Diploma at the College and progress immediately onto an RCA Master's programme will be eligible for a £1,000 discount on tuition fees for a 45 week MA/MRes, £1,000 per year for a 2-year MA and £1,500 for a 15-month MA.</p>

                    <b>All MA/MSc programmes</b>
                    <p>Home, EU and International students who have completed a Graduate Diploma at the College and progress immediately onto an RCA Master's programme will be eligible for a £1,000 per year for a 2-year MA.</p>

                    <b>All MRes programmes</b>
                    <p>Home, EU and International students who have completed a Graduate Diploma at the College and progress immediately onto an RCA Master's programme will be eligible for a £1,000 discount on tuition fees for a 45 week MA/MRes.</p>

                    <b>All MPhil and PhD programmes</b>
                    <p>Full-time Home, EU and International students who have completed a Master’s degree at the College will be eligible for a £1,000 discount on tuition fees for up to three years of study, when starting a Research degree within five years of graduation.</p>

                    <b>Plus for individual programmes</b>

                    <b>Innovation Design Engineering programme</b>

                    <p>Imperial fees are subject to an inflationary uplift, calculated from the RPI for April 2020 and may vary slightly from the value published here; exact fees are to be confirmed in June 2020.</p>

                    <b>Global Innovation Design programme</b>

                    <p>Imperial fees are subject to an inflationary uplift, calculated from the RPI for April 2020 and may vary slightly from the value published here; exact fees are to be confirmed in June 2020.</p>

                    <p>GID students are subject to a £2,000 supplementary fee (included in the above details) due to the higher costs of delivering the programme</p>
                </div>
            </div>
        {% endif %}

    </div>

</section>

<section class="section bg bg--light">
    <div class="section__notch section__notch--top">
        <div class="section__notch-fill section__notch-fill--third-col"></div>
    </div>
</section>
