<section class="section section--start bg bg--dark">

    <div class="section__row programme-overview">
        <header class="section__header grid">
            <h2 class="section__heading section__heading--hidden">Overview</h2>
            <h3 class="section__heading section__heading--primary heading heading--two">
                {{ page.programme_description_title}}
            </h3>
        </header>
        <div class="section__content grid">
            <div class="programme-overview__key-details">
                {% include "patterns/molecules/key-details/key-details.html" %}
            </div>
            <div class="programme-overview__body">
                <p class="introduction" property="schema:description">
                    {{ page.programme_description_subtitle }}
                <p>
                {% if page.programme_image %}
                    {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.programme_video image=page.programme_image caption=page.programme_video_caption video=page.programme_video out_of_grid="true" %}
                {% endif %}
                <div class="programme-overview__description rich-text">
                    {{ page.programme_description_copy|safe }}
                </div>
                {% if page.pathway_blocks %}
                    <div class="programme-overview__pathways">
                        {% include "patterns/molecules/pathways/pathways.html" with summary=page.pathways_summary pathways=page.pathway_blocks %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% comment %}
        {% if eventModule %}
            {# BE NOTE: THIS ISNT CURRENTLY USED #}
            <div class="section__row grid">
                <div class="feature-image">
                    {% include "patterns/molecules/card/card.html" with item=eventModule %}
                </div>
            </div>
        {% endif %}
    {% endcomment %}

    <div class="section__row">
        {% if page.programme_gallery %}
            <header class="section__header grid">
                <h3 class="section__heading section__heading--secondary heading heading--four">
                    Gallery
                </h3>
            </header>
            <div class="section__content">
                {% include "patterns/organisms/slideshow/slideshow.html" with slideshow=page.programme_gallery modifier=programme_slideshow_modifier %}
            </div>
        {% endif %}
    </div>

    <div class="section__notch">
        <div class="section__notch-fill section__notch-fill--first-col"></div>
    </div>

</section>

<section class="section section--end bg bg--light">
    {% with staff=related_staff %}
        {% if staff %}
            {% if staff|length > 1 %}
                    {% include "patterns/organisms/staff-overview/staff-overview.html" %}
            {% else %}
                {% include "patterns/organisms/staff-overview/staff-overview--single.html" %}
            {% endif %}
        {% endif %}
    {% endwith %}

    {% include "patterns/organisms/facilities/facilities.html" with title='Facilities' slideshow=page.facilities_gallery  %}

    {% include "patterns/organisms/featured-alumni/featured-alumni.html" with title="Our alumni" introduction="Our alumni form an international network of creative individuals who have shaped and continue to shape the world." alumni_links=page.notable_alumni_links %}

</section>

{% comment %}
    <section class="section section--end bg bg--dark">
        {% if news_and_events %}
            <div class="section__notch section__notch--top">
                <div class="section__notch-fill section__notch-fill--third-col"></div>
            </div>
            <div class="section__container">
                <header class="section__header grid">
                    <h3 class="section__heading section__heading--primary heading heading--two">News & events</h3>
                </header>
                <div class="section__content grid">
                    {% include "patterns/organisms/news/news_api_content.html" with news=news_and_events %}
                </div>
            </div>
        {% endif %}
    </section>

    <section class="section bg bg--light">
        <div class="section__notch section__notch--top">
            <div class="section__notch-fill section__notch-fill--third-col"></div>
        </div>
    </section>
{% endcomment %}
