<section class="section bg bg--dark">

    <div class="section__row programme-overview">
        <header class="section__header grid">
            <h3 class="section__heading section__heading--primary heading heading--two">
                {{ page.programme_description_title}}
            </h3>
        </header>
        <div class="section__content grid">
            <div class="programme-overview__key-details">
                {% include "patterns/molecules/key-details/key-details.html" %}
            </div>
            <div class="programme-overview__body">
                <p class="introduction">
                    {{ page.programme_description_subtitle }}
                <p>
                {{ page.programme_description_copy|safe }}
                <div class="programme-overview__pathways">
                    {% include "patterns/molecules/pathways/pathways.html" %}
                </div>
            </div>
        </div>
    </div>

    {% if eventModule %}
        {# BE NOTE: THIS ISNT CURRENTLY USED #}
        <div class="section__row grid">
            <div class="feature-image">
                {% include "patterns/molecules/card/card.html" with item=eventModule %}
            </div>
        </div>
    {% endif %}

    <div class="section__row">
        <header class="section__header grid">
            <h3 class="section__heading section__heading--secondary heading heading--four">
            {% if page.programme_gallery_title %}
                {{ page.programme_gallery_title }}
            {% else %}
                {{ page.title }} gallery
            {% endif %}
            </h3>
        </header>
        <div class="section__content">
            {% include "patterns/organisms/slideshow/slideshow.html" with slideshow=page.programme_gallery %}
        </div>
    </div>

    <div class="section__notch">
        <div class="section__notch-fill section__notch-fill--first-col"></div>
    </div>

</section>

<section class="section bg bg--light">

    {% include "patterns/organisms/staff-overview/staff-overview.html" %}

    {% include "patterns/organisms/staff-overview/staff-overview--single.html" %}

    {% include "patterns/organisms/facilities/facilities.html" with link=page.facilities_link title='Facilities' introduction=page.facilities_intro link_text="See all college facilities"  body=page.facilities_copy slideshow=page.facilities_gallery  slideshow=page.facilities_gallery %}

    {% include "patterns/organisms/featured-alumni/featured-alumni.html" with title="Notable Alumni" introduction=page.notable_alumni_text alumni_links=page.notable_alumni_links %}

</section>

<section class="section bg bg--dark">

    <div class="section__notch section__notch--top">
        <div class="section__notch-fill section__notch-fill--third-col"></div>
    </div>

    <div class="section__container">

        <header class="section__header grid">
            <h3 class="section__heading section__heading--primary heading heading--two">News & events</h3>
        </header>

        <div class="section__content grid">
            {% include "patterns/organisms/news/news.html" %}
        </div>

    </div>
</section>

<section class="section bg bg--light">

    <div class="section__notch section__notch--top">
        <div class="section__notch-fill section__notch-fill--third-col"></div>
    </div>
</section>
