<section class="section section--start bg bg--dark">

    <div class="section__row programme-overview">
        <header class="section__header grid">
            <h2 class="section__heading section__heading--hidden">Overview</h2>
            <h3 class="section__heading section__heading--primary heading heading--two">
                {{ page.programme_description_title}}
            </h3>
        </header>
        <div class="section__content grid">
            <div class="programme-overview__key-details">
                {% include "patterns/molecules/key-details/key-details.html" with course_type="programme" %}
            </div>
            <div class="programme-overview__body">
                {% if page.programme_description_subtitle %}
                    <h4 class="introduction introduction--end heading heading--five" property="schema:description">{{ page.programme_description_subtitle }}</h4>
                {% endif %}
                {% if page.programme_image %}
                    {% include "patterns/organisms/image-video-embed/image-video-embed.html" with modal=page.programme_video image=page.programme_image caption=page.programme_video_caption video=page.programme_video %}
                {% endif %}
                <div class="programme-overview__description rich-text">
                    {{ page.programme_description_copy|safe }}
                </div>
                {% if page.pathway_blocks %}
                    <div class="programme-overview__pathways">
                        {% include "patterns/molecules/pathways/pathways.html" with pathways=page.pathway_blocks %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% comment %}
        {% if eventModule %}
            {# BE NOTE: THIS ISNT CURRENTLY USED #}
            <div class="section__row grid">
                <div class="feature-image">
                    {% include "patterns/molecules/card/card.html" with item=eventModule %}
                </div>
            </div>
        {% endif %}
    {% endcomment %}

    <div class="section__row">
        {% if page.programme_gallery or programme_stories and page.should_display_stories_above_gallery %}
            {% if programme_stories and page.should_display_stories_above_gallery %}
                <div class="section--top-space section__header grid">
                    <h2 class="section__heading section__heading--primary heading heading--four">{{ programme_stories.title }}</h2>
                </div>
                {% include "patterns/organisms/carousel/carousel--square.html" with carousel=programme_stories.slides modifier='carousel--square' control_title="Programme stories" datatag='data-peek-carousel' %}
            {% endif %}

            <header class="section__header grid">
                <h3 class="section__heading section__heading--secondary heading heading--four">
                    Gallery
                </h3>
            </header>
            <div class="section__content">
                {% include "patterns/organisms/slideshow/slideshow.html" with slideshow=page.programme_gallery control_title="Programme gallery" modifier=programme_slideshow_modifier %}
            </div>
        {% endif %}
    </div>

    <div class="section__notch">
        <div class="section__notch-fill section__notch-fill--first-col"></div>
    </div>

</section>

<section class="section section--end bg bg--light">
    {% if related_staff %}
        <div class="section__row section__row--first section__row--last">
            {% include "patterns/organisms/people-module/people-module.html" with people=related_staff title=page.staff_title summary=page.staff_summary %}
        </div>
    {% endif %}

    {% include "patterns/organisms/facilities/facilities.html" with title='Facilities' slideshow=page.facilities_gallery  %}

    {% include "patterns/organisms/featured-alumni/featured-alumni.html" with title="Our alumni" introduction=programme_page_global_fields.alumni_summary_text alumni_links=page.notable_alumni_links alumni_cta_link=programme_page_global_fields.alumni_cta_link alumni_cta_text=programme_page_global_fields.alumni_cta_text %}

</section>


{% if featured_work or news_and_events or programme_stories and not page.should_display_stories_above_gallery %}
    <section class="section section--end bg bg--dark">

        <div class="section__notch section__notch--top">
            <div class="section__notch-fill section__notch-fill--third-col"></div>
        </div>

        {% if featured_work %}
            <div class="section__row section__row--first-small section__row--last schools__about--student-stories partnerships__carousel">
                <div class="section__header grid">
                    <h2 class="section__heading section__heading--primary heading heading--two">Standout projects</h2>
                </div>
                {% include "patterns/organisms/carousel/carousel--square.html" with carousel=featured_work.slides modifier='carousel--square' control_title="Editorial stories" datatag='data-peek-carousel' %}
            </div>
        {% endif %}

        {% if programme_stories and not page.should_display_stories_above_gallery %}
            <div class="section__row section__row--last schools__about--student-stories partnerships__carousel">
                <div class="section__header grid">
                    <h2 class="section__heading section__heading--primary heading heading--four">{{ programme_stories.title }}</h2>
                </div>
                {% include "patterns/organisms/carousel/carousel--square.html" with carousel=programme_stories.slides modifier='carousel--square' control_title="Programme stories" datatag='data-peek-carousel' %}
            </div>
        {% endif %}

        {% comment %}
        {% if news_and_events %}
            <div class="section__row">
                <header class="section__header grid">
                    <h3 class="section__heading section__heading--primary heading heading--two">What&#39;s happening at the RCA</h3>
                </header>
                <div class="section__content grid">
                    {% include "patterns/organisms/news/news_api_content.html" with news=news_and_events %}
                </div>
            </div>
        {% endif %}
        {% endcomment %}

    </section>
{% endif %}

