{% load wagtailcore_tags %}
<section class="section section--start bg bg--dark">
    <div class="section__row programme-overview">
        <header class="section__header grid">
            <h2 class="section__heading section__heading--primary heading heading--two">
                Programme requirements
            </h2>
        </header>
        <div class="section__content grid">
            <div class="programme-overview__body">
                    <p class="introduction">
                        What you need to know before you apply
                    </p>
                    {{ page.requirements_text|richtext }}
            </div>
        </div>
        {% if page.requirements_blocks %}
            <div class="programme-overview__pathways">
                {% include "patterns/organisms/accordion-block/accordion-block.html" with accordions=page.requirements_blocks title='What\'s needed from you'%}
            </div>
        {% endif %}
    </div>
</section>

<section class="section bg bg--light">
    <div class="section__notch section__notch--top">
        <div class="section__notch-fill section__notch-fill--third-col"></div>
    </div>
</section>
