{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block header_class %}
    theme-{{ hero_colour }}
{% endblock %}

{% block body_class %}
    app--project-detail
{% endblock %}

{% block content %}

    <div class="page page--no-hero">

        <div class="page__notch grid"> 
            <div class="page__notch-block bg bg--dark"></div>
        </div>

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--research-centre grid">
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" with breadcrumb=page.breadcrumb %}
                    </nav>
                    {% if page.title %}
                        <h1 class="title-area__heading heading heading--display-two">{{ page.title }}</h1>
                    {% endif %}

                    {% if page.introduction %}
                        <div class="title-area__introduction">{{ page.introduction }}</div>
                    {% endif %}
                </div>
                <div class="title-area__tabs">
                    
                    
                </div>
            </div>
        </header>

        <div class="page__content">

            <div class="section section--opposite-notch bg bg--dark">

                <div class="section__notch section__notch--opposite">
                    <div class="section__notch-fill section__notch-fill--content-height section__notch-fill--fourth-col section__notch-fill--second-col@medium">
                        {% include "patterns/molecules/categories-tablist/categories-tablist.html" %}
                    </div>
                </div>

            </div>

            <section class="section bg bg--light">

                <div class="section__row section__row--first-small section__row--last-small grid">
                    <div class="results-total heading heading--four layout__start-one layout__span-two layout__@large-start-two">
                        <span class="results-total__type">Projects</span>
                        <span class="results-total__number">236</span>
                    </div>
                </div>

                {% if page.feature %}
                    <div class="section__row section__row--last">
                        {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.feature.video heading=false subheading=page.feature.sub_heading image=page.feature.image has_meta=True meta_heading=page.feature.page_title meta_copy=page.feature.page_summary href=page.feature.page_link_url caption=false video=false  %}
                    </div>
                {% endif %}

                <div class="section__row section__row--last grid">
                    <div class="results layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                        {% for item in page.results %}
                            <div class="results__item layout__span-two layout__@large-span-one">
                                {% include "patterns/molecules/card/card--project.html" %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="section__row">
                    {% include "patterns/molecules/pagination/pagination.html" %}
                </div>

            </section>

            
        
        </div>

    </div>
{% endblock %}
