{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block header_class %}
    theme-{{ hero_colour }}
{% endblock %}

{% block body_class %}
    app--project-detail
{% endblock %}

{% block content %}

    <div class="page page--no-hero">

        <div class="page__notch grid"> 
            <div class="page__notch-block bg bg--dark"></div>
        </div>

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--research-centre grid">
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" with breadcrumb=page.breadcrumb %}
                    </nav>
                    {% if page.title %}
                        <h1 class="title-area__heading heading heading--display-two">{{ page.title }}</h1>
                    {% endif %}

                    {% if page.introduction %}
                        <div class="title-area__introduction">{{ page.introduction }}</div>
                    {% endif %}
                </div>
                <div class="title-area__tabs">
                    
                    
                </div>
            </div>
        </header>

        <div class="page__content">

            <div class="section section--opposite-notch bg bg--dark">
                <div class="section__notch section__notch--opposite">
                    <div class="section__notch-fill section__notch-fill--content-height section__notch-fill--fourth-col section__notch-fill--second-col@medium">
                        {% include "patterns/molecules/categories-tablist/categories-tablist.html" %}
                    </div>
                </div>
            </div>

            <section class="section bg bg--light">

                <div class="section__row project-overview">
                    <div class="section__content grid">
                        <div class="project-overview__content layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                            <div class="project-overview__media">
                                {% if page.project_image and page.project_video %}
                                    {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.project_video out_of_grid=True curriculum=False heading=False has_meta=False copy=False subheading=False image=page.centre_image caption=page.project_image_caption %}
                                {% endif %}
                            </div>
                
                        </div>
                    </div>
                </div>


                <div class="section__notch">
                    <div class="section__notch-fill section__notch-fill--first-col"></div>
                </div>

            </section>
        
        </div>

    </div>
{% endblock %}
