{% load wagtailcore_tags wagtailimages_tags %}

<div class="streamfield card-grid card-grid--{{ value.number_of_columns }}-col">
    {% for block in value.cards %}    
        <div class="card card--image">
            <a class="card__container" href="{% if block.link.page %}{% pageurl block.link.page %}{% else %}{{ block.link.url }}{% endif %}">
                {% if block.image %}
                    {% image block.image fill-80x80 as image_small %}
                    {% image block.image fill-392x392 as image_large %}
                {% endif %}
                <div class="card__image-container">
                    {% include "patterns/atoms/image/image--lazyload.html" with image_small=image_small width=392 height=392 image_large=image_large classList='card__image' %}
                </div>
                <div class="card__content-container">
                    <div class="card__content">
                        <div class="card__meta">{{ block.meta_label }}</div>
                        <h3 class="card__heading">
                            <span class="card__heading-link">
                                {{ block.link.title }}
                            </span>
                        </h3>
                        <div class="card__description">
                            {{ block.description }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>