{% load wagtailimages_tags %}

<div class="image image--full">
    {% if guide_page %}
        {% image value.image fill-828x470 as my_image %}
    {% else %}
        {% image value.image fill-880x660 as my_image %}
    {% endif %}
    {# Image `alt` used to be optional (now required). We leave the conditional in since images uploaded before the update might have their `alt` blank. #}
    <img src="{{ my_image.url }}" width="{{ my_image.width }}" height="{{ my_image.height }}" alt="{% if value.decorative %}{% elif my_image.image.alt %}{{ my_image.image.alt }}{% else %}{{ my_image.image.title }}{% endif %}">
    {% if value.caption %}
        <p class="image__caption">{{ value.caption }}</p>
    {% endif %}
</div>
