<div class="carousel glide {{ modifier }}" {{ datatag }} data-slidetotal="{{ carousel|length }}">
    <div data-glide-el="track" class="carousel__container glide__track">
        <ul class="carousel__slides glide__slides" aria-live="polite" {% if control_title %}id="{{ control_title|slugify }}"{% endif %}>
            {% for slide in carousel %}
            <li class="carousel__item glide__slide">
            {% comment %}
                Had to pass the slide through as a card here as well for the images to work :/
            {% endcomment %}
                {% include 'patterns/molecules/card/card.html' with item=slide card=slide modifier="carousel" %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="carousel__controls">
        <div class="carousel__bullet-container" data-glide-el="controls[nav]" {% if control_title %}aria-controls="{{ control_title|slugify }}"{% endif %}>
            {% for slide in carousel %}
                <button class="carousel__bullet" data-glide-dir="={{ forloop.counter }}" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>

        {# Desktop next/previous buttons #}
        <div class="carousel__controls-group" data-glide-el="controls" {% if control_title %}aria-controls="{{ control_title|slugify }}"{% endif %}>
            <button class="carousel__button carousel__button--prev button" type="button" aria-label="Previous slide{% if control_title %} for {{ control_title }}{% endif %}" data-glide-dir="<">
                <svg class="carousel__button-icon" width="46" height="46" aria-hidden="true">
                    <use xlink:href="#arrow-left" />
                </svg>
            </button>
            <button class="carousel__button carousel__button--next button" type="button" aria-label="Next slide{% if control_title %} for {{ control_title }}{% endif %}" data-glide-dir=">">
                <svg class="carousel__button-icon" width="46" height="46" aria-hidden="true">
                    <use xlink:href="#arrow-right" />
                </svg>
            </button>
        </div>

        {# Mobile next/previous buttons #}
        <div class="carousel__mobile-controls-group" data-glide-el="controls" {% if control_title %}aria-controls="{{ control_title|slugify }}"{% endif %}>
            <button type="button" class="carousel__button carousel__button--prev button" aria-label="Previous image{% if control_title %} for {{ control_title }}{% endif %}" data-glide-dir="<">
                <svg class="carousel__button-icon" width="46" height="46" aria-hidden="true">
                    <use xlink:href="#arrow-left" />
                </svg>
            </button>
            <button type="button" class="carousel__button carousel__button--next button" aria-label="Next image{% if control_title %} for {{ control_title }}{% endif %}" data-glide-dir=">">
                <svg class="carousel__button-icon" width="46" height="46" aria-hidden="true">
                    <use xlink:href="#arrow-right" />
                </svg>
            </button>
        </div>
    </div>
</div>
