{% extends "patterns/base_page.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}app--search{% endblock %}

{% block title %}{% if search_query %}Search results for &ldquo;{{ search_query }}&rdquo;{% else %}Search{% endif %}{% endblock %}

{% block content %}

    <div class="page page--no-hero">

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--spaced grid">
                <div class="title-area__content">
                    <h1 class="title-area__heading heading heading--display-two" id="main-content">Search results</h1>

                    <form action="/search" method="get" role="search" class="search">
                        {% include "patterns/molecules/search/search--inline.html" with item=search_form search_query=search_query %}
                    </form>
                </div>
            </div>
        </header>
        <div class="page__content">

            <section class="section bg bg--light">

                {% if search_query and search_results %}
                    <div class="section__row section__row--first-small section__row--last-extra-small">
                        {% with count=search_results.paginator.count %}
                        <div class="search__header grid">
                            <h2 class="layout__@large-start-two layout__span-two layout__@large-span-three heading heading--four">Results for ‘{{ search_query }}’ <span class="search__count">{{ count }}</span></h2>
                        </div>
                        {% endwith %}
                    </div>
                {% endif %}

                <div class="search-list section__row">

                    {% get_search_promotions search_query as search_picks %}

                    {% if search_picks %}
                        <ul class="search-list__results search-list__results--pick">
                            {% for pick in search_picks %}
                                <li class="search-list__item--pick">
                                    {% include "patterns/molecules/search-result/search-result.html" with result=pick.page search_pick=True %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if search_results %}
                        <ul class="search-list__results search-list__results--bottom-margin">
                            {% for result in search_results %}
                                <li class="search-list__item">
                                    {% include "patterns/molecules/search-result/search-result.html" with result=result.specific %}
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="search-list__pagination">
                            {% include "patterns/molecules/pagination/pagination.html" with paginator_page=search_results %}
                        </div>

                    {% elif search_query and not search_picks %}
                        <div class="search-list__no-results grid">
                            <div class="layout__@large-start-two layout__span-two">
                                {% include "patterns/molecules/no-results/no-results--no-filters.html" %}
                            </div>
                        </div>
                    {% endif %}

                </div>

            </section>

        </div>
    </div>


{% endblock %}
