{% extends "patterns/base_page.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}{% if search_query %}Search results for &ldquo;{{ search_query }}&rdquo;{% else %}Search{% endif %}{% endblock %}

{% block content %}

    <div class="page">

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--index grid">
                <div class="title-area__content">
                    <h1 class="title-area__heading heading heading--display-two">Search results</h1>
                    <form action="{% url 'search' %}" method="get" role="search">
                        <input type="text" placeholder="Search…" name="q"{% if search_query %} value="{{ search_query }}"{% endif %}>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </header>
        <div class="page__content">

            <section class="section bg bg--light">

                {% if search_query %}
                    {% with count=search_results.paginator.count %}
                        <div class="search__header grid">
                            <h2 class="layout__@large-start-two layout__@large-span-three">Results for ‘{{ search_query }}’ {{ count }}</h2>
                        </div>
                    {% endwith %}
                {% endif %}

                {% comment %}{% get_search_promotions search_query as search_picks %}{% endcomment %}

                {% if search_picks %}
                    <ul class="grid">
                        {% for pick in search_picks %}
                            <li class="layout__@large-start-two layout__@large-span-three">
                                {% include "patterns/molecules/search-result/search-result.html" with result=pick.specific search_pick=True %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if search_results %}

                    <ul class="grid">
                        {% for result in search_results %}
                            <li class="layout__@large-start-two layout__@large-span-three">
                                {% include "patterns/molecules/search-result/search-result.html" with result=result.specific %}
                            </li>
                        {% endfor %}
                    </ul>

                    {% include "patterns/molecules/pagination/pagination.html" with paginator_page=search_results %}

                {% elif search_query and not search_picks %}
                    No results found.
                {% endif %}

            </section>

        </div>
    </div>


{% endblock %}
