{% load wagtailcore_tags wagtailimages_tags %}

<div class="related-content">
    <div class="section__row grid">
        <h2 class="related-content__heading heading heading--two">{{ title }}</h2>
    </div>

    {% if related_sections %}

        {% for related_section in related_sections %}
            <div class="related-content__group" data-group="{{ forloop.counter }}">
                <div class="section__row grid">
                    <h3 class="related-content__subheading heading heading--five">{{ related_section.title }}</h3>
                </div>

                <div class="grid">

                    {% for related_item in related_items %}
                        <div class="related-content__meta">
                            <p class="related-content__title body body--one">
                                <a
                                    href="#"
                                    class="related-content__link"
                                    data-related-title
                                    data-target-image="{{ forloop.counter }}"
                                    data-parent-group={{ forloop.parentloop.counter }}
                                >
                                    <span class="related-content__link-text">{{ related_item.title }}</span>
                                    <svg width="12" height="8" class="related-content__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                                </a>
                            </p>
                            <p class="related-content__degree body body--two">{{ related_item.degree }}</p>
                        </div>
                        <p class="related-content__copy body body--two">{{ related_item.copy }}</p>
                    {% endfor %}

                    {% for related_item in related_items %}
                        <div class="related-content__image-container">
                            {% image related_item.img fill-250x250 as relatedImage %}
                            <img class="related-content__image {% if forloop.first %}is-visible{% endif %}" src="{{ relatedImage.img }}" height="{{ relatedImage.height }}" width="{{ relatedImage.width }}" alt="{{ relatedImage.alt }}" data-image="{{ forloop.counter }}">
                        </div>
                    {% endfor %}

                </div>

            </div>
        {% endfor  %}
    {% endif %}


</div>
