{% load wagtailcore_tags wagtailimages_tags %}

<div class="related-content {% if modifier %}related-content--{{ modifier }}{% endif %}">
    {% if title %}
        <div class="section__row grid">
            <h2 class="related-content__heading heading heading--two">{{ title }}</h2>
        </div>

    {% endif %}

    {% for related_section in related_sections %}

        <div class="related-content__group" data-group="{{ forloop.counter }}">

            {% if programme_page_global_fields.related_content_subtitle or related_section.title %}
                <div class="section__row grid">
                    {% if programme_page_global_fields.related_content_subtitle %}
                        <h3 class="related-content__subheading heading heading--five">{{ programme_page_global_fields.related_content_subtitle }}</h3>
                    {% elif related_section.title or related_section.subtitle %}
                        <h3 class="related-content__subheading heading heading--five">{% firstof related_section.subtitle related_section.title %}</h3>
                    {% endif %}
                </div>
            {% endif %}

            <div class="grid">
                {% for related_item in related_section.related_items %}
                    <div class="related-content__meta">
                        <p class="related-content__title body body--one">
                            <a
                                href="{% pageurl related_item %}"
                                class="related-content__link link link--tertiary"
                                data-related-title
                                data-target-image="{{ forloop.counter }}"
                                data-parent-group={{ forloop.parentloop.counter }}
                            >
                                {{ related_item.title }}
                            </a>
                        </p>
                        {% if related_item.degree_level %}
                            <p class="related-content__degree body body--two">{{ related_item.degree_level }}</p>
                        {% endif %}
                    </div>
                    <p class="related-content__copy body body--two">
                        {% firstof related_item.programme_description_subtitle related_item.introduction related_item.listing_summary %}
                    </p>
                    {% image related_item.hero_image fill-500x500 as programme_image %}
                    <div class="related-content__image-container">
                        <img class="related-content__image {% if forloop.first %}is-visible{% endif %}" src="{{ programme_image.url }}" alt="{{ programme_image.alt }}" data-image="{{ forloop.counter }}">
                    </div>
                {% endfor %}
            </div>
            {% if related_section.link.url and related_section.link.title  %}
                <div class="grid">
                    <div class="section__action">
                        <a class="link link--secondary link--link body body--one" href="{{ related_section.link.url }}">
                            <span class="link__label">{{ related_section.link.title }}</span>
                            <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor  %}
</div>
