{% load wagtailcore_tags wagtailimages_tags %}

<div class="related-content">
    {% if title %}
    <div class="section__row grid">
        <h2 class="related-content__heading heading heading--two">{{ title }}</h2>
    </div>
    {% endif %}

        {% for related_section in related_sections %}
            <div class="related-content__group" data-group="{{ forloop.counter }}">
                <div class="section__row grid">
                    <h3 class="related-content__subheading heading heading--five">{{ programme_page_global_fields.related_content_subtitle }}</h3>
                </div>

                <div class="grid">
                    {% for related_item in related_section.related_items %}
                        <div class="related-content__meta">
                            <p class="related-content__title body body--one">
                                <a
                                    href="{% pageurl related_item %}"
                                    class="link link--tertiary"
                                    data-related-title
                                    data-target-image="{{ forloop.counter }}"
                                    data-parent-group={{ forloop.parentloop.counter }}
                                >
                                    {{ related_item.title }}
                                </a>
                            </p>
                            <p class="related-content__degree body body--two">{{ related_item.degree_level }}</p>
                        </div>
                        <p class="related-content__copy body body--two">
                            {{ related_item.programme_description_subtitle }}
                        </p>
                        {% image related_item.hero_image fill-500x500 as programme_image %}
                        <div class="related-content__image-container">
                            <img class="related-content__image {% if forloop.first %}is-visible{% endif %} slide__image" src="{{ programme_image.url }}" alt="{{ programme_image.alt }}" data-image="{{ forloop.counter }}">
                        </div>
                    {% endfor %}

                </div>

            </div>
        {% endfor  %}
</div>
