{% load wagtailcore_tags wagtailimages_tags %}

<div class="related-content">
    <div class="section__row grid">
        <h2 class="related-content__heading heading heading--two">{{title}}</h2>
    </div>

    {% if related_sections %}

        {% for related_section in related_sections %}
            <div class="related-content__group">
                <div class="section__row grid">
                    <h3 class="related-content__subheading heading heading--five">{{related_section.title}}</h3>
                </div>

                {% for related_item in related_items %}
                    <div class="section-row grid">
                        <div class="related-content__meta">
                            <p class="related-content__title body body--one"><a href="#">{{related_item.title}}</a></p>
                            <p class="related-content__degree">{{related_item.degree}}</p>
                        </div>
                        <p class="related-content__copy">{{related_item.copy}}</p>
                        {% if forloop.first %}
                            <div class="related-content__image-container">
                                {% image specific_related_page.listing_image fill-300x270 %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor  %}
    {% endif %}


</div>
