{% load wagtailcore_tags wagtailimages_tags %}

<div class="related-content {% if modifier %}related-content--{{ modifier }}{% endif %}">
    {% if title %}
        <div class="section__row grid">
            <h2 class="related-content__heading heading heading--two">{{ title }}</h2>
        </div>
    {% endif %}

    {% for related_section in related_sections %}

        <div class="related-content__group" data-group="{{ forloop.counter }}">

            {% if programme_page_global_fields.related_content_subtitle or related_section.title %}
                <div class="section__row grid">
                    {% if programme_page_global_fields.related_content_subtitle %}
                        <h3 class="related-content__subheading heading heading--five">{{ programme_page_global_fields.related_content_subtitle }}</h3>
                    {% elif related_section.title or related_section.subtitle %}
                        <h3 class="related-content__subheading heading heading--five">{% firstof related_section.subtitle related_section.title %}</h3>
                    {% endif %}
                </div>
            {% endif %}

            <div class="related-content__listing">

                {% for related_item in related_section.related_items %}
                    <div class="related-content__item grid" typeof="schema:Course">
                        <meta property="schema:provider" content="Royal College of Art" />
                        <div class="related-content__meta">
                            <h3 class="related-content__title body body--one" property="schema:name">
                                <a
                                    href="{{ related_item.url }}"
                                    class="related-content__link"
                                    data-related-title
                                    data-target-image="{{ forloop.counter }}"
                                    data-parent-group="{{ forloop.parentloop.counter }}"
                                >
                                    <span class="related-content__link-text">{{ related_item.title }}</span>
                                    <svg width="12" height="8" class="related-content__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                                </a>
                            </h3>
                            {% with programme_types=related_item.programme_types.all %}
                                {% if related_item.degree_level %}
                                    <p class="related-content__degree body body--two" property="schema:EducationalCredentialAwarded">{{ related_item.degree_level }}</p>
                                {% elif programme_types %}
                                    {% if related_item.booking_summary %}
                                        <p class="related-content__degree body body--two">{{ related_item.booking_summary }}</p>
                                    {% else %}
                                        <p class="related-content__degree body body--two">
                                            {% for item in programme_types %}
                                                {{ item.programme_type.display_name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                {% elif related_item.meta %}
                                    <p class="related-content__degree body body--two">{{ related_item.meta }}</p>
                                {% elif related_item.get_verbose_name == 'Guide page' %}
                                    <p class="related-content__degree body body--two">Guide</p>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <p class="related-content__copy body body--two" property="schema:description">
                            {% firstof related_item.programme_description_subtitle related_item.introduction|default:''|striptags related_item.listing_summary %}
                        </p>
                        {# we are re-using this component for some page types that don't have hero images :/ #}
                        {% if related_item.hero_image %}
                            {% image related_item.hero_image fill-500x500 as programme_image %}
                        {% else %}
                            {% image related_item.listing_image fill-500x500 as programme_image %}
                        {% endif %}
                        <div class="related-content__image-container">
                            <img class="related-content__image {% if forloop.first %}is-visible{% endif %}" src="{{ programme_image.url }}" alt="{{ programme_image.alt }}" data-image="{{ forloop.counter }}" property="schema:image">
                        </div>
                    </div>
                {% endfor %}

            </div>
            {% if related_section.link.url and related_section.link.title or related_section.page_link  %}
                <div class="grid">
                    <div class="related-content__action section__action">
                        <a class="link link--secondary link--link body body--one" href="{% firstof related_section.link.url related_section.page_link.url %}">
                            <span class="link__label">{% firstof related_section.link.title related_section.page_link.title 'Read more' %}</span>
                            <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor  %}
</div>
