{% load wagtailcore_tags wagtailimages_tags static %}

<div class="profile-detail">
    {% if item.link %}
    <a href="{{ item.link }}" class="profile-detail__container">
    {% endif %}

    {% if item.image %}
        {% image item.image fill-50x50 as image_small %}
        {% image item.image fill-277x277 as image_large %}
    {% endif %}

    {% if item.image %}
        {% include "patterns/atoms/image/image--lazyload.html" with image_small=image_small width=277 height=277 image_large=image_large classList='profile-detail__image' %}
    {% else %}
        <img src="{% static "images/author_placeholder.png" %}" alt="" class="profile-detail__image profile-detail__image--placeholder">
    {% endif %}

    <div class="profile-detail__content">
        <div class="profile-detail__overview">
            <div class="profile-detail__header">
                <h3 class="profile-detail__heading heading heading--five">{{ item.name }}</h3>
            </div>
            <h4 class="profile-detail__job-title body body--one">{{ item.role }}</h4>
        </div>
        <div class="profile-detail__more">
            <p class="profile-detail__body body body--two">{{ item.description }}</p>
            {% if item.link %}
                <span class="profile-detail__link body body--two link link--tertiary link--link">
                    <span class="link__label">View full profile</span>
                    <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                </span>
            {% endif %}
        </div>
    </div>

    {% if item.link %}
    </a>
    {% endif %}
</div>
