{% load wagtailcore_tags wagtailimages_tags static util_tags %}

{% with item.page.specific as staff_page %}
<div class="profile-detail" typeof="schema:Person">
    {% if item.link %}
        {% is_external item.link as is_external %}
        <a href="{{ item.link }}" {% if is_external %} target="_blank" {% endif %} class="profile-detail__container profile-detail__container--link" property="schema:url">
    {% elif staff_page %}
        <a href="{{ staff_page.url }}" class="profile-detail__container profile-detail__container--link" property="schema:url">
    {% else %}
        <div class="profile-detail__container">
    {% endif %}

    {% if staff_page.profile_image %}
        {% image staff_page.profile_image fill-50x50 as image_small %}
        {% image staff_page.profile_image fill-277x277 as image_large %}
    {% endif %}

    {% if item.image %}
        {% image item.image fill-50x50 as image_small %}
        {% image item.image fill-277x277 as image_large %}
    {% endif %}

    {% if item.image or staff_page.profile_image %}
        {% include "patterns/atoms/image/image--lazyload.html" with image_small=image_small width=277 height=277 image_large=image_large classList='profile-detail__image' %}
    {% else %}
        <img src="{% static "images/author_placeholder.png" %}" alt="" class="profile-detail__image profile-detail__image--placeholder">
    {% endif %}

    <div class="profile-detail__content">
        <div class="profile-detail__overview">
            {% if item.first_name or item.name or staff_page %}
                <div class="profile-detail__header">
                    {% if item.first_name or item.name %}
                    <h3 class="profile-detail__heading heading heading--five" property="schema:name">
                    {% firstof item.first_name item.name %} {{ item.surname }}</h3>
                    {% elif staff_page %}
                        <h3 class="profile-detail__heading heading heading--five" property="schema:name">{% if staff_page.staff_title %}{{ staff_page.staff_title }} {% endif %}{{ staff_page.first_name }} {{ staff_page.last_name }}</h3>
                    {% endif %}
                </div>
            {% endif %}
            {% if item.role or staff_page %}
                <p class="profile-detail__job-title body body--one" property="schema:jobTitle">{% firstof item.role staff_page.roles.first.role %}</p>
            {% endif %}
        </div>
        <div class="profile-detail__more">
            <p class="profile-detail__body body body--two" property="schema:description">{% firstof item.description staff_page.introduction %}</p>
            {% if item.link or staff_page %}
                <span class="profile-detail__link body body--two link link--tertiary link--link {% if is_external %}link--external{% endif %}">
                    <span class="link__label">View full profile</span>
                    <svg {% if is_external %}width="11" height="13"{% else %}width="12" height="8"{% endif %} class="link__icon" aria-hidden="true"><use xlink:href="{% if is_external %}#arrow-external{% else %}#arrow{% endif %}"></use></svg>
                </span>
            {% endif %}
        </div>
    </div>

    {% if item.link or staff_page %}
        </a>
    {% else %}
        </div>
    {% endif %}
</div>
{% endwith %}
