{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}app--homepage{% endblock %}

{% block content %}

    {% include "patterns/molecules/hero/hero--home.html" %}

    <div class="page page--overlay" id="content">

        {% include "patterns/molecules/hero-action-pane/hero-action-pane.html" %}

        <div class="page__content">

            <section class="section section--start bg bg--dark">

                <div class="proposition-statement grid">
                    <div class="proposition-statement__introduction">The world’s number 1 art & design university</div>
                    <a href="#" class="proposition-statement__link link link--primary link--link body body--two">
                        <span class="link__label">Book an open day</span>
                        <svg width="12" height="8" class="link__icon"><use xlink:href="#arrow"></use></svg>
                    </a>
                </div>

                <div class="section__notch">
                    <div class="section__notch-fill section__notch-fill--second-col"></div>
                </div>

            </section>

            <section class="section bg bg--light">
                {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=False %}
            </section>

            <section class="section bg bg--dark">

                Alumni stories

            </section>

            {% include "patterns/organisms/stat-block/stat-block.html" %}

            <section class="section bg bg--light">

                Partnership module

            </section>

            <section class="section section--end bg bg--dark">

                <div class="section__notch section__notch--top">
                    <div class="section__notch-fill section__notch-fill--third-col"></div>
                </div>

                <div class="section__container">

                    <header class="section__header grid">
                        <h3 class="section__heading section__heading--primary heading heading--two">News & events</h3>
                    </header>

                    <div class="section__content grid">
                        {% include "patterns/organisms/news/news.html" %}
                    </div>

                </div>
            </section>

        </div>

    </div>

{% endblock %}
