{% include "patterns/molecules/streamfield/blocks/anchor_heading_block.html" with value="Introduction" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/anchor_heading_block.html" with value="Article one" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/jw_player_block.html" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/anchor_heading_block.html" with value="Article two"  %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/quote_block.html" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
