{% include "patterns/molecules/streamfield/blocks/anchor_heading_block.html" with title="Introduction" id="introduction" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/anchor_heading_block.html" with title="Article 1" id="article-two" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/anchor_heading_block.html" with title="Article 2" id="article-two" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/quote_block.html" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}