{% include "patterns/molecules/streamfield/blocks/anchor_heading_block.html" with value=first_heading %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/anchor_heading_block.html" with value=second_heading %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/anchor_heading_block.html" with value=third_heading %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}
{% include "patterns/molecules/streamfield/blocks/quote_block.html" %}
{% include "patterns/molecules/streamfield/blocks/richtext_block.html" %}