{% load wagtailcore_tags %}
<nav role="navigation" aria-label="Primary">
    <ul class="nav nav--primary" role="menubar">
        {% for link in primarynav %}
            <li class="" role="menuitem">
                <a href="{{ link.url }}" class="">
                    <span class="">{{ link.text }}</span>
                </a>
                {% if link.secondary_links %}
                    <ul class="list">
                        {% for item in link.secondary_links %}
                            <li class="">
                                <a href="{{ item.url }}" class="">
                                    <span class="">{{ item.text }}</span>
                                </a>
                                {% if item.tertiary_links %}
                                    <ul class="list">
                                        {% for tertiary_item in item.tertiary_links %}
                                            <li class="">
                                                <a href="{{ tertiary_item.url }}" class="">
                                                    <span class="">{{ tertiary_item.text }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>
</nav>
