{% load wagtailcore_tags %}
<div class="header__inner header__inner--level-zero">
    {% include 'patterns/atoms/logo/logo.html' %}
    {% include 'patterns/molecules/menu-toggle/menu-toggle.html' with modifier="header__menu-toggle--small" %}
    {% include 'patterns/atoms/back-link/back-link.html' %}
    {% include 'patterns/molecules/navigation/standoutnav.html' with modifier="nav--standout-desktop" %}
    <div class="app__search app__search--tablet">
        {% include 'patterns/molecules/search/search.html' with search_id="searchMobile" %}
    </div>
</div>
<div class="header__inner header__inner--inline header__inner--container">
    <div class="header__navigation-toggle">
        {% include 'patterns/molecules/menu-toggle/menu-toggle.html' with modifier="header__menu-toggle--medium" %}
        {% include 'patterns/molecules/search-toggle/search-toggle.html' %}

        <a class="header__menu-close" href="#" aria-label="Close menu" data-close-menu>
            <svg width="14" height="14"><use xlink:href="#close"></use></svg>
        </a>
    </div>

    <div class="header__inner header__inner--inline header__inner--menu-container">

        <!-- Level 1 -->
        <div class="header__inner header__inner--level-one" data-nav-level-1>
            <nav aria-label="Primary navigation">
                <ul data-ul="1" class="nav nav--primary" role="menubar">
                    {% for link in primarynav %}
                        <li class="nav__item nav__item--primary" role="presentation">

                            <!-- Level 1 <a> -->
                            {% if link.secondary_links %}
                                <a
                                    href="#"
                                    class="nav__link nav__link--with-links"
                                    data-drill-down
                                    data-nav-level="1"
                                    data-menu="{{ forloop.counter }}"
                                    data-menu-id={{ forloop.counter }}
                                    {% if link.secondary_links %}data-menu-parent{% endif %}
                                    aria-label="{{ link.text }} submenu"
                                >
                                    <span>{{ link.text }}</span>

                                    <svg class="nav__icon" width="15" height="15"><use xlink:href="#chevron"></use></svg>
                                </a>
                            {% else %}
                                <a
                                    href="{{ link.url }}"
                                    class="nav__link"
                                    data-nav-level="1"
                                    data-menu="{{ forloop.counter }}"
                                    data-menu-id={{ forloop.counter }}
                                    {% if link.secondary_links %}data-menu-parent{% endif %}
                                    role="menuitem"
                                >
                                    <span>{{ link.text }}</span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="app__search app__search--desktop" data-search-desktop>
                {% include 'patterns/molecules/search/search.html' with search_id="searchDesktop" %}
            </div>
        </div>

        <!-- Level 2 -->
        <div class="header__inner header__inner--drawer header__inner--level-two" data-nav-level-2>
            {% for link in primarynav %}
                {% if link.secondary_links %}
                    <ul data-ul="2" data-menu-{{ forloop.counter }} class="nav nav--subnav" role="menu">

                        <li class="nav__item nav__item--secondary" role="presentation">
                            <a
                                href="{{ link.url }}"
                                class="nav__link nav__link--standout nav__link--bold"
                                data-nav-level="2"
                                data-menu="{{ forloop.counter }}"
                                data-menu-id={{ forloop.counter }}
                                {% if link.secondary_links %}data-menu-parent{% endif %}
                                role="menuitem"
                            >
                                <span>{{ link.text }}</span>
                            </a>
                        </li>

                        {% for item in link.secondary_links %}
                            <li class="nav__item nav__item--secondary" role="presentation">

                                {% if item.tertiary_links %}
                                    <a
                                        href="#"
                                        class="nav__link nav__link--with-links"
                                        data-menu-child
                                        data-drill-down
                                        data-nav-level="2"
                                        data-parent-id="{{ forloop.parentloop.counter }}"
                                        data-menu-id="{{ forloop.parentloop.counter}}-{{ forloop.counter }}"
                                        data-menu="{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                                        {% if item.tertiary_links %}data-menu-parent{% endif %}
                                        aria-label="{{ link.text }} submenu"
                                    >
                                        <span>{{ item.text }}</span>

                                        <svg class="nav__icon" width="15" height="15"><use xlink:href="#chevron"></use></svg>
                                    </a>
                                {% else %}
                                    <a
                                        href="{{ item.url }}"
                                        class="nav__link"
                                        data-menu-child
                                        data-nav-level="2"
                                        data-parent-id="{{ forloop.parentloop.counter }}"
                                        data-menu-id="{{ forloop.parentloop.counter}}-{{ forloop.counter }}"
                                        data-menu="{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                                        {% if item.tertiary_links %}data-menu-parent{% endif %}
                                        role="menuitem"
                                    >
                                        <span>{{ item.text }}</span>
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Level 3 -->
        <div class="header__inner header__inner--drawer header__inner--level-three" data-nav-level-3>
            {% for link in primarynav %}
                    {% for item in link.secondary_links %}
                        {% if item.tertiary_links %}
                            <ul data-ul="3" data-menu-{{ forloop.parentloop.counter }}-{{ forloop.counter }} class="nav nav--subnav" role="menu">

                                <li role="presentation">
                                    <a
                                        href="{{ item.url }}"
                                        class="nav__link nav__link--standout nav__link--bold"
                                        data-nav-level="3"
                                        data-menu="{{ forloop.counter }}"
                                        data-menu-id={{ forloop.counter }}
                                        {% if link.secondary_links %}data-menu-parent{% endif %}
                                        role="menuitem"
                                    >
                                        <span>{{ item.text }}</span>
                                    </a>
                                </li>

                                {% for tertiary_item in item.tertiary_links %}
                                    <li role="presentation">
                                        <!-- Level 3 <a> -->
                                        <a
                                            href="{{ tertiary_item.url }}"
                                            class="nav__link"
                                            data-menu-child
                                            data-nav-level="3"
                                            data-menu="{{ forloop.parentloop.parentloop.counter }}"
                                            data-menu-id="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                                            data-parent-id="{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}"
                                            role="menuitem"
                                        >
                                            <span>{{ tertiary_item.text }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
            {% endfor %}
        </div>
        {% include 'patterns/molecules/navigation/standoutnav.html' with modifier="nav--standout-mobile" %}
    </div>
</div>
