{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings use_default_site=True %}

<ul class="nav nav--standout {{ modifier }}">
    <li>
        <a class="nav__link nav__link--base link link--link" href="/register-your-interest/">
            <span class="link__label nav__link-text">Register your interest in studying</span>
            <svg width="12" height="8" class="nav__link-icon link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
        </a>
    </li>
    <li>
        <a class="nav__link nav__link--base link link--link" href="/more/support-generationrca/">
            <span class="link__label nav__link-text">Support GenerationRCA</span>
            <svg width="12" height="8" class="nav__link-icon link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
        </a>
    </li>
    {% if not settings.utils.ProgrammeSettings.disable_apply_tab %}
        <li>
            <a class="nav__link nav__link--base nav__link--standout link link--link" href="https://applicant-portal.rca.ac.uk/">
                <span class="link__label nav__link-text">Visit our Applicant Portal</span>
                <svg width="12" height="8" class="nav__link-icon link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
            </a>
        </li>
    {% endif %}
</ul>
