{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings use_default_site=True %}

<ul class="nav nav--standout {{ modifier }}">
    <li>
        <a class="nav__link nav__link--base link link--link" href="/contact-us/enquire-study/">
            <span class="link__label">Enquire to study</span>
            <svg width="12px" height="8px" class="link__icon"><use xlink:href="#arrow"></use></svg>
        </a>
    </li>
    <li>
        <a class="nav__link nav__link--base link link--link" href="/more/support-generationrca/">
            <span class="link__label">Support GenerationRCA</span>
            <svg width="12px" height="8px" class="link__icon"><use xlink:href="#arrow"></use></svg>
        </a>
    </li>
    {% if not settings.utils.ProgrammeSettings.disable_apply_tab %}
        <li>
            <a class="nav__link nav__link--base nav__link--standout link link--link" href="//applications.rca.ac.uk/">
                <span class="link__label">Visit our application portal</span>
                <svg width="12px" height="8px" class="link__icon"><use xlink:href="#arrow"></use></svg>
            </a>
        </li>
    {% endif %}
</ul>
