{% load wagtailimages_tags %}

<div class="slide {% if slide.author %}slide--author{% endif %}" data-slide>

    {% image slide.image fill-100x71 as image_small %}
    {% image slide.image fill-829x585 as image_large %}

    {% include "patterns/atoms/image/image--lazyload.html" with image_small=image_small width=829 height=585 image_large=image_large classList='slide__image' %}

    <div class="slide__meta">
        <h2 class="slide__heading">{{ slide.title }}</h2>
        {% if slide.author %}
            <div class="slide__author-info">
                {% if slide.link %}
                    <a class="slide__link" href="{{ slide.link }}">
                {% endif %}
                    <h3 class="slide__author">{{ slide.author }}</h3>
                {% if slide.link %}
                    </a>
                {% endif %}
                <p class="slide__author-course">{{ slide.course }}</p>
            </div>
        {% endif %}
    </div>
</div>
