{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with modifier="programme" %}

    <div class="page page--overlap grid">
        <header class="page__header">
            <nav class="page__breadcrumb">
                {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
            </nav>
            <h1 class="page__header heading heading--display-two">{{ page.title }}</h1>
            <p class="page__introduction introduction">MA</p>
        </header>
        <div class="page__content">
            Rest of the page goes in here
        </div>
    </div>

{% endblock %}
