{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block header_class %}
    theme-{{ hero_colour }}
{% endblock %}
{% block content %}

    {% include "patterns/molecules/hero/hero.html" with modifier="programme" %}

    <div class="page page--overlap" vocab="http://schema.org/" typeof="Course">

        <div class="page__notch grid">
            <div class="page__notch-block bg bg--dark"></div>
        </div>

        <header class="page__header bg bg--dark">
            <div class="title-area grid">
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
                    </nav>
                    <h1 itemprop="name" class="title-area__header heading heading--display-two">{{ page.title }}</h1>
                    <p class="title-area__introduction introduction">{{ page.degree_level }}</p>
                </div>
            </div>
        </header>

        <div class="page__content">

            <div class="tabs js-tabs">

                {% include "patterns/molecules/tab-nav/tab-nav.html" with modifier="bg bg--dark" sticky="true" %}

                <div class="tabs__panel js-tab-panel" id="overview" role="tabpanel" aria-labelledby="overview">
                    {% include "patterns/organisms/programme_tabs/programme_overview.html" %}
                </div>
                <div class="tabs__panel tabs__panel--hidden js-tab-panel" id="curriculum" role="tabpanel" aria-labelledby="curriculum">
                    {% include "patterns/organisms/programme_tabs/curriculum.html" with curriculum_image=page.curriculum_image subheading=page.curriculum_subtitle copy=page.curriculum_text caption=page.curriculum_video_caption video=page.curriculum_video %}
                </div>

                <div class="tabs__panel tabs__panel--hidden js-tab-panel" id="requirements" role="tabpanel" aria-labelledby="requirements">
                    {% include "patterns/organisms/programme_tabs/requirements.html" %}
                </div>
                <div class="tabs__panel tabs__panel--hidden js-tab-panel" id="fees-funding" role="tabpanel" aria-labelledby="fees-funding">
                    {% include "patterns/organisms/programme_tabs/fees-and-funding.html" %}
                </div>
                <div class="tabs__panel tabs__panel--hidden js-tab-panel" id="apply" role="tabpanel" aria-labelledby="apply">
                    {% include "patterns/organisms/programme_tabs/apply.html" %}
                </div>

                <section class="section bg bg--light">
                    <div class="contact-anchor" id="contact"></div>
                    <div class="section__container">
                        {% include "patterns/organisms/contact/contact.html" with heading='Ask a question' text="Get in touch if you’d like to find out more or have any questions." image=page.contact_image %}
                    </div>
                </section>

                <section class="section bg bg--dark">
                    <div class="section__notch">
                        <div class="section__notch-fill section__notch-fill--third-col"></div>
                    </div>
                    <div class="section__container">
                        {% include "patterns/molecules/relatedcontent/relatedprogrammes.html" with title="More opportunities to study at the RCA" %}
                    </div>
                </section>

            </div>
        </div>
    </div>

{% endblock %}
