{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block header_class %}
    theme-light
{% endblock %}

{% block content %}
    <div class="page">

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--index grid">
                <div class="title-area__content">
                    <h1 class="title-area__header heading heading--display-two">{{ title_multiline|linebreaksbr }}</h1>
                </div>
                <div class="title-area__aside">
                    {{ page.introduction|richtext }}
                </div>
            </div>
        </header>

        <div class="page__content">

            {% comment %}
            {% if subpages %}
                <div class="grid">
                    {% if subpages.object_list.exists %}
                        {% for subpage in subpages.object_list.specific %}
                            <a class="card-with-image" href="{% pageurl subpage %}">
                                {% if subpage.hero_image %}
                                    {% image subpage.hero_image fill-500x500 %}
                                {% else %}
                                    {# Add a default image here #}
                                {% endif %}
                                <div class="card">
                                    <h3>
                                        {% firstof subpage.listing_title subpage.title %}
                                    </h3>
                                    {% if subpage.listing_summary or subpage.introduction %}
                                        <p>{% firstof subpage.listing_summary subpage.introduction %}</p>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        {# no items on this page #}
                    {% endif %}
                </div>

                {% include "patterns/molecules/pagination/pagination.html" with paginator_page=subpages %}

            {% else %}
                {# no items on any page #}
            {% endif %}
            {% endcomment %}

            <div data-mount-programmes></div>

            <section class="section section--end bg bg--light">
                <div class="section__content">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </section>

            <section class="section bg bg--light">
                <div class="section__container">
                    {% include "patterns/organisms/contact/contact.html" with heading='Contact us' text="If you want to register your interest about joining the RCA and receive updates from the RCA and its community." image=page.contact_image %}
                </div>
            </section>

        </div>
    </div>
{% endblock %}
