{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with modifier="programme" %}

    <div class="page page--overlap">

        <div class="page__notch grid">
            <div class="page__notch-block bg bg--dark"></div>
        </div>

        <header class="page__header bg bg--dark">
            <div class="title-area grid">
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
                    </nav>
                    <h1 class="title-area__header heading heading--display-two">{{ page.title }}</h1>
                    <p class="title-area__introduction introduction">{{page.degree_level}}</p>
                </div>
            </div>
        </header>

        <div class="page__content">

            <div class="tabs js-tabs">

                {% include "patterns/molecules/tab-nav/tab-nav.html" with modifier="bg bg--dark" sticky="true" %}

                <div class="tabs__panel js-tab-panel" id="tab-panel-programme-overview" role="tabpanel" aria-labelledby="programme-overview">
                    {% include "patterns/organisms/programme_tabs/programme_overview.html" %}
                </div>
                <div class="tabs__panel js-tab-panel" id="tab-panel-curriculum" role="tabpanel" aria-labelledby="curriculum">
                    {% include "patterns/organisms/programme_tabs/curriculum.html" %}
                </div>
                <div class="tabs__panel js-tab-panel" id="tab-panel-requirements" role="tabpanel" aria-labelledby="requirements">
                    {% include "patterns/organisms/programme_tabs/requirements.html" %}
                </div>
                <div class="tabs__panel js-tab-panel" id="tab-panel-fees-and-funding" role="tabpanel" aria-labelledby="fees-and-funding">
                    {% include "patterns/organisms/programme_tabs/fees-and-funding.html" %}
                </div>
                <div class="tabs__panel js-tab-panel" id="tab-panel-apply" role="tabpanel" aria-labelledby="apply">
                    {% include "patterns/organisms/programme_tabs/apply.html" %}
                </div>

                <section class="section bg bg--light" id="contact">
                    <div class="section__container">
                        {% include "patterns/organisms/contact/contact.html" %}
                    </div>
                </section>

                <section class="section bg bg--dark">
                    <div class="section__notch">
                        <div class="section__notch-fill section__notch-fill--third-col"></div>
                    </div>
                    <div class="section__container">
                        {% include "patterns/molecules/relatedcontent/relatedcontent.html" %}
                    </div>
                </section>

            </div>
        </div>
    </div>

{% endblock %}
