<div class="accordion-block {% if course_type == 'short' %}accordion-block--large-heading{% endif %} {% if modifier %}{{ modifier }}{% endif %}">
    {% if title %}
        <div class="grid">
            <{% if parent_heading_override %}{{ parent_heading_override }}{% else %}h4{% endif %} class="accordion-block__heading heading {% if course_type == 'short' %}heading--two{% else %}heading--four{% endif %} {% if anchor_heading %}anchor-heading{% endif %}" {% if anchor_heading %}id="{{ section_id }}"{% endif %}>{{ title }}</{% if parent_heading_override %}{{ parent_heading_override }}{% else %}h4{% endif %}>
        </div>
    {% endif %}
    <div class="grid">
        {% for accordion in accordions %}
            {% include "patterns/molecules/accordion/accordion.html" with accordion=accordion.value scholarship=scholarship %}
        {% endfor %}
    </div>
</div>
