{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block body_class %}
    app--guide no-hero
{% endblock %}

{% block extra_js %}
    <script>
        window.bboxInit = function () {
           bbox.showForm('{{ page.form_id }}');
        };
        (function () {
           var e = document.createElement('script'); e.async = true;
           e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
           document.getElementsByTagName('head')[0].appendChild(e);
        } ());
    </script>
{% endblock extra_js %}

{% block content %}

    <div class="page page--no-hero">

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--guide grid">
                <div class="title-area__content">
                    <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                        {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
                    </nav>
                        <h1 class="title-area__heading heading heading--display-two" id="main-content">
                            {{ page.title }}
                        </h1>
                        <div class="title-area__meta">
                            Last updated {{ page.last_published_at|date:'j F Y' }}
                        </div>
                </div>
            </div>

                <div class="introduction introduction--indented grid">
                    {% if anchor_nav or page.contact_model_image %}
                        {% include "patterns/molecules/anchor-nav/anchor-nav.html" with anchor_nav=anchor_nav show_contact_block=page.contact_model_image  %}
                    {% endif %}
                    <div class="introduction__container">
                    {% if page.introduction %}
                        <h2 class="introduction__text section__heading heading heading--five">
                            {{ page.introduction }}
                        </h2>
                    {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <div class="page__content">

            <section class="section bg bg--light">

                <div class="section__notch">
                    <div class="section__notch-fill section__notch-fill--second-col"></div>
                </div>

                <div class="section__row {% if not related_staff %}section__row--last{% endif %} section__row--first grid">
                    <div class="streamfield rich-text layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                        {% include "patterns/molecules/streamfield/stream_block.html" with value=page.body guide_page=True %}
                    </div>
                </div>

            </section>
            <section class="section bg bg--dark">
                <div class="section__row section__row--last section__row--first grid">
                    <div class="streamfield rich-text layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                        <div class="donate-form anchor-heading" id="bbox-root"></div>
                    </div>
                </div>
            </section>
            {% if page.further_information %}
                <section class="section bg bg--dark">
                <div class="section__row section__row--last">
                        {% include "patterns/organisms/accordion-block/accordion-block.html" with accordion_id='1' accordions=page.further_information course_type="short" title=page.further_information_title anchor_heading=True section_id=page.further_information_title|slugify modifier="accordion-block--no-margin" %}
                </div>
                </section>
            {% endif %}


            {% if page.contact_model_image or page.contact_model_text or page.contact_model_email or page.contact_model_url or page.contact_model_form %}
                <section class="section bg bg--light">
                    <div class="contact-anchor anchor-heading" id="contact"></div>
                    <div class="section__row section__row--first">
                        {% include "patterns/organisms/contact/contact.html" with heading=page.contact_model_title text=page.contact_model_text image=page.contact_model_image anchor_heading=True %}
                    </div>
                </section>

                <section class="section bg bg--dark">
                    <div class="section__notch section__notch--large-only">
                        <div class="section__notch-fill section__notch-fill--third-col"></div>
                    </div>
                </section>
            {% endif %}

        </div>
    </div>
{% endblock %}
