{% load wagtailcore_tags navigation_tags %}

<div class="hero-action-pane grid">
    {% if page.hero_cta_url %}
        <div class="hero-action-pane__cta" data-parallax data-rellax-speed="-1">
            <a href="{{ page.hero_cta_url }}" class="hero-action-pane__cta-link">
                <div class="hero-action-pane__cta-heading">
                    {{ page.hero_cta_text }}
                </div>
                {% if page.hero_cta_sub_text %}
                    <div class="hero-action-pane__cta-sub-heading">
                        {{ page.hero_cta_sub_text }}
                    </div>
                {% endif %}
                <svg width="12" height="8" class="hero-action-pane__cta-icon"><use xlink:href="#arrow"></use></svg>
            </a>
        </div>
    {% endif %}
    
    <div class="hero-action-pane__links" data-parallax data-rellax-speed="-1">
        <button class="hero-action-pane__credit" aria-label="Show image credit" x-data="{ open: !false }"
        class="data-viewer__toggle" x-on:click="open = ! open" x-bind:class="! open ? 'hero-action-pane__credit--open' : ''">
            <svg class="hero-action-pane__credit-icon hero-action-pane__credit-icon--open" width="24" height="24" aria-hidden="true">
                <use xlink:href="#camera" />
            </svg>
            <svg class="hero-action-pane__credit-icon hero-action-pane__credit-icon--close" width="24" height="24" aria-hidden="true">
                <use xlink:href="#close" />
            </svg>
            <div class="hero-action-pane__credit-details">
                {% include 'patterns/atoms/image-info/image-info.html' with credit=page.hero_image_credit item=page.hero_image %}
            </div>
        </button>

        {% audience_links as links %}
        {% for value in links %}
            {% include 'patterns/atoms/audience-nav-item/audience-nav-item--desc.html' %}
        {% endfor %}
    </div>

</div>
