<div class="upcoming-dates">
    <div class="upcoming-dates__header">
        <div class="upcoming-dates__heading body body--two">Start date</div>
        <div class="upcoming-dates__heading body body--two">End date</div>
    </div>
    {% if page.get_manual_bookings %}
        <div class="upcoming-dates__content">
            {% for item in page.get_manual_bookings %}
                {% include 'patterns/molecules/upcoming-dates/date-row.html' with start_date=item.start_date end_date=item.end_date booking_link=item.booking_link register_interest_link=0 %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="upcoming-dates__footer">
        {% if page.show_register_link %}
            <div class="upcoming-dates__footer-action">
                <a class="upcoming-dates__footer-link link link--tertiary" href='{% firstof page.manual_registration_url register_interest_link %}'>Register your interest</a>
            </div>
        {% endif %}
        {% comment %} <div class="upcoming-dates__footer-action">
            <a class="upcoming-dates__footer-link link link--tertiary" href='#'>View basket (2)</a>
        </div> {% endcomment %}
    </div>

</div>
