{% load wagtailcore_tags %}
<div class="key-details key-details--centre">
    <div class="key-details__header">
        <h2 class="heading heading--five key-details__heading">Key details</h2>
    </div>
    {% if page.primary_staff_name or page.centre_address or page.centre_tel %}
        <div class="key-details__section key-details__section--contact">
            <ul class="key-details__list">
                {% if page.primary_staff_name %}
                    <li class="key-details__list-item">
                        {% if page.primary_staff_url %}
                            <a href="{{ page.primary_staff_url }}" class="link link--tertiary">
                        {% endif %}
                        {{ page.primary_staff_name }}
                        {% if page.primary_staff_url %}
                            </a>
                        {% endif %}
                        {% if page.primary_staff_role %}<p class="key-details__meta">{{ page.primary_staff_role }}</p>{% endif %}
                    </li>
                {% endif %}
                {% if page.centre_address %}
                    <li class="key-details__list-item key-details__list-item--tight">
                        <div class="u-paragraph-emulator">{{ page.centre_address|richtext }}</div>
                    </li>
                {% endif %}
                {% if page.centre_tel %}
                    <li class="key-details__list-item">
                        <p><a class="link link--tertiary" href="tel:{{ page.centre_tel|cut:" " }}">{% firstof page.centre_tel_display_text page.centre_tel %}</a></p>
                    </li>
                 {% endif %}
               </ul>
        </div>
    {% endif %}
    {% if page.twitter_username %}
        <div class="key-details__section key-details__section--twitter">
            <ul class="key-details__list">
                <li class="key-details__list-item">
                    <a href="http://www.twitter.com/{{ page.twitter_username }}" class="link link--tertiary link--link" target="_blank" rel="noopener">
                        <span class="link__label">Twitter</span>
                        <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
    {% if page.centre_email %}
        <div class="key-details__section key-details__section--email">
            <ul class="key-details__list">
                <li class="key-details__list-item">
                    <a class="key-details__link link link--secondary link--link" href="mailto:{{ page.centre_email }}">
                        <span class="link__label">{{ page.centre_email }}</span>
                        <svg width="8" height="12" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
