{% if related_schools or research_centres or areas or directorates or page.research_profile_url %}
    <div class="key-details key-details--staff">
        <div class="key-details__header">
            <h2 class="heading heading--five key-details__heading">Key details</h2>
        </div>
        {% if related_schools or research_centres or directorates %}
            <div class="key-details__section key-details__section--school">
                <h3 class="body body--two key-details__sub-heading">School, Centre or Area</h3>
                <ul class="key-details__list">
                    {% if related_schools  %}
                        {% for item in related_schools %}
                        <li class="key-details__list-item">
                            <a href="{{ item.page.url }}" class="link link--tertiary">{{ item.page.title }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    {% if research_centres %}
                        {% for item in research_centres %}
                        <li class="key-details__list-item">
                            <a href="{{ item.page.url }}" class="link link--tertiary">{{ item.page.title }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    {% if directorates %}
                        {% for item in directorates %}
                            <li class="key-details__list-item">
                                {# Link here depends on the staff picker page #}
                                <a href="{{ item.link }}" class="link link--tertiary">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {% if areas %}
            <div class="key-details__section key-details__section--expertise">
                <h3 class="body body--two key-details__sub-heading">Expertise</h3>
                <ul class="key-details__list">
                    {% for item in areas %}
                        <li class="key-details__list-item">
                        {# Link here depends on the staff picker page #}
                            <a href="{{ item.link }}" class="link link--tertiary">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if page.research_profile_url %}
            {% include 'patterns/atoms/link-primary/link-primary--external.html' with href=page.research_profile_url text="Research Profile" open_in_new_tab=True %}
        {% endif %}
    </div>
{% endif %}
