{% load wagtailcore_tags util_tags %}

{% if key_details %}
<div class="key-details">
    <div class="key-details__header">
        <h2 class="heading heading--five key-details__heading">Key details</h2>
    </div>
        <div class="key-details__section key-details__section--location">
            <h3 class="body body--two key-details__sub-heading">{{ item.title }}</h3>
            <ul class="key-details__list">
                <li class="key-details__list-item">
                    {{ key_details|richtext_force_external_links }}
                </li>
            </ul>
        </div>
</div>
{% endif %}
