{% load wagtailcore_tags %}
<div class="key-details {% if course_type == 'short' %}key-details--short{% endif %}">
    <div class="key-details__header">
        <h3 class="heading heading--five key-details__heading">Key details</h3>
    </div>
    {% if page.school_dean %}
        <h4 class="body body--two key-details__sub-heading">School Dean</h4>
        <div class="key-details__section key-details__section--school-dean">
            <a href="{% pageurl page.school_dean %}">{{ page.school_dean }}</a>
        </div>
    {% endif %}
    {% if page.location %}
        <h4 class="body body--two key-details__sub-heading">Location</h4>
        {{ page.location|richtext }}
    {% endif %}
    {% if page.next_open_day_start_date %}
        <h4 class="body body--two key-details__sub-heading">Next open day</h4>
        {% if page.next_open_day_end_date and page.next_open_day_start_date %}
            {{ page.next_open_day_start_date|date:'d' }} - {{ page.next_open_day_end_date|date:'d F' }}
        {% elif page.next_open_day_start_date %}
            {{ page.next_open_day_start_date|date:'d m Y' }}
        {% endif %}
        {% if open_day_link %}
            <p><a href="{{ open_day_link.get_link_url }}">{{ open_day_link.get_link_text }}</a></p>
        {% endif %}
    {% endif%}

    {% if page.get_in_touch %}
        <h4 class="body body--two key-details__sub-heading">Get in touch</h4>
        {{ page.get_in_touch|richtext }}
    {% endif %}

    {% if page.social_links %}
        <ul>
            {% for link in page.social_links %}
                <li>{{ link }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
