{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}
<!doctype html>
<html lang="en-US">
    <head>
        {# TODO fallbacks if page is not defined e.g. for 404 page #}
        <meta charset="utf-8" />
        <title>{% block title_prefix %}{% if request.site and page.pk == request.site.root_page.pk and request.site.site_name %}{{ request.site.site_name }} | {% endif %}{% endblock %}{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% if request.site and page.pk != request.site.root_page.pk and request.site.site_name %} | {{ request.site.site_name }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% comment %}
            Set "noindex" if the site is not being requested on a configured
            domain to prevent search engines crawling admin domains.
            This ignores ports for simplicity.
        {% endcomment %}
        {% if request.get_host != request.site.hostname %}
            <meta name="robots" content="noindex" />
        {% endif %}

        {% block meta_tags %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/2dc77ba2-6663-49b6-9e6c-aa009c06648b.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}{% endblock %}
    </head>

    <body class="app {% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}">
        {% block body_top %}{% endblock %}
        <div class="app__container">
            <div class="app__grid-lines" aria-hidden="true">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            {% include "patterns/atoms/sprites/sprites.html" %}

            {% wagtailuserbar %}

            <header class="app__header">
                {% block header %}{% endblock %}
            </header>

            <main class="app__content">
                {% block content %}
                    {{ pattern_library_rendered_pattern }}
                {% endblock %}
            </main>

            <footer class="app__footer">
                {% block footer %}{% endblock %}
            </footer>
        </div>

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>

