{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Preview</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <main>
            <div style="margin: 1rem;">
                {% block content %}
                    {% include template_name with value=value %}
                {% endblock %}
            </div>
        </main>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>