<div class="bg bg--dark">
    <div>
        {% include 'patterns/atoms/link-primary/link-primary.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--down.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--up.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--link.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--external.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--download.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--down.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--up.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--link.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--external.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--download.html' %}
    </div>
    <div aria-label="link tertiary">
        {% include 'patterns/atoms/link-tertiary/link-tertiary.html' %}
    </div>
    <div aria-label="link tertiary down">
        {% include 'patterns/atoms/link-tertiary/link-tertiary--down.html' %}
    </div>
    <div aria-label="link tertiary up">
        {% include 'patterns/atoms/link-tertiary/link-tertiary--up.html' %}
    </div>
    <div aria-label="link tertiary link">
        {% include 'patterns/atoms/link-tertiary/link-tertiary--link.html' %}
    </div>
    <div aria-label="link tertiary external">
        {% include 'patterns/atoms/link-tertiary/link-tertiary--external.html' %}
    </div>
    <div aria-label="link tertiary download">
        {% include 'patterns/atoms/link-tertiary/link-tertiary--download.html' %}
    </div>
    <div aria-label="link tertiary back">
        {% include 'patterns/atoms/link-tertiary/link-tertiary--back.html' %}
    </div>
</div>
<div class="bg bg--light">
    <div>
        {% include 'patterns/atoms/link-primary/link-primary.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--down.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--up.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--link.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--external.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-primary/link-primary--download.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--down.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--up.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--link.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--external.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-secondary/link-secondary--download.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-tertiary/link-tertiary.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-tertiary/link-tertiary--down.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-tertiary/link-tertiary--up.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-tertiary/link-tertiary--link.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-tertiary/link-tertiary--external.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-tertiary/link-tertiary--download.html' %}
    </div>
    <div>
        {% include 'patterns/atoms/link-tertiary/link-tertiary--back.html' %}
    </div>
</div>
