{% extends "patterns/base.html" %}
{% load wagtailcore_tags wagtailimages_tags util_tags static %}

{% block body_class %}
    app app--form no-hero theme-light
{% endblock %}

{% block content %}

    <div class="page page--no-hero">

        <div class="page__header bg bg--dark">
            <div class="title-area title-area--guide grid">
                <div class="title-area__content">
                    <h1 class="title-area__heading heading heading--display-two" id="main-content">
                        {{ settings.enquire_to_study.EnquireToStudySettings.thank_you_heading }}
                    </h1>
                    <div class="title-area__introduction introduction layout__@large-start-three layout__span-two introduction__text heading heading-five">
                        {{ settings.enquire_to_study.EnquireToStudySettings.thank_you_text|richtext }}
                    </div>
                </div>
            </div>
        </div>

        <div class="page__content">

            <section class="section section--top-space-small bg bg--dark">

            </section>

        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% if GOOGLE_TAG_MANAGER_ID and enquiry_form_session_data %}
        <script>
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push(
                {{ enquiry_form_session_data }}
                );
        </script>
    {% endif %}
{% endblock%}
