{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags util_tags static %}

{% block body_class %}
    app--thanks no-hero
{% endblock %}


{% block content %}

    <div class="page page--no-hero">

        <div class="page__header bg bg--dark">
            {% if page.title %}
            <div class="title-area title-area--guide grid">
                <div class="title-area__content">
                    <h1 class="title-area__heading heading heading--display-two" id="main-content">
                        {{ page.title }}
                    </h1>
                    {% if page.introduction %}
                    <div class="title-area__introduction introduction layout__@large-start-three layout__span-two">
                        <p class="introduction__text heading heading--five">
                            {{ page.introduction }}
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="page__content">

            <section class="section section--top-space-small bg bg--dark">
                {% if page.teasers %}
                <div class="section__row">
                    <div class="section__header section__header--bottom-space grid">
                        <h2 class="section__heading section__heading--secondary section__heading--tight heading heading--three">{{ page.teasers.title|default:"Find out more" }}</h2>
                        {% if page.teasers.introduction %}
                            <div class="section__introduction layout__start-one layout__span-two layout__@large-start-four layout__@large-span-one">
                                {{ page.teasers.introduction }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="section__content grid">
                        {% include "patterns/organisms/staggered-cards/staggered-cards.html" with staggered_cards=page.teasers.items %}
                    </div>
                </div>
                {% endif %}

                {% if cta %}
                <div class="section__row section__row--last">
                    {% include "patterns/molecules/text-teaser/text-teaser.html" with teaser=cta %}
                </div>
                {% endif %}

            </section>

        </div>
    </div>
{% endblock %}
