  <div class="anchor-nav" data-anchor-nav>
    <h2 class="anchor-nav__heading">
        <div class="anchor-nav__heading-label">
            Jump to
        </div>
        <svg width="12" height="8" class="anchor-nav__heading-icon" aria-hidden="true">
            <use xlink:href="#arrow"></use>
        </svg>
    </h2>
    <nav class="anchor-nav__nav-container">
      <ul class="anchor-nav__items">
        {% for item in anchor_nav %}
          <li class="anchor-nav-item body body--two"><a class="anchor-nav-item__link" href="{{ item.link }}">{{ item.title }}</a></li>
        {% endfor %}
        {% if show_contact_block %}
          <li class="anchor-nav-item body body--two"><a class="anchor-nav-item__link" href="#contact">{% firstof page.contact_model_title "Ask a question" %}</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
