{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block body_class %}
    app--editorial-event-landing
{% endblock %}

{% block content %}

    <div class="page page--no-hero">

        <header class="page__header bg bg--dark">
            <div class="title-area title-area--landing-page grid">
                <div class="title-area__content">
                        <h1 class="title-area__heading heading heading--display-two" id="main-content">{{ page.title }}</h1>
                </div>
            </div>
        </header>

        <div class="page__content">

            {% include "patterns/molecules/jump-nav/jump-nav.html" with modifier="bg bg--dark" sticky=True item=tabs %}

            {# News #}
            <section class="section section--start bg bg--dark anchor-heading" id="news">
                <div class="section__row section__row--last">
                    <div class="section__header grid">
                        <h2 class="section__heading section__heading--primary heading heading--two">News</h2>
                    </div>
                    <div class="section__content grid">
                        {% include "patterns/organisms/news/news_api_content.html" with news=news news_view_all=page.news_view_all modifier="news--single-feature" %}
                    </div>
                </div>
            </section>

            {# Events #}
            <section class="section section--start anchor-heading bg bg--dark" id="events">
                <div class="section__row section__row--last">
                    <div class="section__header grid">
                        <h2 class="section__heading section__heading--primary heading heading--two">Events</h2>
                    </div>
                    <div class="section__content grid">
                        {% include "patterns/organisms/news/news_api_content.html" with news=events news_view_all=page.events_view_all modifier="news--single-feature" button_title=page.events_link_text button_link=page.events_link_target_url %}
                    </div>
                </div>
            </section>

            {# Stories #}
            <section class=" section section--start bg bg--dark anchor-heading" id="stories">

                <div class="section__row section__row--last-small">
                    <div class="section__header section__header--bottom-space-small grid">
                        <h2 class="section__heading section__heading--secondary section__heading--tight heading heading--two">Stories</h2>
                        {% if page.stories_summary_text %}
                            <div class="section__introduction layout__start-one layout__span-two layout__@large-start-four layout__@large-span-one">
                                {{ page.stories_summary_text|richtext }}
                            </div>
                        {% endif %}
                    </div>
                    {% if stories %}
                    <div class="section__content grid">
                        {% include "patterns/organisms/carousel/carousel.html" with carousel=stories modifier='carousel carousel--no-margin' control_title="Story carousel" datatag='data-carousel' %}
                    </div>
                    {% endif %}
                    {% if page.stories_link_target_url %}
                    <div class="section__action grid">
                        <a class="layout__@large-start-two link link--primary link--link body body--two" href="{{ page.stories_link_target_url }}">
                            <span class="link__label">{% firstof page.stories_link_text 'Browse all stories' %}</span>
                            <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </section>

            {# Talks #}
            <section class="section section--start bg bg--dark anchor-heading" id="podcasts">

                <div class="section__row section__row--last-small">
                    <div class="section__header section__header--bottom-space-small grid">
                        <h2 class="section__heading section__heading--secondary section__heading--tight heading heading--two">
                            Podcasts
                        </h2>
                        {% if page.podcasts_summary_text %}
                            <div class="section__introduction layout__start-one layout__span-two layout__@large-start-four layout__@large-span-one">
                                {{ page.podcasts_summary_text }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="section__content">

                        {% if page.podcasts_image %}
                            {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.video out_of_grid=False curriculum=False heading=False has_meta=False copy=False subheading=False image=page.podcasts_image caption=page.video_caption video=page.video modifier="small-bottom-margin image-video-block--no-padding" %}
                        {% endif %}

                        {% if page.podcasts_link_target_url %}
                        <div class="section__action grid">
                            <a class="layout__@large-start-four link link--primary link--link body body--two" href="{{ page.podcasts_link_target_url }}">
                                <span class="link__label">{% firstof page.podcasts_link_text 'Browse all podcasts' %}</span>
                                <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </section>

            {# CTA #}
            <section class="section section--start section--end bg bg--dark anchor-heading" {% if page.cta_navigation_title %}id="{{ page.cta_navigation_title|slugify }}"{% endif %}>
                <div class="section__row section__row--last">
                    {% for block in page.cta_block %}
                        {% include "patterns/molecules/text-teaser/text-teaser.html" with teaser=block.value %}
                    {% endfor %}
                </div>
            </section>

            {# Contact #}
            <section class="section bg bg--dark">
                <div class="contact-anchor anchor-heading" id="contact" ></div>
                <div class="section__row section__row--first">
                    {% include "patterns/organisms/contact/contact.html" with heading=page.contact_model_title text=page.contact_model_text image=page.contact_model_image %}
                </div>
            </section>

        </div>

    </div>
{% endblock %}
