<div class="filter-tab-options grid">

    <div class="filter-tab-options__container layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">

        {% if item.tab_title %}
            <div class="filter-tab-options__header layout__span-two">
                <h2 class="filter-tab-options__heading heading heading--five">Filter by</h2>
                <button class="filter-tab-options__back" aria-label="Back to categories" data-filter-back>
                    <svg width="12" height="8" class="filter-tab-options__back-icon" aria-hidden="true">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </button>
                <div class="filter-tab-options__heading-options">
                    <h3 class="filter-tab-options__category-heading heading heading--five">{{ item.tab_title }}</h3>
                </div>
            </div>
        {% endif %}

        <div class="filter-tab-options__content">
            {% for option in item.options %}
                <div class="filter-tab-options__item layout__span-two">
                    <input class="filter-tab-options__checkbox" type="checkbox" id="filter-{{ item.filter_name }}-{{ option.id }}" name="{{ item.filter_name }}" value="{{ option.id }}" {% if option.active %}checked{% endif %} />
                    <label class="filter-tab-options__link body body--one {% if option.active %}selected{% endif %}" for="filter-{{ item.filter_name }}-{{ option.id }}" data-filter-option {% if single_filter_only %}data-filter-single{% endif %}>{{ option.title }} {{ option.suffix }}</label>
                </div>
            {% endfor %}
        </div>

        <div class="filter-tab-options__footer layout__start-one layout__span-two layout__@large-start-two layout__@large-span-four grid">
            <div class="filter-tab-options__clear layout__start-one layout__span-one layout__@large-start-two layout__span-one">
                <a class="filter-tab-options__clear-link hidden" href="#" data-filters-clear-category>Clear</a>
            </div>
            <button class="filter-tab-options__button link link--primary layout__start-two layout__span-one layout__@large-start-four" data-filter-submit>
                <span class="link__label">Show results</span>
                <svg width="12" height="8" class="link__icon link__icon--rotated" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
            </button>
        </div>

    </div>

    {% include "patterns/atoms/grid-lines/grid-lines.html" %}
</div>
