<div class="pathways">
    <h3 class="pathways__heading heading heading--five">Pathways</h3>
    <p>MA Animation comprises of three specialist pathways one of which students select as part of their application. </p>
    <div class="pathways__items">
        {% for path in pathways %}
            {% include "patterns/atoms/pathway-item/pathway-item.html" with path=path %}
        {% endfor %}
    </div>
    <a class="pathways__view-all link link--primary link--link body body--two" href="#">
        <span class="link__label">View all Pathway information</span>
        <svg class="link__icon" width="12" height="8"><use xlink:href="#arrow"></use></svg>
    </a>
</div>
