{% load wagtailcore_tags wagtailembeds_tags %}
<div {% if open_link %}data-video-modal{% endif %}>
    {% if open_link %}
        <a data-modal-open>Open video</a>
    {% endif %}
    <div data-modal-window class="video-modal" aria-live="polite">
        <button data-modal-close class="button video-modal__close">
            <svg class="video-modal__close-icon" width="20" height="20"><use xlink:href="#close"></use></svg>
        </button>
        <div class="video-modal__container">
            <div style="padding-bottom: 56.25%" class="responsive-object">
                {% embed video %}
            </div>
        </div>
    </div>
</div>
