{% load cache static wagtailcore_tags navigation_tags util_tags %}

<div class="footer">

    <div class="footer__container">

        <div class="footer__upper grid">

            <div class="footer__logo">
                {% include 'patterns/atoms/logo/logo.html' %}
            </div>

            <nav class="footer__action" aria-label="Tertiary">
                {% cache 3600 "footernav" settings.navigation.NavigationSettings.last_updated_at %}
                    {% footernav %}
                {% endcache %}
            </nav>

            <div class="footer__qaa-logo">
                {% include 'patterns/atoms/qaa-logo/qaa-logo.html' %}
            </div>

        </div>

        <div class="footer__mid grid">
            {% social_media_links as social_links %}
            <ul class="footer__social-links">
                {% for link in social_links %}
                    {# Only render if we have a link #}
                    {% if link.url %}
                        <li class="social-item social-item--{{ link.type }}">
                            <a class="social-item__link" href="{{ link.url }}" aria-label="{{ link.label }}">
                                <svg class="social-item__icon" width="24" height="24">
                                    <use xlink:href="#{{ link.type }}"></use>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="footer__lower grid">
            <nav class="footer__links" aria-label="Footer navigation">
                <div class="u-small-and-medium-bp-only">
                    {% cache 3600 "footernav" settings.navigation.NavigationSettings.last_updated_at %}
                        {% footernav %}
                    {% endcache %}
                </div>
                {% cache 3600 "footerlinks" settings.navigation.NavigationSettings.last_updated_at %}
                    {% footerlinks %}
                {% endcache %}
            </nav>
            <div class="footer__credit">
                <p class="footer__credit-item" itemscope itemtype="http://schema.org/EducationalOrganization">
                    Registered Office:
                    <span itemprop="name">Royal College of Art</span>,
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">Kensington Gore</span>,
                        <span class="hidden" itemprop="addressLocality">South Kensington</span>
                        <span itemprop="addressRegion">London</span>
                        <span itemprop="postalCode">SW7 2EU</span>
                    </span>
                </p>
            </div>

        </div>

    </div>

</div>
