{% load wagtailcore_tags wagtailimages_tags %}

{% image image fill-80x84 as image_small %}
{% image image fill-580x607 as image_large %}

<div class="contact">
    <div class="grid">
        <div class="contact__intro">
            <h2 class="contact__heading heading heading--four">{{ heading|default:'Ask a question' }}</h2>
            <p class="contact__text body body--one">{{ text }}</p>
        </div>
        {% if page.contact_model_email %}
            <a href="mailto:{{ page.contact_model_email }}" class="contact__link link link--primary link--link body body--two" target="_blank" rel="noopener">
            <span class="link__label">{% firstof page.contact_model_link_text 'Email us at' %}<br>{{ page.contact_model_email }}</span>
            <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
            </a>
        {% elif page.contact_model_form %}
            <a href="{% pageurl page.contact_model_form %}" class="contact__link link link--primary link--link body body--two">
            <span class="link__label">{% firstof page.contact_model_link_text page.contact_model_form %}</span>
            <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
            </a>
        {% else %}
            <a href="{{ page.contact_model_url }}" class="contact__link link link--primary link--link body body--two" rel="noopener">
            <span class="link__label">{% firstof page.contact_model_link_text 'Register your interest with us here' %}</span>
            <svg width="12" height="8" class="link__icon" aria-hidden="true"><use xlink:href="#arrow"></use></svg>
            </a>
        {% endif %}
        <div class="contact__image-container">
            {% include "patterns/atoms/image/image--lazyload.html" with image_small=image_small width=580 height=607 image_large=image_large classList='contact__image' %}
        </div>
    </div>
</div>
