.categories-tablist {
    @include z-index(above-gridlines);
    position: relative;
    padding: $gutter;
    padding-bottom: $gutter * 0.5;
    // Allow the tablist to overflow into the next column, as much as the contact block below.
    margin-right: -60px;

    @include media-query(medium) {
        padding-bottom: $gutter;
    }

    &__heading {
        color: $color--dark-grey;
        margin-bottom: $gutter * 0.5;

        @include media-query(medium) {
            margin-bottom: $gutter * 0.75;
        }
    }

    &__tab {
        color: $color--dark-grey;
        font-family: $font--primary;
        outline-width: initial;

        &:not(:last-child) {
            margin-right: $gutter;

            @include media-query(medium) {
                margin-right: $gutter * 1.5;
            }
        }

        &[aria-selected='true'] {
            color: $color--black;
            text-decoration: underline;
        }
    }
}
