.categories-panels {
    @include z-index(above-gridlines);
    position: relative;

    &__panel {
        // When not expanded, the panel is hidden via the HTML hidden attribute.
        [aria-expanded='true'] {
            @include grid-layout();

            @include media-query(medium) {
                padding-top: $gutter * 2;
            }
        }
    }

    .section__content & {
        margin-bottom: ($gutter * 2);

        @include media-query(large) {
            margin-bottom: ($gutter * 4);
        }
    }
}
