.categories-panels {
    $root: &;
    @include z-index(above-gridlines);
    position: relative;

    &__panel {
        [aria-expanded='true'] {
            @include grid-layout();

            @include media-query(medium) {
                padding-top: $gutter * 2;
            }
        }
    }
}
