.categories-panels {
    $root: &;
    @include z-index(above-gridlines);
    position: relative;

    &__panel {
        [aria-expanded='true'] {
            @include grid-layout();
        }
    }

    &__panel-btn {
        border: 0;
        background: transparent;
        border-bottom: 1px solid $color--grid-line-light;

        &[type='button'] {
            appearance: none;
        }
    }
}
