
{% load wagtailcore_tags %}
<div class="short-course-details">
    <div class="short-course-details__container">
        <div class="short-course-details__header">
            <h1 class="short-course-details__heading heading heading--two">{{ page.title }}</h1>
        </div>
        <div class="short-course-details__content">
            <div class="short-course-details-item">
                <div class="short-course-details-item__header">
                    <h2 class="short-course-details-item__heading heading heading--five">Upcoming dates</h2>
                </div>
                <div class="short-course-details-item__content">
                    {% include "patterns/molecules/upcoming-dates/upcoming-dates.html" %}
                </div>
            </div>
            <div class="short-course-details-item">
                <div class="short-course-details-item__header">
                    <h2 class="short-course-details-item__heading heading heading--five">Course details</h2>
                </div>
                <div class="short-course-details-item__content rich-text">
                    {{ page.course_details_text|richtext }}
                    {{ page.terms_and_conditions.content|richtext }}
                    {{ page.frequently_asked_questions.content|richtext }}
                </div>
            </div>
        </div>
    </div>
</div>