{% load wagtailcore_tags wagtailimages_tags static util_tags %}
<div class="people-carousel carousel carousel--people glide" data-people-carousel data-slidetotal="{{ item|length }}">
 
    <div data-glide-el="track" class="people-carousel__container carousel__container glide__track">
        <ul class="people-carousel__slides carousel__slides glide__slides" aria-live="polite">
            <li class="people-carousel__slide carousel__item glide__slide">
                <div class="people-carousel__item">
                    {% for profile in item %}
                        {% if forloop.counter0|divisibleby:perSlide and not forloop.first %}    
                                </div>
                            </li>
                            <li class="people-carousel__slide carousel__item glide__slide">
                                <div class="people-carousel__item">
                        {% endif %}
                        {% include "patterns/molecules/profile-detail/profile-detail.html" with item=profile %}
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>

    <div class="carousel__controls-group grid" data-glide-el="controls">
        <button class="carousel__button carousel__button--prev button" aria-label="Previous image" data-glide-dir="<">
            <svg class="carousel__button-icon" width="46" height="46" aria-hidden="true">
                <use xlink:href="#arrow-left" />
            </svg>
        </button>
        <button class="carousel__button carousel__button--next button" aria-label="Next image" data-glide-dir=">">
            <svg class="carousel__button-icon" width="46" height="46" aria-hidden="true">
                <use xlink:href="#arrow-right" />
            </svg>
        </button>
    </div>

    <div class="carousel__controls">
        <div class="carousel__bullet-container" data-glide-el="controls[nav]">
            {% for profile in item %}
                {% if forloop.counter0|divisibleby:perSlide %}
                    <button class="carousel__bullet" data-glide-dir="={{ forloop.counter }}" aria-label="Slide {{ forloop.counter }}"></button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
</div>
