.accordion-block {
    overflow: hidden;
    margin-top: ($gutter * 4);
    padding: 0;

    @include media-query(large) {
        padding: 0 0 ($gutter * 4);
        margin-top: ($gutter * 4);
    }

    &--last {
        @include media-query(large) {
            padding: 0 0 ($gutter * 8);
            margin-top: ($gutter * 4);
        }
    }

    &__heading {
        grid-column: 1 / span 2;
        margin-bottom: $gutter;

        @include media-query(medium) {
            grid-column: 1 / span 1;
        }

        @include media-query(large) {
            grid-column: 2 / span 2;
        }
    }
}
