.accordion-block {
    $root: &;
    overflow: hidden;
    margin-top: ($gutter * 4);
    padding: 0;

    @include media-query(large) {
        padding: 0 0 ($gutter * 4);
        margin-top: ($gutter * 4);
    }

    &--no-margin {
        margin-top: 0;
    }

    &--last {
        @include media-query(large) {
            padding: 0 0 ($gutter * 8);
            margin-top: ($gutter * 4);
        }
    }

    &--large-heading {
        #{$root}__heading {
            @include media-query(large) {
                margin-bottom: ($gutter * 3);
            }
        }
    }

    &--no-top-margin {
        margin-top: 0;
    }

    &--streamfield {
        overflow: unset;

        // Currently, background will always be black when used as a streamfield
        .link--primary {
            color: $color--orange !important;
        }
    }

    &__heading {
        grid-column: 1 / span 2;
        margin-bottom: $gutter;

        @include media-query(medium) {
            grid-column: 1 / span 1;
        }

        @include media-query(large) {
            grid-column: 2 / span 2;
        }
    }

    .staff-detail-accordion--wo-gallery & {
        margin-top: 0;
    }
}
