.accordion {
    $root: &;
    @include z-index(above-gridlines);
    background-color: $color--white;


    &:first-child {
        .bg--dark & {
            border-top: 1px solid $color--grid-line-light;
        }

        .bg--light & {
            border-top: 1px solid $color--grid-line-dark;
        }
    }

    .bg--dark & {
        border-bottom: 1px solid $color--grid-line-light;
        border-right: 1px solid $color--grid-line-light;
    }

    .bg--light & {
        border-bottom: 1px solid $color--grid-line-dark;
        border-right: 1px solid $color--grid-line-dark;
    }

    @include media-query(large) {
        grid-column: 2 / span 3;
    }

    &:active,
    &:hover {
        cursor: pointer;

        #{$root}__icon {
            fill: $color--black;
        }

        #{$root}__title {
            color: $color--black;
        }
    }

    &.is-open {

        .bg--light & {
            background-color: $color--black;
            color: $color--white;
        }

        .bg--dark & {
            background-color: $color--white;
            color: $color--black;
        }

        #{$root}__content {
            display: block;
        }
    }

    &__link {
        display: grid;
        align-items: flex-start;
        font-family: $font--primary;

        .bg--dark & {
            color: $color--link-darkbg;
        }

        .bg--light & {
            color: $color--link-lightbg;
        }

        @include media-query(large) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__preview-text {
        color: $color--meta;
        margin: 0;
    }

    &__icon {
        fill: $color--primary;

        &--plus {
            .is-open & {
                display: none;
            }
        }

        &--minus {
            display: none;

            .is-open & {
                display: block;
            }
        }
    }

    &__content {
        display: none;
        margin-left: 40px;
    }
}
