.accordion {
    $root: &;
    @include z-index(above-gridlines);
    transition: background-color $transition;
    position: relative;
    grid-column: 1 / span 2;

    @include media-query(large) {
        grid-column: 2 / span 3;
    }

    &--with-preview {
        #{$root}__heading {
            grid-column: 1 / span 1;
            padding-right: $gutter;
        }

        #{$root}__meta {
            grid-column: 1 / span 1;

            @include media-query(medium) {
                grid-column: 2 / span 2;
            }
        }
    }

    &--short {
        #{$root}__link {
            display: flex;
            justify-content: space-between;

            &::after {
                content: none;
            }
        }

        #{$root}__heading {
            padding-right: ($gutter * 4);

            @include media-query(medium) {
                padding-right: $gutter;
            }
        }

        #{$root}__preview-text {
            display: none;
        }

        &.is-open {
            &::before {
                width: 100vw;
            }

            #{$root}__content {
                grid-template-columns: 1fr;
            }

            #{$root}__content-container {
                grid-column: auto;
            }
        }

        .overview__item-content & {
            grid-column: 1 / span 2;
        }
    }

    &:first-child {
        #{$root}__link {
            &::after {
                top: -1px; // to account for border
            }
        }

        &::before {
            top: -1px; // to account for border
        }

        .bg--dark & {
            border-top: 1px solid $color--grid-line-light;
        }

        .bg--light & {
            border-top: 1px solid $color--grid-line-dark;
        }
    }

    // left hand colour block
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 1px;
        right: 0;
        bottom: -1px; // to account for border
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
        transition: opacity $transition;

        .bg--light & {
            background-color: $color--black;
        }

        .bg--dark & {
            background-color: $color--white;
        }
    }

    &.is-open {
        @include z-index(under-gridlines);

        &::before {
            opacity: 1;
        }
    }

    &__link {
        display: grid;
        align-items: center;
        padding-top: $gutter;
        padding-bottom: $gutter;
        position: relative;
        outline: 0;

        &:focus,
        &:active,
        &:hover {
            cursor: pointer;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 1px;
            bottom: 0;
            transform: translate3d(100%, 0, 0);
            opacity: 0;
            transition: opacity $transition;
            pointer-events: none;

            .is-open & {
                opacity: 1;
            }

            .bg--light & {
                background-color: $color--black;
            }

            .bg--dark & {
                background-color: $color--white;
            }
        }

        .bg--dark & {
            color: $color--white;
        }

        .bg--light & {
            color: $color--black;
        }

        .is-open & {
            .bg--dark & {
                border-bottom: 1px solid $color--grid-line-dark;
            }

            .bg--light & {
                border-bottom: 1px solid $color--grid-line-light;
            }
        }

        @include media-query(large) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &--with-preview {
            align-items: flex-start;

            @include media-query(medium) {
                padding-bottom: ($gutter * 1.75);
            }
        }
    }

    &__heading {
        align-self: flex-start;
        padding-right: ($gutter * 2.5);

        @include media-query(medium) {
            padding-right: 0;
            grid-column: 1 / span 2;
        }

        .bg--dark & {
            color: $color--white;
        }

        .bg--light & {
            color: $color--black;
        }

        .is-open & {
            .bg--dark & {
                color: $color--black;
            }

            .bg--light & {
                color: $color--white;
            }
        }
    }

    &__preview-text {
        margin: ($gutter * 0.5) 0 0;
        transition: color $transition;
        max-width: 65%;
        font-weight: $weight--normal;

        @include media-query(medium) {
            margin: 0 0 0 $gutter;
        }

        @include media-query(large) {
            margin: 0;
        }

        .is-open & {
            .bg--dark & {
                color: $color--black;
            }

            .bg--light & {
                color: $color--white;
            }
        }
    }

    &__meta {
        grid-column: 1 / span 1;
        display: flex;

        @include media-query(medium) {
            grid-column: 3 / span 1;
        }
    }

    &__icon {
        justify-self: flex-end;
        margin-right: $gutter;
        margin-left: auto;
        margin-top: -$gutter;

        @include media-query(medium) {
            margin-top: 0;
        }

        .bg--dark & {
            fill: $color--white;
        }

        .bg--light & {
            fill: $color--black;
        }

        .is-open & {
            .bg--dark & {
                fill: $color--black;
            }

            .bg--light & {
                fill: $color--white;
            }
        }

        &--plus {
            .is-open & {
                display: none;
            }
        }

        &--minus {
            display: none;

            .is-open & {
                display: block;
            }
        }
    }

    &__content {
        display: none;

        .is-open & {
            display: grid;

            @include media-query(large) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    &__content-container {
        padding-top: ($gutter * 2);
        padding-right: $gutter;
        padding-bottom: ($gutter * 3);

        @include media-query(large) {
            padding-right: ($gutter * 5.75);
            grid-column: 2 / span 2;
        }
    }

    &__introduction {
        @include font-size(xs);
        margin-bottom: $gutter;
    }

    .bg--dark & {
        border-bottom: 1px solid $color--grid-line-light;
        border-right: 1px solid $color--grid-line-light;
        background-color: $color--black;
        border-left: 1px solid $color--grid-line-light;

        @include media-query(large) {
            border-left: 0;
        }

        &--short {
            border-right: 0;
        }

        #{$root}__introduction {
            color: $color--black;
        }

        #{$root}__preview-text {
            color: $color--meta-darkbg;
        }

        &.is-open {
            background-color: $color--white;
            color: $color--black;

            #{$root}__preview-text {
                color: $color--meta-lightbg;
            }
        }
    }

    .bg--light & {
        border-right: 1px solid $color--grid-line-dark;
        border-bottom: 1px solid $color--grid-line-dark;
        background-color: $color--white;
        border-left: 1px solid $color--grid-line-dark;

        @include media-query(large) {
            border-left: 0;
        }

        #{$root}__introduction {
            color: $color--white;
        }

        #{$root}__preview-text {
            color: $color--meta-lightbg;
        }

        &.is-open {
            background-color: $color--black;
            color: $color--white;

            #{$root}__preview-text {
                color: $color--meta-darkbg;
            }
        }
    }
}
