.anchor-nav {
    @include z-index(sticky-nav-bar);
    display: none;

    @include media-query(large) {
        display: block;
        position: fixed;
        grid-column: 1 / span 1;
        top: 310px;
        width: var(--outer-grid-width);
        padding-top: ($gutter * 1.5);
        margin-bottom: ($gutter * 2);
        color: $color--white;
        border-top: 1px solid $color--grid-line-light;
        mix-blend-mode: difference;
    }

    &__heading {
        display: none;

        @include media-query(large) {
            display: inline-flex;
            align-items: center;
            opacity: 0.7;
            margin-bottom: ($gutter * 1.5);
        }
    }

    &__heading-label {
        margin-right: 10px;
    }

    &__items {
        @include media-query(large) {
            padding-right: $gutter;
        }
    }

    &__heading-icon {
        transform: rotate(90deg) translateZ(0);
        fill: $color--white-65;
        width: 15px;
        height: auto;
    }
}
