.anchor-heading {
    padding-top: ($gutter * 3.5);

    @include media-query(large) {
        padding-top: ($gutter * 6);
    }

    &:first-child {
        padding-top: ($gutter * 1.5);

        @include media-query(large) {
            padding-top: ($gutter * 4);
        }
    }

    &.contact-anchor {
        padding-top: 0;
    }
}
