.app {
    &__grid-lines {
        @include z-index(gridlines);
        @include grid-layout();
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: $site-width;
        pointer-events: none;

        > div {
            display: none;
            border-right: 1px solid $color--grid-line-light;
            padding-right: 4.28%;

            &:last-child,
            &:first-child {
                display: block;
            }

            &:first-child {
                border-left: 1px solid $color--grid-line-light;
            }

            @include media-query(medium) {
                padding-right: 1.85%;
            }

            @include media-query(large) {
                display: block;
                padding-right: 1.81%;

                &:first-child {
                    border-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    &__navigation {
        @include z-index(nav);
        pointer-events: none;
        transform: translate3d(-100%, 0%, 0);
        transition: transform 250ms cubic-bezier(0.24, 0.26, 0.2, 1) 0.75ms;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .nav-open & {
            pointer-events: all;
            transform: translate3d(0%, 0%, 0);
            background: $color--black;

            @include media-query(large) {
                background: transparent;
            }
        }
    }
}
