.audience-nav-item {
    $root: &;

    &__link {
        @include underline-hover();
        position: relative;
        display: inline-flex;
        align-items: center;
    }

    &__label {
        margin-right: 5px;
    }

    &__icon {
        transform: rotate(-45deg) translate(0, 0);
    }

    .bg--light &,
    .theme-dark .header & {
        #{$root}__link {
            color: $color--link-lightbg;
        }

        #{$root}__icon {
            fill: $color--black;
        }
    }

    .bg--dark &,
    .theme-light .header &,
    .headroom--pinned.headroom--not-top .header & {
        #{$root}__link {
            color: $color--link-darkbg;
        }

        #{$root}__icon {
            fill: $color--white;
        }
    }

    .header & {
        display: none;

        @include media-query(large) {
            display: flex;
            align-items: flex-start;
        }

        #{$root}__label {
            @include font-size(xxs);
        }
    }

    .footer & {
        #{$root}__link {
            color: $color--white;
        }

        #{$root}__icon {
            fill: $color--white;
        }

        #{$root}__label {
            @include font-size(xs);
        }
    }

    .headroom--pinned.headroom--not-top .header & {
        align-items: center;
    }
}
