@use '../abstracts' as *;

.bg {
    &--dark {
        background-color: $color--black;
        color: $color--white;
    }

    &--light {
        background-color: $color--white;
        color: $color--black;
    }

    &--dark-80 {
        background-color: rgba($color--black, 0.8);
        color: $color--white;
    }
}
