.booking-bar {
    $root: &;
    border-bottom: 1px solid $color--grid-line-light;
    overflow: hidden;

    @include media-query(medium) {
        border-top: 1px solid $color--grid-line-light;
    }

    &--no-modal {
        #{$root}__message {
            @include media-query(large) {
                grid-column: 2 / span 1;
            }
        }

        #{$root}__action {
            @include media-query(large) {
                grid-column: 3 / span 2;
                justify-content: flex-end;
            }
        }
    }

    &__container {
        align-items: center;
    }

    &__message {
        @include font-size(xs);
        display: none;
        grid-column: 1 / span 1;
        padding-top: ($gutter);
        padding-bottom: ($gutter);
        padding-right: ($gutter / 2);

        @include media-query(medium) {
            display: block;
        }

        @include media-query(large) {
            grid-column: 2 / span 2;
        }
    }

    &__action {
        display: flex;
        justify-content: flex-end;
        grid-column: 1 / span 2;

        @include media-query(medium) {
            grid-column: 2 / span 1;
            padding-top: ($gutter);
            padding-bottom: ($gutter);
        }

        @include media-query(large) {
            justify-content: flex-start;
            grid-column: 4 / span 1;
        }
    }

    .sticky-bar & {
        @include z-index(sticky-nav-bar);
        position: sticky;
        top: 100vh;
        left: 0;
        width: 100%;
        transform: translate3d(0, -100%, 0);
    }
}
