.burger {
    $root: &;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__toggle-label {
        @include font-size(xxxs);
        margin-left: ($gutter / 2);
        color: $color--white;
    }

    &__toggle-icon {
        stroke: $color--white;
    }
}
