.burger {
    $root: &;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__toggle-label {
        @include font-size(xs);
        color: $color--white;
        margin-left: ($gutter * 0.5);
    }

    &__toggle-icon {
        stroke: $color--white;
    }

    .header & {
        text-align: center;
        flex-direction: column;

        @include media-query(medium) {
            flex-direction: row;
        }

        #{$root}__toggle-label {
            margin-left: 0;

            @include media-query(medium) {
                margin-left: ($gutter * 0.5);
            }
        }

        #{$root}__toggle-icon {
            margin-bottom: ($grid * 0.5);

            @include media-query(medium) {
                margin-bottom: 0;
            }
        }
    }

    .headroom--not-top & {
        text-align: left;
        flex-direction: row;

        #{$root}__toggle-label {
            margin-left: ($gutter * 0.5);
        }

        #{$root}__toggle-icon {
            margin-bottom: 0;
        }
    }
}
