:root {
    --grid-width: 0; // populated with carousel js
}

.carousel {
    $root: &;
    position: relative;
    grid-column: 1 / span 2;
    margin-bottom: ($gutter * 6);

    @include media-query(large) {
        grid-column: 2 / span 3;
    }

    &--square {
        @include media-query(large) {
            grid-column: 2 / span 2;
        }

        #{$root}__slides {
            position: relative;
        }

        #{$root}__item {
            .card {
                @include media-query(medium) {
                    padding-right: ($gutter * 5);
                }

                @include media-query(large) {
                    padding-right: var(--grid-width);
                }
            }
        }

        #{$root}__controls {
            padding-right: $gutter;
            padding-left: $gutter;
            margin-top: $gutter;

            @include media-query(medium) {
                padding-right: ($gutter * 3);
                padding-left: ($gutter * 3);
            }

            @include media-query(large) {
                display: none; // Reducing bottom space due to API module removal
            }
        }

        #{$root}__controls-group {
            display: none;

            @include media-query(large) {
                display: grid;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
            }
        }

        #{$root}__button {
            position: relative;

            &--prev {
                grid-column: 2 / span 1;
                left: -77px;
            }

            &--next {
                grid-column: 4 / span 1;
                left: 30px;
            }

            &:disabled {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &--quotes {
        #{$root}__item {
            margin-right: ($gutter * 2);
        }

        #{$root}__button {
            position: relative;

            &--prev {
                grid-column: 1 / span 1;
                left: 50%;
                margin-left: -23px; // half the width
            }

            &--next {
                grid-column: 4 / span 1;
                left: 50%;
                margin-left: -23px; // half the width
            }
        }
    }

    &__item {
        opacity: 0.36;
        transition: opacity $transition;

        &.glide__slide--active {
            opacity: 1;
        }
    }

    &__liveregion {
        @include hidden();
    }

    &__controls-group {
        display: none;

        @include media-query(large) {
            display: block;
        }
    }

    &__bullet-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        width: 100%;
        pointer-events: none;

        @include media-query(large) {
            display: none;
        }
    }

    &__bullet {
        flex-basis: auto;
        flex: 1;
        height: 2px;
        border: 0;
        padding: 0;
        margin: 0;
        background-color: $color--scrollbar-lightbg-bg;

        &:hover,
        &:active,
        &:focus {
            outline: 0;
        }

        &.glide__bullet--active {
            background-color: $color--black;
        }
    }

    &__button {
        position: absolute;
        top: calc(50% - 23px);
        border-radius: 50%;
        width: 46px;
        height: 46px;
        margin: 0;
        padding: 0;
        transition: background-color $transition, opacity $cubic-transition;

        &:hover,
        &:active,
        &:focus {
            outline: none;
        }

        &--prev {
            left: -80px;
        }

        &--next {
            right: -80px;
        }
    }

    .partnerships & {
        margin-bottom: 0; // Reducing bottom space due to API module removal
    }

    .bg--dark & {
        #{$root}__button {
            &:hover,
            &:active,
            &:focus {
                stroke: $color--black;
                background-color: $color--white;
            }
        }

        #{$root}__bullet {
            background-color: $color--scrollbar-darkbg-bg;

            &.glide__bullet--active {
                background-color: $color--white;
            }
        }
    }

    .bg--light & {
        #{$root}__button {
            &:hover,
            &:active,
            &:focus {
                stroke: $color--white;
                background-color: $color--black;
            }
        }

        #{$root}__bullet {
            background-color: $color--scrollbar-lightbg-bg;

            &.glide__bullet--active {
                background-color: $color--black;
            }
        }
    }
}
