.card {
    $root: &;
    $notch-height-small: 24px;
    $notch-height-medium: 74px;
    $notch-height-large: 80px;
    $custom-breakpoint-min: 1023px;
    $custom-breakpoint-max: 1180px;

    &--image {
        #{$root}__content {
            position: relative;
            top: -$notch-height-small;
            margin-bottom: -$notch-height-small;

            @include media-query(medium) {
                top: -$notch-height-medium;
                margin-bottom: -$notch-height-medium;
            }

            @include media-query(large) {
                top: -$notch-height-large;
                margin-bottom: -$notch-height-large;
            }

            &::after {
                @include z-index(base);
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                display: block;
                height: $notch-height-small;
                width: calc(50% + 48px);

                @include media-query(medium) {
                    content: none;
                }
            }
        }

        // ensure card__content:after doens't hide content
        #{$root}__meta,
        #{$root}__heading,
        #{$root}__description {
            @include z-index(overlap);
            position: relative;
        }

        #{$root}__meta {
            min-height: 19px; // ensure space is there even if no meta supplied
        }
    }

    &--person {
        #{$root}__content-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            @include media-query(medium) {
                flex-direction: row;
            }
        }

        #{$root}__person {
            @include media-query(medium) {
                flex-basis: 33.33%;
                min-width: 33.33%;
                max-width: 33.33%;
            }
        }
    }

    &--simple {
        #{$root}__content {
            position: static;
            margin: 0;
            padding-right: 0;
            flex-basis: 100%;
            max-width: 100%;
            min-width: 100%;

            &::after {
                display: none;
            }
        }

        #{$root}__heading {
            @include font-size(xs);
            font-weight: $weight--bold;
        }

        #{$root}__description {
            @include font-size(xs);
        }
    }

    &--long-description {
        @include media-query(large) {
            #{$root}__description {
                width: 140%;
            }
        }
    }

    &--project,
    &--result {
        margin-bottom: ($gutter * 2);

        @include media-query(medium) {
            padding-right: ($gutter * 2);
        }

        @include media-query(large) {
            padding-right: ($gutter * 4);
            margin-bottom: ($gutter * 2.5);
        }

        // One off custom breakpoint between medium and large
        @media only screen and (max-width: $custom-breakpoint-max) and (min-width: $custom-breakpoint-min) {
            padding-right: $gutter;
        }

        #{$root}__content {
            flex-basis: 100%;
            max-width: 100%;
            min-width: 100%;
            top: -$notch-height-small;
            margin-bottom: -$notch-height-small;
            padding-right: 0;
            padding-top: ($gutter * 0.75);

            &::after {
                @include media-query(medium) {
                    content: '';
                }
            }
        }

        #{$root}__heading {
            @include font-size(xs);
        }

        #{$root}__school {
            @include font-size(xs);
            padding-right: 50%;

            @include media-query(large) {
                padding-right: 33.333%;
            }
        }

        #{$root}__year {
            @include font-size(xs);
        }

        #{$root}__location {
            @include font-size(xs);
        }
    }

    &--notch-space {
        #{$root}__content {
            padding-top: ($gutter * 1.5);
        }
    }

    &--staff {
        margin-bottom: ($gutter * 2);

        @include media-query(medium) {
            padding-right: ($gutter * 2);
        }

        @include media-query(large) {
            padding-right: ($gutter * 4);
            margin-bottom: ($gutter * 2.5);
        }

        // One off custom breakpoint between medium and large
        @media only screen and (max-width: $custom-breakpoint-max) and (min-width: $custom-breakpoint-min) {
            padding-right: $gutter;
        }

        #{$root}__content {
            flex-basis: 100%;
            max-width: 100%;
            min-width: 100%;
            top: 0;
            margin-bottom: 0;
            padding-right: 0;
            padding-top: ($gutter * 0.75);

            &::after {
                display: none;
            }
        }

        #{$root}__heading {
            @include font-size(xs);
        }

        #{$root}__school {
            @include font-size(xs);
            padding-right: 50%;

            @include media-query(large) {
                padding-right: 33.333%;
            }
        }

        #{$root}__year {
            @include font-size(xs);
        }

        #{$root}__description {
            margin-bottom: 2px;

            &:last-child {
                margin-bottom: $gutter;
            }
        }
    }

    &--carousel {
        #{$root}__description {
            margin-bottom: $gutter;

            @include media-query(large) {
                margin-bottom: 0;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        &:hover,
        &:focus {
            #{$root}__image-container {
                opacity: 0.8;
            }

            #{$root}__heading-link {
                @include underline-hover-target-reset();
                color: inherit;
            }
        }
    }

    &__image-container {
        display: block;
        flex-basis: 100%;
        min-width: 100%;
        max-width: 100%;
        transition: opacity $transition;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;

        .app--programme-page .carousel & {
            @include media-query(large) {
                max-height: 460px;
                object-fit: cover;
            }
        }
    }

    &__content {
        flex-basis: 100%;
        max-width: 100%;
        min-width: 100%;
        padding-top: ($gutter * 0.75);
        padding-right: ($gutter * 0.75);

        @include media-query(medium) {
            flex-basis: 65%;
            max-width: 65%;
            min-width: 65%;
            padding-top: $gutter;
            padding-right: $gutter;
        }

        @include media-query(large) {
            flex-basis: 66.66%;
            max-width: 66.66%;
            min-width: 66.66%;
        }
    }

    &__meta {
        @include font-size(xs);
        text-transform: uppercase;
        margin-bottom: ($gutter * 0.25);
    }

    &__heading {
        @include font-size(s);
        margin-bottom: ($gutter * 0.5);
        line-height: $line-height-large;

        #{$root}__link & {
            font-weight: $weight--bold;
        }
    }

    &__heading-link {
        @include underline-hover-target();
        position: relative;
        font-weight: $weight--bold;
    }

    &__heading-link-icon {
        transform: rotate(-45deg) translate(0, 0);
        fill: currentColor;
        margin-top: 8px;
    }

    &__description {
        .app--programme-page .carousel & {
            /* stylelint-disable */
            // Line clamp isn't supported in all browsers so we have
            // to declare it this way.
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            /* stylelint-enable */
        }

        @include media-query(medium) {
            margin-bottom: $gutter;
        }
    }

    &__person {
        display: flex;
        padding-top: ($gutter * 0.75);
        margin-bottom: $gutter;
    }

    &__person-image {
        display: block;
        flex-basis: 32px;
        min-width: 32px;
        max-width: 32px;
        height: 32px;

        @include media-query(medium) {
            flex-basis: 60px;
            min-width: 60px;
            max-width: 60px;
            height: 60px;
        }
    }

    &__person-info {
        padding-left: ($gutter * 0.75);
    }

    &__person-meta {
        @include font-size(xs);

        @include media-query(medium) {
            @include font-size(xs);
            margin-bottom: ($gutter * 0.25);
        }
    }

    &__person-title {
        @include font-size(xs);

        @include media-query(medium) {
            @include font-size(xs);
        }
    }

    .news & {
        margin-bottom: $gutter;

        @include media-query(medium) {
            grid-row: 2;
            padding-right: $gutter;
        }

        @include media-query(large) {
            grid-column: 3 / span 1;
            grid-row: auto;
            padding-right: 0;
        }
    }

    .news__feature & {
        @include media-query(medium) {
            grid-column: 1 / span 2;
            grid-row: 1;
            padding-right: 0;
        }

        @include media-query(large) {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            padding-right: ($gutter * 1.5);
        }

        #{$root}__container {
            @include media-query(large) {
                height: 100%;
            }
        }

        #{$root}__content {
            @include media-query(medium) {
                flex-basis: 100%;
                min-width: 100%;
                max-width: 100%;
                top: -35px;
                padding-top: ($gutter * 1.25);
                margin-bottom: -35px;
                background-color: transparent !important;
            }

            &::after {
                @include media-query(medium) {
                    @include z-index(base);
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    display: block;
                    height: 35px;
                    width: 50%;
                }

                @include media-query(large) {
                    width: calc(50% + 15px);
                }
            }
        }

        #{$root}__image-container {
            @include media-query(large) {
                height: 100%;
                min-height: 100%;
            }
        }

        #{$root}__image {
            @include media-query(large) {
                object-fit: cover;
                height: 100%;
                min-height: 400px;
            }
        }

        #{$root}__meta {
            @include font-size(xs);

            @include media-query(medium) {
                @include font-size(xs);
            }
        }

        #{$root}__description {
            @include font-size(xs);

            @include media-query(medium) {
                @include font-size(xs);
            }
        }

        #{$root}__heading {
            @include font-size(xs);

            @include media-query(medium) {
                @include font-size(s);
            }
        }

        &#{$root}--image {
            #{$root}__content {
                &::after {
                    width: 50%;

                    @include media-query(large) {
                        width: calc(50% + 15px);
                    }
                }
            }
        }
    }

    .news__sub-features & {
        &:first-child {
            padding-top: $gutter;

            @include media-query(medium) {
                padding-top: 0;
            }

            @include media-query(large) {
                padding-bottom: $gutter; // additional space for border
            }
        }

        #{$root}__heading {
            @include font-size(xs);
        }

        #{$root}__content {
            flex-basis: 100%;
            max-width: 100%;
            min-width: 100%;
            top: 0;
            padding: 0;
            background-color: transparent !important;
        }

        #{$root}__meta {
            @include font-size(xs);
        }

        #{$root}__description {
            @include font-size(xs);
        }

        &#{$root}--image {
            #{$root}__content {
                top: -10px;
                margin-bottom: -10px; // compensate for top -10

                &::after {
                    @include z-index(base);
                    position: absolute;
                    top: -14px; // 24px minus content negative top
                    left: 0;
                    content: '';
                    display: block;
                    height: 24px;
                    width: 50%;

                    @include media-query(medium) {
                        width: 80px;
                    }
                }
            }
        }
    }

    .news--single-feature .news__sub-features & {
        &:first-child {
            @include media-query(large) {
                padding-bottom: 0;
            }
        }

        @include media-query(medium) {
            grid-row: auto;
        }
    }

    .staggered-cards & {
        margin-bottom: ($gutter * 5);
        padding-right: ($gutter * 1.25);

        @include media-query(medium) {
            flex-basis: 50%;
            max-width: 50%;
            min-width: 50%;
        }

        @include media-query(large) {
            flex-basis: 33.333%;
            max-width: 333.333%;
            min-width: 33.333%;
            margin-bottom: 0;
        }

        &:nth-child(even) {
            @include media-query(medium) {
                position: relative;
                margin-left: 50%;
                top: -($gutter * 6);
                margin-bottom: -($gutter * 10);
            }

            @include media-query(large) {
                margin-left: 66.666%;
            }
        }
    }

    // .carousel--square .carousel__item .card
    .carousel__item & {
        .carousel--square & {
            @include media-query(medium) {
                padding-right: ($gutter * 5);
            }

            @include media-query(large) {
                padding-right: var(--grid-width);
            }

            #{$root}__description {
                @include media-query(large) {
                    margin-bottom: ($gutter * 0.5);
                }
            }

            #{$root}__content {
                @include media-query(medium) {
                    flex-basis: calc(50% + 50px);
                    min-width: calc(50% + 50px);
                    max-width: calc(50% + 50px);
                    padding-top: ($gutter * 1.5);
                    top: -35px;
                    margin-bottom: -35px;
                }

                @include media-query(large) {
                    flex-basis: 50%;
                    min-width: 50%;
                    max-width: 50%;
                }
            }

            #{$root}__description,
            #{$root}__heading {
                @include media-query(large) {
                    width: 200%;
                }
            }
        }
    }

    .index-module & {
        #{$root}__container {
            position: relative;
            margin-bottom: ($gutter * 2);

            @include media-query(large) {
                flex-direction: row;
                margin-bottom: ($gutter * 3.5);
            }
        }

        #{$root}__content {
            position: relative;
            top: -$notch-height-small;
            margin-bottom: -$notch-height-small;

            @include media-query(medium) {
                top: -$notch-height-small;
                margin-bottom: -$notch-height-small;
            }

            @include media-query(large) {
                position: static;
                top: 0;
                margin-bottom: 0;
            }

            // One off custom breakpoint between medium and large
            @media only screen and (max-width: $custom-breakpoint-max) and (min-width: $custom-breakpoint-min) {
                padding-top: 0;
            }

            &::after {
                @include z-index(base);
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                display: block;
                height: $notch-height-small;
                width: 50%;

                @include media-query(medium) {
                    height: $notch-height-medium;
                }

                @include media-query(large) {
                    content: none;
                }
            }
        }

        #{$root}__image-container {
            @include media-query(large) {
                flex-basis: 50%;
                max-width: 50%;
                min-width: 50%;
            }
        }

        #{$root}__image {
            @include media-query(large) {
                padding-right: ($gutter * 1.5);
            }
        }

        #{$root}__description {
            margin-bottom: 0;

            @include media-query(large) {
                margin-right: ($gutter);
            }
        }

        #{$root}__meta {
            @include media-query(large) {
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0;
                min-width: ($gutter * 4);
                padding: ($gutter * 0.25) ($gutter * 0.5) ($gutter * 0.25) 0;
            }
        }

        .bg--dark &,
        .bg--light & {
            &#{$root}--image {
                #{$root}__content {
                    @include media-query(medium) {
                        background-color: transparent;
                    }
                }
            }
        }

        .bg--dark & {
            #{$root}__meta {
                @include media-query(large) {
                    background-color: $color--black;
                }
            }
        }

        .bg--light & {
            #{$root}__meta {
                @include media-query(large) {
                    background-color: $color--white;
                }
            }
        }
    }

    .bg--dark & {
        &#{$root}--image {
            #{$root}__content {
                color: $color--white;

                @include media-query(medium) {
                    background-color: $color--black;
                }

                &::after {
                    background-color: $color--black;
                }
            }
        }

        #{$root}__heading {
            color: $color--white;
        }

        #{$root}__description,
        #{$root}__person-meta {
            color: $color--meta-darkbg;
        }

        #{$root}__meta {
            color: $color--tertiary;
        }

        &--simple {
            #{$root}__description {
                color: $color--white;
            }
        }

        &#{$root}--project,
        &#{$root}--result {
            #{$root}__content {
                background-color: transparent;
            }
        }

        #{$root}__heading-link-icon {
            fill: $color--white;
        }
    }

    .bg--light & {
        &#{$root}--image {
            #{$root}__content {
                color: $color--black;

                @include media-query(medium) {
                    background-color: $color--white;
                }

                &::after {
                    background-color: $color--white;
                }
            }
        }

        #{$root}__heading {
            color: $color--black;
        }

        #{$root}__description,
        #{$root}__person-meta {
            color: $color--meta-lightbg;
        }

        #{$root}__meta {
            color: $color--black;
        }

        #{$root}__heading-link-icon {
            fill: $color--black;
        }

        &--simple {
            #{$root}__description {
                color: $color--black;
            }
        }

        &#{$root}--project,
        &#{$root}--result {
            #{$root}__content {
                background-color: transparent;
            }
        }
    }
}
