@use '../abstracts' as *;

.collapsible-nav {
    $root: &;
    position: relative;

    &.is-visible {
        #{$root}__inner {
            transform: translateX(0);
        }
    }

    &__inner {
        @include z-index(above-header-gridlines);
        position: fixed;
        top: 25%;
        right: 0;
        width: 70%;
        transform: translateX(100%);
        transition: transform $transition;

        @include media-query(medium) {
            width: 50%;
        }

        @include media-query(large) {
            width: auto;
        }

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    &__button {
        background-color: $color--orange;
        color: $color--black;
        width: 44px;
        height: 44px;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        display: flex;

        svg {
            fill: $color--black;
        }

        &--close {
            display: none;
        }
    }

    &__content {
        display: none;
        flex-direction: column;
        align-items: flex-end;
    }

    &__nav {
        background-color: $color--orange;
        width: 100%;

        @include media-query(large) {
            width: 280px;
        }
    }

    &__link-item {
        padding: 15px;

        @include media-query(medium) {
            padding: 15px $gutter;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $color--orange-light;
        }
    }

    &__link {
        background-size: 0% 2px;
        font-size: 0.89rem; // 16px
        color: $color--black;

        @include media-query(medium) {
            font-size: map-get($medium-font-sizes, xs);
        }

        // Don't show underline on mobile
        &.link--tertiary.link--link {
            .link__label {
                background-size: 0% 2px;
            }
        }
    }

    .is-open & {
        &__header {
            width: 55%;

            @include media-query(medium) {
                width: 50%;
            }
        }

        &__content {
            display: flex;
        }

        &__button {
            &--open {
                display: none;
            }

            &--close {
                display: flex;
            }
        }
    }
}
