.contact-anchor {
    position: relative;
    display: block;
    top: -159px; // height of tabs + inverted notch

    @include media-query(medium) {
        top: -219px; // height of tabs + inverted notch
    }

    @include media-query(large) {
        top: -259px; // height of tabs + inverted notch
    }

    &.anchor-heading {
        top: 0;
    }
}
