.cookie {
    @include z-index(cookie-message);
    $root: &;
    position: fixed;
    right: auto;
    bottom: 0;
    left: auto;
    display: none; // Doesn't display unless there isn't a cookie
    width: 100%;
    pointer-events: none;
    transition: transform $transition 0s;

    // Applied if cookie just added
    &.inactive {
        display: block;
        transform: translate3d(0, 100%, 0);
    }

    &.active {
        display: block;
        transform: translate3d(0, 0, 0);
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
        color: $color--white;
        background-color: $color--black;
        padding: $gutter;
        pointer-events: auto;

        @include media-query(large) {
            width: ($gutter * 35);
        }
    }

    &__message {
        margin-bottom: $gutter;

        p {
            margin-bottom: 0;
        }

        a {
            margin-right: ($gutter / 4);
        }
    }

    &__link {
        color: $color--primary;
        pointer-events: auto;

        &:hover {
            color: $color--black;
        }
    }

}
