.cookie_snippet_block {
    margin-bottom: $gutter;
    .ot-sdk-show-settings {
        transition: opacity $transition;
        background-color: $color--tertiary;
        border: none !important;
        color: $color--white !important;
        border-radius: 5px;
        padding: 7px 24px;
        &:hover {
            background-color: $color--tertiary !important;
            opacity: 0.8;
            border: none !important;
        }
    }
}
