.countdown-cta {
    @include z-index(above-footer);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $color--black;
    color: $color--white;
    padding: $gutter 0;
    transform: translateY(100%);
    transition: transform $transition;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &.is-visible {
        transform: translateY(0);
    }

    &__details {
        grid-column: 1 / span 2;
        padding-bottom: $gutter;
        margin-right: $gutter;

        @include media-query(medium) {
            grid-column: 1 / span 1;
            padding-right: $gutter;
            padding-bottom: 0;
            margin-right: 0;
        }

        @include media-query(large) {
            grid-column: 2 / span 2;
        }
    }

    &__link {
        grid-column: 1 / span 1;

        @include media-query(medium) {
            grid-column: 2 / span 1;
        }

        @include media-query(large) {
            align-self: flex-end;
            grid-column: 4 / span 1;
        }

        a {
            width: 100%;
        }
    }

    &__counter {
        font-weight: $weight--bold;
        color: $color--orange;
        margin-bottom: 3px;
        text-wrap: pretty;
    }

    &__title {
        font-size: map-get($large-font-sizes, s);
        margin-bottom: 3px;

        @include media-query(large) {
            font-size: map-get($large-font-sizes, s);
        }
    }

    &__date {
        @include font-size(xs);
        color: $color--light-grey;
        margin-bottom: 0;
    }

    &__close-button {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: $color--black;
    }

    &__close-icon {
        fill: $color--white;
    }
}
