.embed {
    $root: &;

    &--padded {
        #{$root}__container {
            padding: 30px;
        }
    }

    &__container {
        @include z-index(above-gridlines);
        position: relative;
    }

    &--vepple {
        height: 500px;
        margin-bottom: $gutter;
    }
}

/* Specific handling for TikTok blockquotes */
.embed-container blockquote.tiktok-embed {
    min-width: auto !important;
    margin: 0 !important;
    zoom: 0.88;
}
