.facilities {

    &__heading {

        @include media-query(large) {
            grid-column: 2 / span 1;
        }

    }

    &__body {
        @include font-size(xxs);
    }

    &__slideshow {
        padding-top: ($gutter * 4.5);
    }

    &__view-all {
        margin-top: ($gutter);
    }

}
