.fees {
    $root: &;

    &__section {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include media-query(large) {
            grid-template-columns: 1fr 1fr 27.5%; // match grid lines
        }

        &--single {
            #{$root}__item {
                padding: $gutter 0;

                @include media-query(large) {
                    padding: $gutter 0 ($gutter * 1.5);
                }
            }

            #{$root}__item--title {
                grid-column: 1 / span 1;
                padding: $gutter 0;

                @include media-query(large) {
                    padding: $gutter 0 ($gutter * 1.5);
                }
            }
        }
    }

    &__item {
        padding: 0 0 $gutter;

        @include media-query(large) {
            padding: $gutter 0 ($gutter * 1.5);
        }

        &--title {
            padding: $gutter 0 ($gutter * 0.5);
            grid-column: 1 / span 2;

            @include media-query(large) {
                padding: $gutter 0 ($gutter * 1.5);
                grid-column: 1 / span 1;
            }
        }
    }

    &__heading {
        display: inline;
        font-weight: $weight--bold;
        max-width: 190px;

        @include media-query(large) {
            display: block;
        }
    }

    .bg--dark & {
        #{$root}__section {
            border-top: 1px solid $color--grid-line-light;
        }

        #{$root}__meta {
            color: $color--meta-darkbg;
        }
    }

    .bg--light & {
        #{$root}__section {
            border-top: 1px solid $color--grid-line-dark;
        }

        #{$root}__meta {
            color: $color--meta-lightbg;
        }
    }
}
