.filter-bar {
    $root: &;
    @include z-index(sticky-nav-bar);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform $transition;

    @include media-query(large) {
        @include z-index(under-gridlines);
    }

    &--small {
        border-width: 0 0 1px;
        border-style: solid;
        padding: ($gutter * 0.5) $gutter;

        @include media-query(medium) {
            padding: ($gutter * 0.5) ($gutter * 3);
        }

        @include media-query(large) {
            display: none;
        }
    }

    &--large {
        display: none;
        border: 0;

        @include media-query(large) {
            display: block;
        }
    }

    // Scholarship template doesn't show filter bar until a filter has been selected using a different component
    &--no-results-large {
        display: none;

        .project-filters & {
            @include media-query(large) {
                display: block;
            }
        }
    }

    &--no-results-small {
        display: none;

        .project-filters & {
            display: block;

            @include media-query(large) {
                display: none;
            }
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        transition: color $transition-cubic;

        &.active {
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: $gutter;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                overflow: hidden;
                background-color: currentColor;
            }
        }
    }

    &__label {
        margin-right: ($gutter * 0.75);
    }

    &__icon {
        fill: currentColor;
    }

    &.bg--dark {
        border-color: $color--grid-line-light;

        #{$root}__link {
            color: $color--meta-darkbg;

            &:hover {
                color: $color--white;
            }
        }

        .section__notch-fill {
            background-color: $color--white;

            &::before {
                background-color: $color--white;
            }
        }
    }

    &.bg--light {
        border-color: $color--grid-line-dark;

        #{$root}__link {
            color: $color--meta-lightbg;

            &:hover {
                color: $color--black;
            }
        }

        .section__notch-fill {
            background-color: $color--white;

            &::before {
                background-color: $color--white;
            }
        }
    }

    // When headroom mini header is also active
    .headroom--pinned & {
        &--stuck {
            border-top: 1px solid $color--grid-line-light;
            transform: translate3d(0, $mini-header-height, 0);

            @include media-query(large) {
                transform: translate3d(0, $mini-header-height, 0);
            }
        }
    }

    .project-filters & {
        @include media-query(large) {
            @include z-index(modal-controls);
            position: fixed;
            top: 0;
            // Make padding above / below bar even
            transform: translate3d(0, -10px, 0);
            border-bottom: 1px solid $color--grid-line-dark;
        }
    }

    // Small-medium styles
    .project-filters-mobile & {
        &--large {
            @include z-index(modal);
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(var(--vh, 1vh) * 100);
            background-color: $color--white;
        }
    }

    .app--scholarship-listing & {
        &--small {
            margin-bottom: ($gutter * 2);
        }
    }

    // Modifier unusually at bottom to override theme (play the cascade)
    &--stuck {
        @include z-index(sticky-nav-bar-header);

        @include media-query(large) {
            // Make padding above / below bar even
            transform: translate3d(0, -10px, 0);
        }

        &.bg--dark {
            .section__notch-fill {
                background-color: $color--black;

                &::before {
                    background-color: $color--black;
                }
            }
        }
    }
}
