.filter-takeover {
    &__container {
        padding-top: $gutter;

        @include media-query(large) {
            padding-top: ($gutter * 5);
        }
    }
    .sticky-bar & {
        position: fixed;
        @include z-index(sticky-nav-bar);
        top: 0;
        left: 0;
        right: 0;
        height: calc(var(--vh, 1vh) * 100);
        width: 100%;

        @include media-query(large) {
            padding-top: ($gutter * 2);
        }
    }
}
