.footer-link-item {
    margin-bottom: $gutter;

    @include media-query(large) {
        flex-basis: 33.333%;
        max-width: 33.333%;
        min-width: 33.333%;
    }

    &__link {
        @include font-size(xs);
        @include underline-hover();
        position: relative;
        color: $color--white;

        &:hover {
            color: $color--white;
        }
    }
}
