.form-item {
    $root: &;
    $form-bottom-margin: ($gutter * 0.75);
    $form-item-height: 46px;

    &__container {
        @include z-index(above-gridlines);
        position: relative;
        border: 0; // This can be a fieldset, so overriding
        padding: 0; // This can be a fieldset, so overriding
        margin: 0; // This can be a fieldset, so overriding
        margin-bottom: $form-bottom-margin;
        border-bottom: 4px solid transparent;
    }

    // Applied via js
    &--has-focus,
    &--has-content {
        &#{$root}--input,
        &#{$root}--text_input,
        &#{$root}--email_field,
        &#{$root}--decimal_field,
        &#{$root}--url_field,
        &#{$root}--date_field,
        &#{$root}--date_time_field,
        &#{$root}--textarea {
            label {
                @include font-size(xs);
                transform: translate3d(
                    0,
                    -67%,
                    0
                ); // align label with top of input
            }
        }

        input,
        textarea {
            outline: 0;
        }
    }

    // Applied via js when form item has a value
    &--has-content {
        &#{$root}--input,
        &#{$root}--text_input,
        &#{$root}--email_field,
        &#{$root}--decimal_field,
        &#{$root}--url_field,
        &#{$root}--date_field,
        &#{$root}--date_time_field,
        &#{$root}--textarea {
            #{$root}__container {
                &::after {
                    opacity: 0;
                }
            }
        }
    }

    // Applied via js when form item has focus
    &--has-focus {
        &#{$root}--input,
        &#{$root}--text_input,
        &#{$root}--email_field,
        &#{$root}--decimal_field,
        &#{$root}--url_field,
        &#{$root}--date_field,
        &#{$root}--date_time_field,
        &#{$root}--textarea {
            // Orange focus border
            #{$root}__container {
                &::after {
                    opacity: 1;
                    transform: translate3d(0, -100%, 0);
                }
            }
        }
    }

    &--has-help-text {
        #{$root}__container {
            margin-bottom: 0;
        }
    }

    &--input,
    &--text_input,
    &--email_field,
    &--decimal_field,
    &--url_field,
    &--tel,
    &--date_field,
    &--date_time_field,
    &--textarea {
        #{$root}__container {
            padding-top: $gutter;
            overflow: hidden;
            width: 100%;

            @include media-query(medium) {
                width: 50%;
            }

            @include media-query(large) {
                width: 66.66%;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                background-color: $color--tertiary;
                height: 4px;
                opacity: 0;
                transition: opacity $transition-cubic,
                    transform $transition-cubic;
            }
        }

        label {
            @include font-size(xs);
            position: absolute;
            left: 0;
            padding: 5px 15px;
            margin: 0;
            transform: translate3d(1px, 10px, 0);
            transition: transform $transition-cubic, font-size $transition-cubic,
                background-color $transition-cubic;

            @include media-query(large) {
                transform: translate3d(1px, 6px, 0);
            }
        }

        #{$root}__errors {
            position: absolute;
            right: 15px;
            transform: translate3d(0, 16px, 0);

            @include media-query(large) {
                transform: translate3d(0, 15px, 0);
            }
        }

        input[type='text'],
        input[type='input'],
        input[type='email'],
        input[type='tel'],
        input[type='url'],
        input[type='number'] {
            height: $form-item-height;
            border-radius: 0;
            appearance: none;
            width: 100%;
            padding-left: 15px;
            transition: border-color $transition,
                background-color $transition-cubic;
        }
    }

    &--tel,
    &--decimal_field {
        #{$root}__container {
            width: 100%;

            @include media-query(medium) {
                width: 50%;
            }

            @include media-query(large) {
                width: 33.33%;
            }
        }
    }

    &--select,
    &--lazy_select,
    &--textarea,
    &--radio_select,
    &--checkbox {
        &#{$root}--errors {
            #{$root}__container {
                margin-bottom: 0;
            }

            #{$root}__errors {
                margin-bottom: 15px;
                margin-top: 5px;
            }
        }
    }

    &--select,
    &--lazy_select {
        #{$root}__container {
            @include z-index(under-gridlines);
            width: 100%;

            @include media-query(medium) {
                width: calc(50% + 50px); // overlap grid line with down arrow
            }

            @include media-query(large) {
                width: calc(33.33% + 50px); // overlap grid line with down arrow
            }

            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 18px;
                z-index: 2;
                width: 50px;
                height: 7px;
                pointer-events: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 12px 7px;
            }
        }
    }

    &--multiple_choice_field {
        select {
            @include media-query(large) {
                min-height: 150px;
            }
        }
    }

    &--textarea {
        #{$root}__container {
            width: 100%;
        }

        #{$root}__errors {
            position: static;
            transform: none;
        }
    }

    &--checkbox_input {
        #{$root}__container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        label {
            margin-left: ($gutter * 0.5);
            margin-bottom: 0 !important;
        }
    }

    &--checkbox_select_multiple,
    &--radio_select {
        label {
            display: flex !important;
            align-items: center;
            flex-direction: row;
            margin-bottom: ($gutter * 0.75) !important;
        }

        #{$root}__required {
            margin-left: 5px;
        }

        input {
            margin-right: ($gutter * 0.5);
        }

        li {
            label {
                @include font-size(xs);
            }
        }
    }

    // Components without moving label
    &--checkbox_input,
    &--checkbox_select_multiple,
    &--radio_select,
    &--select_multiple,
    &--select,
    &--lazy_select {
        padding-top: ($gutter * 0.5);

        input {
            &:focus {
                outline: 2px solid $color--focus;
            }

            // Undo normal focus for browsers that do support focus-visible
            &:focus:not(:focus-visible) {
                outline: initial;
            }

            // Focus-visible only shows focus state when keyboard is used
            &:focus-visible {
                outline: 2px solid $color--focus;
            }

            &[type='checkbox'],
            &[type='radio'] {
                &:focus {
                    opacity: 1;
                }

                // Undo normal focus for browsers that do support focus-visible
                &:focus:not(:focus-visible) {
                    opacity: initial;
                }

                // Focus-visible only shows focus state when keyboard is used
                &:focus-visible {
                    opacity: 1;
                }
            }
        }
    }

    // Hide recaptcha required asterisks as it floats weirdly above
    &--re_captcha_field {
        label {
            @include hidden();
        }
    }

    &--hidden_input {
        @include hidden();
    }

    label,
    legend {
        display: block;
        margin-bottom: ($gutter * 0.25);
        cursor: pointer;
    }

    select {
        position: relative;
        width: 100%;
        height: $form-item-height;
        margin: 0;
        cursor: pointer;
        outline: none;
        text-indent: 3px;
        appearance: none;
        border-radius: 0;
    }

    textarea {
        width: 100%;
        min-height: 200px;
        padding: $gutter ($gutter * 0.75);
        transition: border-color $transition, background-color $transition-cubic;
    }

    input[type='radio'],
    input[type='checkbox'] {
        position: relative;
        appearance: none;
        width: 29px;
        height: 29px;
        min-width: 29px;
        max-width: 29px;
        border: 3px solid $color--white;
        background-color: transparent;
        opacity: 0.3;
        cursor: pointer;
        transition: border-color $transition-cubic, opacity $transition-cubic;

        &:checked {
            border-color: $color--tertiary;
            opacity: 1;

            &::before {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 17px;
                height: 17px;
                background-color: $color--tertiary;
                opacity: 0.3;
            }
        }
    }

    input[type='radio'] {
        border-radius: 50%;

        &::before {
            border-radius: 50%;
        }
    }

    &__errors {
        @include font-size(xs);
        color: $color--red-light;
    }

    &__help {
        @include font-size(xs);
        margin-bottom: $form-bottom-margin;
        margin-top: ($gutter * 0.25);
    }

    &__required {
        color: $color--tertiary;
    }

    &__instruction {
        @include font-size(xs);
        margin: 0 0 20px;

        p {
            margin: 0;
        }
    }

    &__rich-text {
        display: inline;
        margin: 0;
    }

    input,
    textarea,
    select {
        &:-webkit-autofill {
            border: 0 !important;
        }
    }

    // ensure label isn't blocking content on error page
    .form--errors & {
        &#{$root}--input,
        &#{$root}--text_input,
        &#{$root}--email_field,
        &#{$root}--decimal_field,
        &#{$root}--url_field,
        &#{$root}--date_field,
        &#{$root}--date_time_field,
        &#{$root}--textarea {
            label {
                @include font-size(xs);
                transform: translate3d(
                    0,
                    -67%,
                    0
                ); // align label with top of input
            }

            #{$root}__container {
                &::after {
                    opacity: 0;
                }
            }
        }
    }

    .bg--dark & {
        input[type='text'],
        input[type='input'],
        input[type='email'],
        input[type='tel'],
        input[type='url'],
        input[type='number'],
        select,
        textarea {
            background-color: $color--form-input-darkbg;
            border: 1px solid $color--white-12;
            caret-color: $color--white;
            color: $color--white;

            &:-webkit-autofill {
                /* stylelint-disable property-no-vendor-prefix */
                -webkit-box-shadow: 0 0 0 1000px $color--form-input-darkbg inset;
                /* stylelint-enable property-no-vendor-prefix */
            }
        }

        label,
        legend {
            color: $color--light-grey;
        }

        &#{$root}--boolean_field {
            label {
                color: $color--white;
            }
        }

        &#{$root}--checkbox_select_multiple,
        &#{$root}--radio_select {
            li {
                label {
                    color: $color--white;
                }
            }
        }

        &#{$root}--input,
        &#{$root}--text_input,
        &#{$root}--email_field,
        &#{$root}--decimal_field,
        &#{$root}--url_field,
        &#{$root}--date_field,
        &#{$root}--date_time_field,
        &#{$root}--textarea {
            label {
                color: $color--white-65;
                background-color: $color--form-input-darkbg;
            }

            #{$root}__required {
                color: $color--white-65;
            }

            &#{$root}--has-focus {
                input[type='text'],
                input[type='input'],
                input[type='email'],
                input[type='tel'],
                input[type='url'],
                input[type='number'],
                textarea {
                    background-color: $color--form-input-focus-darkbg;

                    &:-webkit-autofill {
                        /* stylelint-disable property-no-vendor-prefix */
                        -webkit-box-shadow: 0 0 0 1000px
                            $color--form-input-focus-darkbg inset;
                        /* stylelint-enable property-no-vendor-prefix */
                    }
                }

                label {
                    background-color: $color--form-input-focus-darkbg;
                }
            }
        }

        #{$root}__instruction {
            color: $color--white-65;
        }

        #{$root}__help {
            color: $color--light-grey;
        }

        select {
            &:focus {
                border-color: $color--focus;
                border-width: 2px;
                background-color: $color--form-input-focus-darkbg;
            }
        }

        &#{$root}--select,
        &#{$root}--lazy_select {
            #{$root}__container {
                // light arrow svg
                &::after {
                    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjQgMC42TDYgNS4yTDEwLjYgMC42TDEyIDJMNiA4TDAgMkwxLjQgMC42WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
                }
            }
        }

        /* Remove autocomplete styling */
        input,
        textarea,
        select {
            &:-webkit-autofill {
                -webkit-text-fill-color: $color--white;
            }
        }
    }

    .bg--light & {
        input[type='text'],
        input[type='input'],
        input[type='email'],
        input[type='tel'],
        input[type='url'],
        input[type='number'],
        select,
        textarea {
            background-color: $color--form-input-lightbg;
            border: 1px solid $color--white-12;
            caret-color: $color--black;
            color: $color--black;

            &:-webkit-autofill {
                /* stylelint-disable property-no-vendor-prefix */
                -webkit-box-shadow: 0 0 0 1000px $color--form-input-lightbg
                    inset;
                /* stylelint-enable property-no-vendor-prefix */
            }
        }

        label,
        legend {
            color: $color--dark-grey;
        }

        &#{$root}--boolean_field {
            label {
                color: $color--black;
            }
        }

        &#{$root}--checkbox_select_multiple,
        &#{$root}--radio_select {
            li {
                label {
                    color: $color--black;
                }
            }
        }

        &#{$root}--input,
        &#{$root}--text_input,
        &#{$root}--email_field,
        &#{$root}--decimal_field,
        &#{$root}--url_field,
        &#{$root}--date_field,
        &#{$root}--date_time_field {
            label {
                color: $color--black-65;
                background-color: $color--form-input-lightbg;
            }

            #{$root}__required {
                color: $color--black-65;
            }

            &#{$root}--has-focus {
                input {
                    background-color: $color--form-input-focus-lightbg;

                    &:-webkit-autofill {
                        /* stylelint-disable property-no-vendor-prefix */
                        -webkit-box-shadow: 0 0 0 1000px
                            $color--form-input-focus-lightbg inset;
                        /* stylelint-enable property-no-vendor-prefix */
                    }
                }

                label {
                    background-color: $color--form-input-focus-lightbg;
                }
            }

            &#{$root}--has-content {
                label {
                    color: $color--black-24;
                }
            }
        }

        #{$root}__instruction {
            color: $color--black-65;
        }

        #{$root}__help {
            color: $color--dark-grey;
        }

        #{$root}__select {
            &:focus {
                border-color: $color--black;
                background-color: $color--form-input-focus-lightbg;
            }
        }

        &#{$root}--select,
        &#{$root}--lazy_select {
            #{$root}__container {
                // Dark arrow svg
                &::after {
                    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjQgMC42TDYgNS4yTDEwLjYgMC42TDEyIDJMNiA4TDAgMkwxLjQgMC42WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==');
                }
            }
        }

        /* Remove autocomplete styling */
        input,
        textarea,
        select {
            &:-webkit-autofill {
                -webkit-text-fill-color: $color--black;
            }
        }
    }

    .bg--dark &,
    .bg--light & {
        input {
            &:-moz-ui-invalid {
                box-shadow: none;
            }
        }

        &#{$root}--errors {
            input {
                border-color: $color--red;
            }

            &#{$root}--has-focus,
            &#{$root}--has-content {
                input[type='text'],
                input[type='input'],
                input[type='email'],
                input[type='tel'],
                input[type='url'],
                input[type='number'],
                textarea {
                    border-color: transparent;
                }

                #{$root}__container {
                    &::after {
                        background-color: $color--red;
                    }
                }
            }

            select {
                border-color: $color--red;

                #{$root}__container {
                    &::after {
                        background-color: transparent; // after is arrow graphic here
                    }
                }
            }
        }

        &#{$root}--has-focus,
        &#{$root}--has-content {
            input[type='text'],
            input[type='input'],
            input[type='email'],
            input[type='tel'],
            input[type='url'],
            input[type='number'],
            textarea {
                border-color: transparent;
            }

            &#{$root}--input,
            &#{$root}--text_input,
            &#{$root}--email_field,
            &#{$root}--decimal_field,
            &#{$root}--url_field,
            &#{$root}--date_field,
            &#{$root}--date_time_field {
                #{$root}__required {
                    color: $color--tertiary;
                }
            }
        }
    }
}
