.form-item {
    $root: &;
    $form-bottom-margin: ($gutter * 0.75);

    &__container {
        @include z-index(above-gridlines);
        position: relative;
        margin-bottom: $form-bottom-margin;
        border-bottom: 4px solid transparent;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            background-color: $color--tertiary;
            height: 4px;
            opacity: 0;
            transition: opacity $transition-cubic, transform $transition-cubic;
        }
    }

    // Applied via js
    &--has-focus,
    &--has-content {
        #{$root}__label {
            @include font-size(xxxs);
            transform: translate3d(0, -67%, 0); // align label with top of input
        }

        #{$root}__input {
            outline: 0;
        }

        #{$root}__required {
            color: $color--tertiary;
        }
    }

    // Applied via js when form item has a value
    &--has-content {
        #{$root}__container {
            &::after {
                opacity: 0;
            }
        }
    }

    // Applied via js when form item has focus
    &--has-focus {
        // Orange focus border
        #{$root}__container {
            &::after {
                opacity: 1;
                transform: translate3d(0, -100%, 0);
            }
        }
    }

    &--has-help-text {
        #{$root}__container {
            margin-bottom: 0;
        }
    }

    &--input {
        #{$root}__container {
            padding-top: $gutter;
        }
    }

    &__input {
        height: 46px;
        width: 100%;
        padding-left: 15px;
        transition: border-color $transition, background-color $transition-cubic;
    }

    &__label {
        @include font-size(xs);
        position: absolute;
        left: 0;
        display: block;
        padding: 5px 15px;
        transform: translate3d(1px, 10px, 0);
        transition: transform $transition-cubic, font-size $transition-cubic,
            background-color $transition-cubic;

        @include media-query(large) {
            transform: translate3d(1px, 6px, 0);
        }
    }

    &__errors {
        @include font-size(xxxs);
        position: absolute;
        right: 15px;
        color: $color--red;
        transform: translate3d(0, 16px, 0);

        @include media-query(large) {
            transform: translate3d(0, 15px, 0);
        }
    }

    &__help {
        @include font-size(xxxs);
        margin-bottom: $form-bottom-margin;
        margin-top: ($gutter / 4);
    }

    .bg--dark & {
        #{$root}__input {
            background-color: $color--form-input-darkbg;
            border: 1px solid $color--white-12;
            caret-color: $color--white;
            color: $color--white;
        }

        #{$root}__label {
            color: $color--white-65;
            background-color: $color--form-input-darkbg;
        }

        &#{$root}--has-focus {
            #{$root}__input {
                background-color: $color--form-input-focus-darkbg;
            }

            #{$root}__label {
                background-color: $color--form-input-focus-darkbg;
            }
        }

        &#{$root}--has-content {
            #{$root}__label {
                color: $color--white-24;
            }
        }

        #{$root}__help {
            color: $color--light-grey;
        }
    }

    .bg--light & {
        #{$root}__input {
            background-color: $color--form-input-lightbg;
            border: 1px solid $color--white-12;
            caret-color: $color--black;
            color: $color--black;
        }

        #{$root}__label {
            color: $color--black-65;
            background-color: $color--form-input-lightbg;
        }

        &#{$root}--has-focus {
            #{$root}__input {
                background-color: $color--form-input-focus-lightbg;
            }

            #{$root}__label {
                background-color: $color--form-input-focus-lightbg;
            }
        }

        &#{$root}--has-content {
            #{$root}__label {
                color: $color--black-24;
            }
        }

        #{$root}__help {
            color: $color--dark-grey;
        }
    }

    .bg--dark &,
    .bg--light & {
        #{$root}__input {
            &:-moz-ui-invalid {
                box-shadow: none;
            }
        }

        &#{$root}--errors {
            #{$root}__input {
                border-color: $color--red;
            }

            &#{$root}--has-focus,
            &#{$root}--has-content {
                #{$root}__input {
                    border-color: transparent;
                }

                #{$root}__container {
                    &::after {
                        background-color: $color--red;
                    }
                }
            }
        }

        &#{$root}--has-focus,
        &#{$root}--has-content {
            #{$root}__input {
                border-color: transparent;
            }
        }
    }
}
