.hero-action-pane {
    $root: &;
    $hero-action-pane-overlap: 80px;
    @include z-index(under-gridlines);
    position: relative;
    pointer-events: none;
    overflow-x: clip;

    @include media-query(medium) {
        pointer-events: auto;
    }

    // Between 1024px and 1122px
    @media only screen and (min-width: 1024px) and (max-width: 1122px) {
        margin-top: -200px;
    }

    // Over 1122px
    @media only screen and (min-width: 1122px) {
        margin-top: -150px;
    }

    &__links {
        position: relative;
        grid-column: 3 / span 4;
        display: none;
        background-color: $color--white;
        padding: ($gutter * 2) 0;

        @media only screen and (min-width: 1024px) {
            @include z-index(sticky-nav-bar);
            display: grid;
            align-self: flex-end;
            grid-template-columns: 1fr 1fr 27.5%;
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: ($gutter * 4);
            height: 100%;
            transform: translate3d(-$hero-action-pane-overlap, 0, 0);
            background-color: $color--white;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: ($gutter * 4);
            right: 0;
            height: 100%;
            transform: translate3d(
                99%,
                0,
                0
            ); // 100% creates an awkward 1px line in chrome
            background-color: $color--white;
        }
    }

    &__cta {
        grid-column: 1;
        padding-bottom: ($gutter * 1.75);
        position: absolute;
        bottom: 0;

        @include media-query(large) {
            padding: ($gutter) 0;
        }

        // Custom breakpoint to target mobile only to prevent rellax doing its thing
        @media only screen and (max-width: 599px) {
            transform: translate3d(0, 0, 0) !important;
        }
    }

    &__cta-link {
        position: relative;
        width: 170px;
        display: block;
        padding-top: ($gutter * 0.5);
        pointer-events: auto;

        @include media-query(medium) {
            width: 245px;
        }

        @include media-query(large) {
            width: 220px;
        }

        &::after {
            content: '';
            display: block;
            opacity: 0;
            position: absolute;
            top: -1px;
            right: 0;
            height: 1px;
            width: 5px;
            transition: transform $transition;

            @include media-query(medium) {
                height: 2px;
                top: -2px;
            }
        }

        &:hover {
            &::after {
                transform: translate3d(5px, 0, 0);
                opacity: 1;
            }

            #{$root}__cta-icon {
                transform: rotate(-45deg) translate3d(5px, 0, 0);
            }
        }
    }

    &__cta-heading {
        @include font-size(xs);
        color: currentColor;
        margin-bottom: ($gutter * 0.5);
        padding-right: ($gutter * 0.5);

        @include media-query(medium) {
            padding-right: $gutter;
        }
    }

    &__cta-sub-heading {
        @include font-size(xs);
        color: currentColor;
        padding-right: ($gutter * 0.5);
    }

    &__cta-icon {
        position: absolute;
        left: 161px;
        top: ($gutter * 0.5);
        transition: transform $transition;
        transform: rotate(-45deg) translate3d(0, 0, 0);

        @include media-query(medium) {
            left: 234px;
        }

        @include media-query(large) {
            left: 209px;
        }
    }

    &__credit {
        display: none;

        @include media-query(large) {
            @include z-index(above-gridlines);
            position: absolute;
            top: -40px;
            width: 40px;
            left: -($gutter * 4);
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            background-color: $color--black;
            border: 0;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }

        &--open {
            background-color: $color--white;
            width: calc(100% + (#{$hero-action-pane-overlap} * 2));

            #{$root}__credit-icon--open {
                display: none;
            }

            #{$root}__credit-icon--close {
                display: block;
            }

            #{$root}__credit-details {
                display: block;
            }
        }

        &:hover {
            #{$root}__credit-icon {
                fill: $color--tertiary;
            }
        }
    }

    &__credit-details {
        display: none;
    }

    &__credit-icon {
        position: relative;
        transition: fill $transition-cubic;

        &--open {
            fill: $color--white;
            height: 24px;
            width: 24px;
            left: calc(50% - 12px);
        }

        &--close {
            display: none;
            fill: $color--black;
            height: 16px;
            width: 16px;
            left: 11px;
            margin-right: 64px; // align text with gridline
        }
    }

    .theme-dark & {
        #{$root}__cta-link {
            color: $color--black;
            border-top: 1px solid $color--black;

            @include media-query(medium) {
                border-top: 2px solid $color--black;
            }

            &::after {
                background-color: $color--black;
            }
        }

        #{$root}__cta-icon {
            fill: $color--black;
        }
    }

    .theme-light & {
        #{$root}__cta-link {
            color: $color--white;
            border-top: 1px solid $color--white;

            @include media-query(medium) {
                border-top: 2px solid $color--white;
            }

            &::after {
                background-color: $color--white;
            }
        }

        #{$root}__cta-icon {
            fill: $color--white;
        }
    }
}
