.hero {
    $root: &;
    overflow: hidden;

    &--medium {
        max-height: 780px;
    }

    &--home {
        // sass-lint:disable-block no-duplicate-properties
        @include z-index(base);
        position: fixed;
        left: 0;
        width: 100%;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);

        #{$root}__image {
            height: 100vh;

            @include media-query(medium) {
                height: 100%;
            }
        }
    }

    &__image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        min-height: 340px;

        @include media-query(medium) {
            min-height: 450px;
            height: 100%;
        }

        @include media-query(large) {
            min-height: 575px;
        }
    }

    &__scroll {
        position: fixed;
        max-width: $site-width;
        left: 0;
        right: ($gutter * 2);
        margin: 0 auto;
        bottom: ($gutter * 2);
        text-align: right;

        @include media-query(medium) {
            bottom: 50%;
            right: ($gutter * 3);
        }
    }

    &__placeholder {
        // sass-lint:disable-block no-duplicate-properties
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        pointer-events: none;
    }

    &__menu-toggler {
        display: block;
        height: 99vh;
    }

    .theme-dark & {
        color: $color--black;
        background-color: $color--white;
    }

    .theme-light & {
        color: $color--white;
        background-color: $color--black;
    }
}
