.hero-action-pane {
    @include z-index(under);
    $root: &;
    $hero-action-pane-height-small: 110px;
    $hero-action-pane-height-medium: 160px;
    $hero-image-credit-height: 25px;
    $hero-action-pane-height-large: (
        $hero-action-pane-height-medium + $hero-image-credit-height
    );
    position: relative;
    pointer-events: none;
    height: $hero-action-pane-height-small;
    top: -$hero-action-pane-height-small;
    margin-bottom: -$hero-action-pane-height-small;
    overflow: hidden;

    @include media-query(medium) {
        height: $hero-action-pane-height-medium;
        top: -$hero-action-pane-height-medium;
        margin-bottom: -$hero-action-pane-height-medium;
        pointer-events: auto;
    }

    @include media-query(large) {
        padding-top: $hero-image-credit-height;
        height: $hero-action-pane-height-large;
        top: -$hero-action-pane-height-large;
        margin-bottom: -$hero-action-pane-height-large;
    }

    &__links {
        position: relative;
        grid-column: 3 / span 4;
        display: none;
        background-color: $color--white;
        padding: ($gutter * 3) 0;

        @include media-query(large) {
            display: grid;
            max-height: $hero-action-pane-height-medium;
            grid-template-columns: 1fr 1fr 27.5%;
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: ($gutter * 4);
            height: $hero-action-pane-height-medium;
            transform: translate3d(-80px, 0, 0);
            background-color: $color--white;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: $hero-action-pane-height-medium;
            transform: translate3d(100%, 0, 0);
            background-color: $color--white;
        }
    }

    &__cta {
        grid-column: 1;
        padding-bottom: ($gutter * 1.75);

        @include media-query(large) {
            padding-bottom: 0;
            padding-top: ($gutter);
        }

        // Custom breakpoint to target mobile only to prevent rellax doing its thing
        @media only screen and (max-width: 599px) {
            transform: translate3d(0, 0, 0) !important;
        }
    }

    &__cta-link {
        position: relative;
        width: 170px;
        display: block;
        padding-top: ($gutter / 2);
        pointer-events: auto;

        @include media-query(medium) {
            width: 245px;
        }

        @include media-query(large) {
            width: 220px;
        }

        &::after {
            content: '';
            display: block;
            opacity: 0;
            position: absolute;
            top: -1px;
            right: 0;
            height: 1px;
            width: 5px;
            transition: transform $transition;

            @include media-query(medium) {
                height: 2px;
                top: -2px;
            }
        }

        &:hover {
            &::after {
                transform: translate3d(5px, 0, 0);
                opacity: 1;
            }

            #{$root}__cta-icon {
                transform: rotate(-45deg) translate3d(5px, 0, 0);
            }
        }
    }

    &__cta-heading {
        @include font-size(xs);
        color: currentColor;
        margin-bottom: ($gutter / 2);
        padding-right: ($gutter / 2);

        @include media-query(medium) {
            padding-right: $gutter;
        }
    }

    &__cta-sub-heading {
        @include font-size(xxxs);
        color: currentColor;
        padding-right: ($gutter / 2);
    }

    &__cta-icon {
        position: absolute;
        left: 161px;
        top: ($gutter / 2);
        transition: transform $transition;
        transform: rotate(-45deg) translate3d(0, 0, 0);

        @include media-query(medium) {
            left: 234px;
        }

        @include media-query(large) {
            left: 209px;
        }
    }

    &__credit {
        display: none;

        @include media-query(large) {
            @include z-index(above-gridlines);
            position: absolute;
            top: 0;
            display: block;
            grid-column: 3 / span 3;
        }
    }

    .theme-dark & {
        #{$root}__cta-link {
            color: $color--black;
            border-top: 1px solid $color--black;

            @include media-query(medium) {
                border-top: 2px solid $color--black;
            }

            &::after {
                background-color: $color--black;
            }
        }

        #{$root}__cta-icon {
            fill: $color--black;
        }
    }

    .theme-light & {
        #{$root}__cta-link {
            color: $color--white;
            border-top: 1px solid $color--white;

            @include media-query(medium) {
                border-top: 2px solid $color--white;
            }

            &::after {
                background-color: $color--white;
            }
        }

        #{$root}__cta-icon {
            fill: $color--white;
        }
    }
}
