.hero {
    $root: &;
    overflow: hidden;

    &--medium {
        &::before {
            @include z-index(under);
            content: '';
            background-color: $color--black;
            height: 130px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        margin-top: 120px; // height of header
        max-height: 170px;

        @include media-query(medium) {
            margin-top: 130px;
            max-height: 320px;
        }

        @include media-query(large) {
            margin-top: 95px;
            margin-bottom: -90px;
            max-height: 775px;
        }
    }

    &--home {
        @include z-index(base);
        position: fixed;
        left: 0;
        width: 100%;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);

        #{$root}__image {
            height: 100vh;

            @include media-query(medium) {
                height: 100%;
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-height: 290px;

        @include media-query(medium) {
            min-height: 450px;
        }

        @include media-query(large) {
            min-height: 575px;
        }
    }

    &__placeholder {
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        pointer-events: none;
    }

    &__menu-toggler {
        display: block;
        height: 99vh;
    }

    .theme-dark & {
        color: $color--black;
        background-color: $color--white;
    }

    .theme-light & {
        color: $color--white;
        background-color: $color--black;
    }
}
