@use '../abstracts' as *;

.icon {
    width: 20px;
    height: 20px;
    transition: fill $transition;
    fill: $color--primary;

    &:hover {
        fill: $color--primary; // Black stays black
    }
}
