.icon {
    width: 20px;
    height: 20px;
    transition: fill $transition;
    fill: $color--primary;

    &:hover {
        fill: darken($color--primary, 20%);
    }

    &--footer-social {
        @include media-query(tablet-portrait) {
            margin-right: 10px;
        }
    }
}
