.image-caption-link {
    $root: &;
    margin-bottom: ($gutter * 1.75);
    grid-column: 1 / span 2;

    @include media-query(large) {
        grid-column: 2 / span 3;
    }

    &__image {
        @include z-index(above-gridlines);
        position: relative;

        #{$root}__link & {
            opacity: 0.8;

            @include media-query(medium) {
                opacity: 1;
                transition: opacity $transition;

                #{$root}:hover & {
                    opacity: 0.8;
                }
            }
        }
    }

    &__link {
        position: relative;
        pointer-events: cursor;

        &:active,
        &:focus,
        &:hover {
            cursor: pointer;
        }
    }

    &__caption-container {
        @include z-index(above-gridlines);
        display: grid;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        @include media-query(medium) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-query(large) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        #{$root}__caption {
            display: none;
            font-family: $font--secondary;
            font-weight: $weight--medium;
            margin: 0;
            padding: $gutter;
            align-items: center;
            grid-column: 2 / span 1;

            @include media-query(medium) {
                display: flex;
                align-items: flex-start;
            }

            @include media-query(large) {
                grid-column: 3 / span 1;
            }
        }

        #{$root}__caption-text {
            margin-bottom: -($gutter / 2);
            flex: 1;
            max-width: 60%;

            @include media-query(large) {
                max-width: 80%;
            }
        }
    }

    &__caption-icon {
        margin-right: ($gutter / 2);
    }

    &__image-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        pointer-events: none;

        @include media-query(medium) {
            display: none;
        }
    }

    .bg--dark & {
        #{$root}__caption {
            border-right: 1px solid $color--grid-line-light;
            background-color: $color--black;
        }

        #{$root}__caption-icon {
            fill: $color--white;
        }
    }

    .bg--light & {
        #{$root}__caption {
            background-color: $color--white;
            border-right: 1px solid $color--grid-line-dark;
        }

        #{$root}__caption-icon {
            fill: $color--black;
        }
    }
}
