.introduction {
    $root: &;
    line-height: $line-height-large;

    &--end {
        margin-bottom: ($gutter * 2);
    }

    &__text {
        margin-bottom: ($gutter * 2);
    }

    .section__row & {
        @include font-size(s);
        margin-right: ($gutter * 1.5);
    }

    .app--landing-page &,
    .app--guide & {
        #{$root}__container {
            margin-bottom: $gutter;
            grid-column: 1 / span 2;

            @include media-query(large) {
                grid-column: 3 / span 2;
                margin-bottom: ($gutter * 2);
                margin-right: $gutter;
            }
        }
    }
}
