.jump-nav {
    $root: &;

    &.js-is-sticky.bg--dark {
        background-color: $color--white;
        color: $color--black;
        border-bottom: 1px solid $color--grid-line-dark;
        border-top: 1px solid $color--grid-line-dark;

        #{$root}__heading-icon {
            fill: $color--black;
        }
    }

    &__heading {
        @include font-size(xs);
        display: none;
        align-items: center;
        justify-content: flex-end;
        margin-right: ($gutter * 2);
        grid-column: 1 / span 1;

        @include media-query(large) {
            display: inline-flex;
        }
    }

    &__heading-label {
        margin-right: 5px;
    }

    &__heading-icon {
        transform: rotate(90deg) translateZ(0);
        fill: $color--white;
    }
}
