.key-details {
    $root: &;
    position: relative;
    margin-bottom: ($gutter * 3);

    @include media-query(medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    @include media-query(large) {
        display: block;
        padding-top: ($gutter * 1.5);
        margin-bottom: ($gutter * 2);
        border-top-width: 1px;
        border-top-style: solid;
    }

    &--no-border {
        @include media-query(large) {
            padding-top: 0;
            border-top: 0;
        }
    }

    &--short {
        @include media-query(large) {
            padding-right: $gutter;
        }

        #{$root}__section--action {
            @include media-query(medium) {
                position: static;
                max-width: 100%;
                width: auto;
            }
        }
    }

    &--tight {
        #{$root}__list {
            margin-bottom: $gutter;
        }
    }

    &--event {
        @include media-query(large) {
            margin-top: -($gutter * 3.25);
        }
    }

    &--centre {
        #{$root}__meta {
            // Allow for mobile link underline above it
            margin-top: ($gutter * 0.25);

            @include media-query(large) {
                margin-top: 0;
            }
        }
    }

    // Make this content secondary on small viewports
    &--small-secondary {
        order: 2;

        @include media-query(medium) {
            order: initial;
        }
    }

    &__header {
        @include media-query(medium) {
            flex-basis: 100%;
        }

        &--with-margins {
            margin-bottom: ($gutter);

            @include media-query(medium) {
                margin-bottom: ($gutter * 2);
            }
        }
    }

    &__heading {
        margin-bottom: ($gutter * 2);

        &--small-margin {
            margin-bottom: ($gutter);

            @include media-query(medium) {
                margin-bottom: ($gutter * 2);
            }
        }
    }

    // Only used for medium breakpoint rejigged layout
    &__section {
        @include media-query(medium) {
            flex-basis: 50%;
        }

        &--details {
            @include media-query(medium) {
                order: 2;
            }
        }

        &--deadline {
            @include media-query(medium) {
                order: 4;
                flex-grow: 0;
                flex-shrink: 1;
            }
        }

        &--open-days {
            @include media-query(medium) {
                order: 3;
                flex-grow: 0;
                flex-shrink: 1;
            }
        }

        &--career {
            @include media-query(medium) {
                order: 5;
                flex-grow: 0;
                flex-shrink: 1;
            }
        }

        &--social {
            margin-top: ($gutter * 2);

            @include media-query(medium) {
                order: 6;
                flex-grow: 0;
                flex-shrink: 1;
                margin-top: 0;
                margin-bottom: ($gutter * 3);
            }

            @include media-query(large) {
                margin-top: ($gutter * 2);
            }
        }

        &--action {
            max-width: 230px;

            @include media-query(medium) {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50%;
            }

            @include media-query(large) {
                position: static;
                max-width: 100%;
                width: auto;
            }
        }
    }

    &__sub-heading {
        margin-bottom: ($gutter * 0.5);
    }

    &__list {
        @include font-size(xs);
        margin-bottom: ($gutter * 2);

        @include media-query(large) {
            padding-right: $gutter;
        }
    }

    &__list-item {
        margin-bottom: calc($gutter / 2.25);

        &--tight {
            line-height: $line-height-tight;
        }
    }

    &__link {
        @include font-size(xs);
        margin-right: $gutter;
        max-width: 100% !important;
    }

    .bg--dark & {
        @include media-query(large) {
            border-top-color: $color--grid-line-light;
        }

        #{$root}__sub-heading,
        #{$root}__heading,
        #{$root}__meta {
            color: $color--meta-darkbg;
        }
    }

    .bg--light & {
        @include media-query(large) {
            border-top-color: $color--grid-line-dark;
        }

        #{$root}__sub-heading,
        #{$root}__heading,
        #{$root}__meta {
            color: $color--meta-lightbg;
        }
    }
}
