.link {
    $root: &;
    display: inline-flex;
    align-items: flex-start;
    position: relative;

    &--primary {
        color: $color--tertiary;

        &:hover,
        &:active,
        &:focus {
            color: $color--tertiary;
        }
    }

    &--secondary {
        color: $color--black;

        &:hover,
        &:active,
        &:focus {
            color: $color--black;
        }
    }

    &--primary,
    &--secondary {
        max-width: 190px;
        padding-top: 10px;

        #{$root}__icon {
            top: 0.25em;
        }

        // horizontal line
        &::after {
            content: '';
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            background: currentColor;
            transition: width $transition;
            width: 100%;
            top: 0;

            @include media-query(large) {
                height: 2px;
            }
        }

        &:hover,
        &:active,
        &:focus {
            &::after {
                width: calc(100% + 6px);
            }
        }
    }

    &--tertiary {
        @include underline-hover();
        color: $color--black;

        &:hover,
        &:active,
        &:focus {
            color: $color--black;
        }

        #{$root}__icon {
            top: 0.35em; // em to adapt to font size
        }

        // Colour exceptions
        .upcoming-dates__action & {
            color: $color--tertiary;
        }
    }

    &--social {
        color: $color--black;

        &:hover,
        &:active,
        &:focus {
            color: $color--black;
        }
    }

    &--down {
        #{$root}__icon {
            transform: rotate(90deg) translate3d(0, 0, 0);
        }

        &:hover,
        &:active,
        &:focus {
            #{$root}__icon {
                transform: rotate(90deg) translate3d(3px, 0, 0);
            }
        }
    }

    &--download {
        #{$root}__icon {
            transform: translate3d(0, 0, 0);
            flex-basis: 8px;
            min-width: 8px;
            max-width: 8px;
            width: 8px;
            height: 12px;
        }

        &:hover,
        &:active,
        &:focus {
            #{$root}__icon {
                transform: translate3d(0, 3px, 0);
            }
        }
    }

    &--link {
        #{$root}__icon {
            transform: rotate(-45deg) translate3d(0, 0, 0);
        }

        &:hover,
        &:active,
        &:focus {
            #{$root}__icon {
                transform: rotate(-45deg) translate3d(5px, 0, 0);
            }
        }

        &#{$root}--external {
            #{$root}__icon {
                width: 11px;
                top: 0.2em;
                height: 13px;
                transform: translate3d(0, 0, 0);
            }

            &:hover,
            &:active,
            &:focus {
                #{$root}__icon {
                    transform: translate3d(2px, -2px, 0);
                }
            }
        }

        &#{$root}--social {
            #{$root}__icon {
                transform: rotate(-45deg) translate3d(0, 0, 0);
            }

            &:hover,
            &:active,
            &:focus {
                #{$root}__icon {
                    transform: rotate(-45deg) translate3d(5px, 0, 0);
                }
            }
        }

        &#{$root}--tertiary {
            background-image: none;
            display: inline-block;
            position: relative;
            max-width: calc(100% - 14px);

            #{$root}__icon {
                position: absolute;
                right: -14px;
                top: 0.35em;
            }

            #{$root}__label {
                @include underline-hover-target();
                display: inline;
            }

            &:hover {
                #{$root}__label {
                    @include underline-hover-target-reset();
                }
            }
        }
    }

    &--up {
        #{$root}__icon {
            transform: rotate(-90deg) translate3d(0, 0, 0);
        }

        &:hover,
        &:active,
        &:focus {
            #{$root}__icon {
                transform: rotate(-90deg) translate3d(3px, 0, 0);
            }
        }
    }

    &--back {
        #{$root}__label {
            margin-left: 5px;
            margin-right: 0;
        }

        #{$root}__icon {
            transform: rotate(-180deg) translate3d(0, 0, 0);
        }

        &:hover,
        &:active,
        &:focus {
            #{$root}__icon {
                transform: rotate(-180deg) translate3d(3px, 0, 0);
            }
        }
    }

    &--close {
        #{$root}__icon {
            transform: translate3d(0, 0, 0);
        }

        &:hover,
        &:active,
        &:focus {
            #{$root}__icon {
                transform: translate3d(3px, 0, 0);
            }
        }
    }

    &--book {
        max-width: 170px;
    }

    &--block {
        color: $color--tertiary !important;
        display: block;
        margin-bottom: $gutter;
        width: fit-content;

        &:hover,
        &:active,
        &:focus {
            color: $color--tertiary !important;
        }
    }

    &__icon {
        position: relative;
        flex-basis: 12px;
        min-width: 12px;
        max-width: 12px;
        width: 12px;
        height: 8px;
        fill: currentColor;
        will-change: transform;
        transform-origin: center center;
        transition: transform $transition;

        #{$root}--download & {
            stroke: currentColor;
        }

        #{$root}--close & {
            flex-basis: 10px;
            min-width: 10px;
            max-width: 10px;
            width: 10px;
            height: 10px;
        }
    }

    &__label {
        margin-right: 5px;

        &--tight {
            margin-right: $gutter;
        }
    }

    .bg--dark & {
        &#{$root}--secondary,
        &#{$root}--tertiary,
        &#{$root}--social {
            color: $color--white;

            &:hover,
            &:active,
            &:focus {
                color: $color--white;
            }
        }
    }

    // Components that use font size under 18px (orange doesn't pass on bg--light)
    .text-teaser &,
    .contact & {
        .bg--light & {
            &#{$root}--primary {
                color: $color--black;
            }
        }
    }

    .accordion & {
        @include font-size(xs);
        margin-top: ($gutter * 1.5);
    }

    .key-details & {
        &#{$root}--tertiary {
            // Make sure multi line lines hover show under the whole link
            display: inline;
        }
    }

    .related-links__item & {
        @include media-query(large) {
            font-weight: $weight--bold;
        }
    }
}
