.link {
    max-width: 190px;
    position: relative;
    padding-right: 16px;

    svg {
        width: 10px;
        height: 10px;
        transform: rotate(-45deg) translate(0, 0);
        right: 0;
        position: absolute;
        transition: transform $transition;
        fill: currentColor;
    }

    &--primary,
    &--secondary {
        padding-top: 10px;

        &::after {
            content: '';
            display: block;
            height: 2px;
            left: 0;
            position: absolute;
            background: currentColor;
            transition: width $transition;
            width: 100%;
            top: 0;
        }

        &:hover {
            svg {
                transform: rotate(-45deg) translate(6px, 0);
            }

            &::after {
                width: calc(100% + 6px);
            }
        }
    }

    &--primary {
        color: $color--tertiary;
    }

    &--secondary {
        color: $color--primary;
    }

    &--anchor {
        @include underline-hover();
        position: relative;
    }
}
