.link {
    $root: &;
    display: inline-flex;
    align-items: flex-start;
    max-width: 190px;
    position: relative;

    &--primary {
        color: $color--tertiary;
    }

    &--secondary {
        color: $color--primary;
    }

    &--tertiary {
        display: inline-flex;
        align-items: center;
        max-width: 100%;
        color: $color--black;

        #{$root}__label {
            margin-right: 2px;
        }
    }

    &--primary,
    &--secondary {
        padding-top: 10px;

        &::after {
            content: '';
            display: block;
            height: 2px;
            left: 0;
            position: absolute;
            background: currentColor;
            transition: width $transition;
            width: 100%;
            top: 0;
        }

        &:hover {
            #{$root}__icon {
                transform: rotate(-45deg) translate3d(5px, 0, 0);
            }

            &::after {
                width: calc(100% + 6px);
            }
        }
    }

    &--primary,
    &--secondary,
    &--anchor {
        padding-right: 16px;

        #{$root}__icon {
            position: absolute;
            right: 0;
        }
    }

    &--anchor {
        @include underline-hover();
        position: relative;
    }

    &__icon {
        width: 12px;
        height: 8px;
        fill: currentColor;
        transition: transform $transition;

        &--rotated {
            will-change: transform;
            transform: rotate(-45deg) translate3d(0, 0, 0);
        }
    }
}
