.logo {
    $root: &;
    display: block;

    .footer & {
        width: 92px;
        height: auto;

        @include media-query(medium) {
            width: 230px;
        }

        #{$root}__image {
            fill: $color--white;
        }
    }

    .header-content-dark & {
        #{$root}__image {
            fill: $color--black;
        }
    }

    .app__navigation &,
    .header-content-light & {
        #{$root}__image {
            fill: $color--white;
        }
    }

    .headroom--pinned.headroom--not-top .header &,
    .headroom--pinned.headroom--not-top .app__navigation & {

        #{$root}__image {
            width: 92px;
            height: auto;
            fill: $color--white;
        }

    }

    // .headroom--top .header &,
    // .headroom--top .app__navigation & {
    //
    //     #{$root}__image {
    //         width: 130px;
    //         height: auto;
    //
    //         @include media-query(medium) {
    //             width: 162px;
    //         }
    //     }
    //
    // }
}
