.logo {
    $root: &;
    display: block;
    transition: opacity $transition;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.7;
    }

    &__image {
        height: auto;
        fill: $color--white;
    }

    .footer & {
        #{$root}__image {
            width: 92px;

            @include media-query(medium) {
                width: 230px;
            }

            &--dark {
                display: none;
            }
        }
    }

    .headroom--pinned.headroom--not-top .header &,
    .headroom--pinned.headroom--not-top .app__navigation & {
        #{$root}__image {
            width: 92px;
        }
    }

    .nav-open & {
        @include z-index(headerLogo);
        position: relative;
    }
}
