@use '../abstracts' as *;

.modal {
    $root: &;

    display: none;

    &.is-open {
        display: block;
    }

    &--cta {
        #{$root}__title {
            font-size: map-get($large-font-sizes, l);
            margin-bottom: ($gutter * 0.5);
        }

        #{$root}__overlay {
            display: flex;
            align-items: center;

            @include media-query(large) {
                display: block;
            }
        }
    }

    &__overlay {
        @include z-index(modal);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        max-height: 100%;
        will-change: transform;
    }

    &__container {
        will-change: transform;

        &--above-grid {
            @include z-index(above-gridlines);
            position: relative;
        }

        &--offset {
            @include media-query(large) {
                margin-top: 10%;
            }
        }
    }

    &__header {
        margin-top: ($gutter * 0.5);
        margin-bottom: ($gutter * 2);

        @include media-query(medium) {
            margin-bottom: ($gutter * 4);
        }
    }

    &__close {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: transparent;
        border: 0;
        width: auto;
        grid-column: 2 / span 1;
        cursor: pointer;

        @include media-query(large) {
            grid-column: 4 / span 1;
        }

        &--over-image {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $color--white;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__close-label {
        display: none;
        font-weight: $weight--bold;
        margin-right: ($gutter * 0.25);
        pointer-events: none;

        @include media-query(large) {
            display: block;
        }
    }

    &__close-icon {
        pointer-events: none;
    }

    &__content {
        grid-column: 1 / span 2;

        @include media-query(large) {
            grid-column: 2 / span 3;
        }
    }

    &__footer-notch {
        @include z-index(modal);
        height: 50px;
        background-color: $color--white;
        position: relative;
        display: none;

        @include media-query(medium) {
            display: block;
            margin-top: -50px;
            margin-bottom: -1px;
            width: 50%;
        }

        @include media-query(large) {
            width: calc(100% / 3 * 2);
        }
    }

    &__footer {
        position: relative;
        background-color: $color--white;
        color: $color--black;
        padding: $gutter;

        @include media-query(medium) {
            display: flex;
            align-items: flex-end;
            padding: 0 0 ($grid * 3);
        }
    }

    &__footer-inner {
        margin-bottom: calc(#{$gutter} + 10px);

        @include media-query(medium) {
            width: 50%;
            padding: 0 $gutter 0 calc($gutter * 2);
            margin-bottom: 0;
        }

        @include media-query(large) {
            width: calc(100% / 3 * 2);
        }
    }

    &__description {
        color: $color--dark-grey;
        margin-bottom: 0;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateY(15%);
        }

        to {
            transform: translateY(0);
        }
    }

    @keyframes slideOut {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-10%);
        }
    }

    &[aria-hidden='false'] .modal__overlay {
        animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
    }

    &[aria-hidden='false'] .modal__container {
        animation: slideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
    }

    &[aria-hidden='true'] .modal__overlay {
        animation: fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
    }

    &[aria-hidden='true'] .modal__container {
        animation: slideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
    }
}
