.mode-checkbox {
    $root: &;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__checkbox {
        position: relative;
        appearance: none;
        width: 29px;
        height: 29px;
        min-width: 29px;
        max-width: 29px;
        border: 3px solid $color--dark-grey;
        margin-right: 15px;
        cursor: pointer;
        transition: border-color $transition-cubic, opacity $transition-cubic;

        &:checked {
            border-color: rgba($color--dark-grey, 0.3);

            &::before {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 17px;
                height: 17px;
                background-color: $color--tertiary;
                opacity: 1;
            }
        }
    }

    &__label {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: ($grid * 1.5);
        color: $color--dark-grey;

        &--selected {
            color: $color--black;
        }
    }

    .categories-tablist & {
        margin-bottom: $gutter;

        @include media-query(large) {
            position: relative;
            top: -2px; // align with other filter categories
            border-left: 1px solid $color--grid-line-dark;
            padding-left: $gutter;
            margin-right: $gutter;
            margin-bottom: 0;
            max-width: 100%;
        }

        .filter-bar--stuck & {
            border-color: $color--white-24;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -20px;
            height: 1px;
            width: 11px;
            background-color: $color--black-12;

            @include media-query(large) {
                content: none;
            }
        }
    }

    .section__notch &,
    .programmes-categories & {
        justify-content: flex-start;
        margin-top: 13px;
        margin-bottom: 0;
        padding-top: 10px;

        @include media-query(large) {
            justify-content: space-between;
            margin-top: unset;
            padding-top: unset;
        }

        #{$root}__switch {
            margin-right: ($gutter * 0.5);

            @include media-query(large) {
                margin-right: $gutter;
            }
        }
    }

    .filter-bar--stuck & {
        #{$root}__label {
            color: $color--light-grey;
        }
    }
}

/* stylelint-disable selector-max-id */
.app--event-listing {
    #tab-upcomingpast {
        display: none !important; // don't display toggle tab, as toggle implements this functionality
    }
}
/* stylelint-enable selector-max-id */
