.mode-checkbox {
    $root: &;
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
    padding-top: $gutter;
    color: inherit;

    @include media-query(medium) {
        grid-template-columns: 2fr 3fr;
        padding-top: $gutter * 2.5;
    }

    @include media-query(large) {
        grid-template-columns: 1fr 1fr;
        grid-column: 2 / span 4;
        padding-top: $gutter * 1.5;
        // Keep the left border aligned with the grid lines.
        margin-left: -1px;
    }

    &__formset {
        display: flex;
        flex-direction: row;
    }

    &__error {
        color: $color--red;
        margin-bottom: 10px;
        position: absolute;
        bottom: 30px;

        @include media-query(medium) {
            bottom: 40px;
        }

        @include media-query(large) {
            bottom: 35px;
        }
    }

    &__checkbox {
        position: relative;
        appearance: none;
        width: 29px;
        height: 29px;
        min-width: 29px;
        max-width: 29px;
        border: 3px solid $color--dark-grey;
        margin-right: 15px;
        cursor: pointer;
        transition: border-color $transition-cubic, opacity $transition-cubic;

        &:checked {
            border-color: rgba($color--dark-grey, 0.3);

            &::before {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 17px;
                height: 17px;
                background-color: $color--tertiary;
                opacity: 1;
            }
        }

        &--error {
            border: 3px solid $color--red;
        }
    }

    &__label {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: ($grid * 1.5);
        color: $color--dark-grey;

        &--selected {
            color: $color--black;
        }
    }

    .categories-tablist & {
        margin-bottom: $gutter;

        @include media-query(large) {
            position: relative;
            top: -2px; // align with other filter categories
            margin-bottom: 0;
            max-width: 100%;
        }

        .filter-bar--stuck & {
            border-color: $color--white-24;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -20px;
            height: 1px;
            width: 11px;
            background-color: $color--black-12;

            @include media-query(large) {
                content: none;
            }
        }
    }

    .programmes-categories & {
        justify-content: flex-start;
        margin-top: 13px;
        margin-bottom: 9px;
        padding: 10px 0;

        @include media-query(large) {
            justify-content: space-between;
        }

        #{$root}__switch {
            margin-right: ($gutter * 0.5);

            @include media-query(large) {
                margin-right: $gutter;
            }
        }
    }

    .filter-bar--stuck & {
        #{$root}__label {
            color: $color--light-grey;
        }
    }
}

/* stylelint-disable selector-max-id */
.app--event-listing {
    #tab-upcomingpast {
        display: none !important; // don't display toggle tab, as toggle implements this functionality
    }
}
/* stylelint-enable selector-max-id */
