.nav {
    margin-bottom: 1rem;

    p {
        color: $color--white; // temp
    }

    &--primary {
        display: none;

        @include media-query(large) {
            margin-top: $gutter * 6;
        }

        .menu-active & {
            display: block;
        }
    }

    &--secondary {
        margin-right: 15px;
    }

    &--subnav {
        height: 100%;
        display: none;

        @include media-query(large) {
            padding-top: ($gutter * 6);
        }

        &:hover,
        &.is-visible {
            display: block;
        }
    }

    &--tertiary {
        flex-wrap: wrap;
        height: auto;

        li:first-child {
            a {
                margin-left: 0;
            }
        }
    }

    &--breadcrumb {
        flex-direction: row;
        margin-bottom: 10px;
    }

    &__item {
        &--group-heading {
            display: block;

            @include media-query(large) {
                display: none;
            }
        }

        &--back {
            @include font-size(xs);
            display: none;
            color: white;
            text-transform: uppercase;
        }

        &--breadcrumb {
            width: auto;
            padding: 0;
            margin: 0 5px 0 0;
            font-size: 12px;
            font-weight: $weight--light;
            text-transform: uppercase;
            border-bottom: 0;

            &::after {
                color: $color--primary;
                content: '›';
            }

            &:first-child {
                a {
                    margin-left: 0;
                }
            }

            &:last-child {
                margin-left: 10px;
                border-bottom: 1px solid;
            }
        }
    }

    &__link {
        font-size: map-get($small-font-sizes, xs);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $gutter 0;
        color: $color--white;

        &:hover {
            cursor: pointer;
        }

        @include media-query(medium) {
            font-size: map-get($large-font-sizes, xs);
        }

        &--breadcrumb {
            color: $color--primary;

            &:hover {
                color: lighten($color--primary, 20%);
                border-bottom: 1px solid $color--primary;
            }
        }

        &--group-heading {
            font-size: map-get($small-font-sizes, s);

            @include media-query(medium) {
                font-size: map-get($medium-font-sizes, s);
            }
        }

    }

    &__icon {
        fill: $color--white;
        pointer-events: none;

        @include media-query(large) {
            display: none;
        }
    }
}
