.nav {
    display: none;
    margin-bottom: 1rem;

    .menu-active & {
        display: block;
    }

    a,p {
        color: $color--white; // temp
    }

    &--primary {
        @include media-query(tablet-portrait) {
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 0;
        }
    }

    &--secondary {
        margin-right: 15px;
    }

    &--subnav {
        display: none;

        &:hover,
        &.is-visible {
            display: block;
        }
    }

    &--tertiary {
        flex-wrap: wrap;
        height: auto;

        li:first-child {
            a {
                margin-left: 0;
            }
        }
    }

    &--breadcrumb {
        flex-direction: row;
        margin-bottom: 10px;
    }

    &__item {
        margin: 1rem 0;
        text-align: center;

        .nav--tertiary & {
            width: 100%;
            padding-bottom: 5px;
            margin-bottom: 0;
            border-bottom: 0;

            @include media-query(tablet-portrait) {
                width: auto;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        @include media-query(tablet-portrait) {
            width: auto;
            padding: 0;
            margin: 0;
            font-weight: $weight--light;
            text-align: left;
            border-bottom: 0;

            &::after {
                color: $color--tertiary;
                content: '|';
            }

            &:last-of-type {
                &::after {
                    content: '';
                }
            }
        }

        &--secondary {
            font-weight: $weight--light;
        }

        &--footer {
            a {
                color: $color--white;
            }
        }

        &--footer-column {
            &::after {
                display: none;
            }

            a {
                margin: 0;
                color: $color--white;
            }
        }

        &--back {
            @include font-size(xs);
            display: none;
            color: white;
            text-transform: uppercase;
        }

        &--breadcrumb {
            width: auto;
            padding: 0;
            margin: 0 5px 0 0;
            font-size: 12px;
            font-weight: $weight--light;
            text-transform: uppercase;
            border-bottom: 0;

            &::after {
                color: $color--primary;
                content: '›';
            }

            &:first-child {
                a {
                    margin-left: 0;
                }
            }

            &:last-child {
                margin-left: 10px;
                border-bottom: 1px solid;
            }
        }
    }

    &__link {
        color: $color--white;

        &:hover {
            cursor: pointer;
        }

        @include media-query(tablet-landscape) {
            &:hover {
                color: lighten($color--secondary, 20%);
                border-bottom: 1px solid $color--secondary;
            }
        }

        @include media-query(tablet-portrait) {
            padding: 5px 0;
            margin: 0 10px;
            color: $color--secondary;
        }

        &--breadcrumb {
            color: $color--primary;

            &:hover {
                color: lighten($color--primary, 20%);
                border-bottom: 1px solid $color--primary;
            }
        }
    }

    &__icon {
        @include media-query(tablet-landscape) {
            // @todo - desktop dropdown styles
            display: none;
        }
    }
}
