.nav {
    margin-bottom: 1rem;

    a,
    p {
        color: $color--white; // temp
    }

    &--primary {
        display: none;

        @include media-query(large) {
            margin-top: $gutter * 6;
        }

        .menu-active & {
            display: block;
        }
    }

    &--secondary {
        margin-right: 15px;
    }

    &--subnav {
        height: 100%;
        display: none;

        @include media-query(large) {
            padding-top: $gutter * 9.5;
        }

        &:hover,
        &.is-visible {
            display: block;
        }
    }

    &--tertiary {
        flex-wrap: wrap;
        height: auto;

        li:first-child {
            a {
                margin-left: 0;
            }
        }
    }

    &--breadcrumb {
        flex-direction: row;
        margin-bottom: 10px;
    }

    &__item {
        margin-bottom: $gutter + 4px;


        &--secondary {
            font-weight: $weight--light;
        }

        &--back {
            @include font-size(xs);
            display: none;
            color: white;
            text-transform: uppercase;
        }

        &--breadcrumb {
            width: auto;
            padding: 0;
            margin: 0 5px 0 0;
            font-size: 12px;
            font-weight: $weight--light;
            text-transform: uppercase;
            border-bottom: 0;

            &::after {
                color: $color--primary;
                content: '›';
            }

            &:first-child {
                a {
                    margin-left: 0;
                }
            }

            &:last-child {
                margin-left: 10px;
                border-bottom: 1px solid;
            }
        }
    }

    &__link {
        color: $color--white;

        &:hover {
            cursor: pointer;
        }

        @include media-query(tablet-landscape) {
            &:hover {
                color: lighten($color--secondary, 20%);
                border-bottom: 1px solid $color--secondary;
            }
        }

        @include media-query(tablet-portrait) {
            padding: 5px 0;
            margin: 0 10px;
            color: $color--secondary;
        }

        &--breadcrumb {
            color: $color--primary;

            &:hover {
                color: lighten($color--primary, 20%);
                border-bottom: 1px solid $color--primary;
            }
        }
    }
}
