.news {
    $root: &;
    grid-column: 1 / span 2;

    @include media-query(medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @include media-query(large) {
        grid-column: 2 / span 3;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__feature {
        @include media-query(medium) {
            grid-column: 1 / span 2;
        }
    }

    &__sub-features {
        @include media-query(medium) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column: 1 / span 2;
            grid-row: 2;
        }

        @include media-query(large) {
            display: block;
            grid-column: 3 / span 1;
            grid-row: auto;
        }
    }

    &__view-all {
        margin-top: ($gutter * 2);

        @include media-query(medium) {
            grid-row: 3;
            grid-column: 2;
            margin-top: 0;
        }

        @include media-query(large) {
            grid-column: auto;
            grid-row: auto;
            margin-top: 0;
        }
    }

    .app--homepage & {
        margin-bottom: ($gutter * 2);
    }

    // Theme management
    .bg--dark & {
        #{$root}__sub-features {
            .card {
                &:first-child {
                    border-top: 1px solid $color--grid-line-light;

                    @include media-query(medium) {
                        border-top: 0;
                    }

                    @include media-query(large) {
                        border-bottom: 1px solid $color--grid-line-light;
                    }
                }
            }
        }

        &--single-feature {
            .card {
                &:nth-child(2) {
                    @include media-query(large) {
                        border-bottom: 1px solid $color--grid-line-light;
                    }
                }
            }
        }
    }

    .bg--light & {
        #{$root}__sub-features {
            .card {
                &:first-child {
                    border-top: 1px solid $color--grid-line-dark;

                    @include media-query(medium) {
                        border-top: 0;
                    }

                    @include media-query(large) {
                        border-bottom: 1px solid $color--grid-line-dark;
                    }
                }
            }
        }

        &--single-feature {
            .card {
                &:nth-child(2) {
                    @include media-query(large) {
                        border-bottom: 1px solid $color--grid-line-dark;
                    }
                }
            }
        }
    }
}
