.pagination {
    $root: &;
    // Space either side of pagination items
    $spacing: ($gutter * 0.5);

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__item {
        position: relative;
        margin-right: $spacing;
        margin-left: $spacing;

        &--current {
            #{$root}__link {
                @include underline-hover-target-reset();
                font-weight: $weight--bold;
            }
        }
    }

    &__ellipsis {
        margin-right: $spacing;
        margin-left: $spacing;
    }

    &__link {
        @include underline-hover();
        background-size: 0% 2px;
        display: block;
        transition: color $transition-cubic;

        &::after {
            width: 0;
        }
    }

    &__button {
        &--prev {
            margin-right: calc(#{$spacing} * 2);
        }

        &--next {
            margin-left: calc(#{$spacing} * 2);
        }
    }

    &__button-label {
        @include hidden();
    }

    &__button-icon {
        height: $gutter;
        width: $gutter;
    }

    /** Colours dependant on bg colour */

    .bg--light & {
        &__item {
            &--current {
                color: $color--black;
            }
        }

        &__ellipsis {
            color: $color--meta-lightbg;
        }

        &__button-icon {
            stroke: $color--meta-lightbg;
        }

        &__button-link {
            &:hover,
            &:focus,
            &:active {
                #{$root}__button-icon {
                    stroke: $color--black;
                }
            }
        }

        &__link {
            color: $color--meta-lightbg;

            &:hover,
            &:focus,
            &:active {
                color: $color--black;
            }
        }
    }

    .bg--dark & {
        &__item {
            &--current {
                color: $color--white;
            }
        }

        &__ellipsis {
            color: $color--meta-darkbg;
        }

        &__button-icon {
            stroke: $color--meta-darkbg;
        }

        &__button-link {
            &:hover,
            &:focus,
            &:active {
                #{$root}__button-icon {
                    stroke: $color--white;
                }
            }
        }

        &__link {
            color: $color--meta-darkbg;

            &:hover,
            &:focus,
            &:active {
                color: $color--white;
            }
        }
    }
}
