.page {

    &--overlap {

        @include media-query(medium) {
            position: relative;
            top: -75px;
            margin-bottom: -75px;
        }

        @include media-query(large) {
            top: -100px;
            margin-bottom: -100px;
        }
    }

    &__header {

        @include media-query(large) {
            grid-column: 2 / span 3;
        }

    }

}
