.page {
    $root: &;
    $notch-medium-height: 75px;
    $notch-large-height: 100px;

    &--overlap {
        @include media-query(medium) {
            position: relative;
            top: -$notch-medium-height;
            margin-bottom: -$notch-medium-height;
        }

        @include media-query(large) {
            top: -$notch-large-height;
            margin-bottom: -$notch-large-height;
        }
    }

    &--overlay {
        @include z-index(gridlines);
        position: relative;

        .theme-dark & {
            background-color: $color--black;
        }

        .theme-light & {
            background-color: $color--white;
        }
    }

    &__notch-block {
        @include media-query(medium) {
            position: relative;
            grid-column: 1 / span 2;
            height: $notch-medium-height;
        }

        @include media-query(large) {
            grid-column: 1 / span 4;
            height: $notch-large-height;
        }

        &::before {
            @include media-query(medium) {
                position: absolute;
                content: '';
                display: block;
                width: 100%;
                left: 0;
                transform: translate3d(
                    -90%,
                    0%,
                    0
                ); // if 100 someones shows a subpixel
                height: $notch-medium-height;
            }

            @include media-query(large) {
                height: $notch-large-height;
            }
        }

        &.bg--dark {
            &::before {
                background-color: $color--black;
            }
        }

        &.bg--light {
            &::before {
                background-color: $color--white;
            }
        }
    }

    .sticky-bar.app--short-course & {
        #{$root}__header {
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -91px;
                left: 0;
                width: 100%;
                background-color: $color--black;
                width: 100%;
                height: 91px; // height of booking bar
            }
        }
    }
}
