.partnerships {
    $root: &;

    &--block {
        padding-bottom: ($gutter * 2.5);

        @include media-query(medium) {
            padding-bottom: ($gutter * 3);
        }

        @include media-query(large) {
            padding-bottom: ($gutter * 7);
        }
    }

    &--tight-heading {
        #{$root}__heading {
            @include media-query(large) {
                grid-column: 2 / span 1;
            }
        }
    }

    &__header {
        margin-bottom: $gutter;

        @include media-query(medium) {
            margin-bottom: ($gutter * 2);
        }

        @include media-query(large) {
            margin-bottom: ($gutter * 3);
        }
    }

    &__heading {
        grid-column: 1 / span 2;
        margin-bottom: $gutter;
        min-width: 0;

        @include media-query(medium) {
            grid-column: 1;
        }

        @include media-query(large) {
            grid-column: 2 / span 2;
            margin-bottom: 0;
        }
    }

    &__introduction {
        @include font-size(s);
        grid-column: 1 / span 2;

        @include media-query(medium) {
            grid-row: 2;
            grid-column: 2 / span 1;
        }

        @include media-query(large) {
            position: relative;
            grid-column: 4 / span 1;
            top: -($gutter * 2);
        }
    }
}
