.programme-overview {
    $root: &;

    &__key-details {
        grid-row: 3;
        grid-column: 1 / span 2;

        @include media-query(large) {
            grid-row: auto;
            grid-column: 1 / span 1;
        }
    }

    &__body {
        grid-column: 1 / span 2;

        @include media-query(large) {
            grid-column: 3 / span 2;
        }

        &--video {
            margin-bottom: $gutter;

            @include media-query(large) {
                margin-bottom: ($gutter * 3.5);
            }
        }
    }

    &__description {
        padding-right: $gutter;
    }

    &__pathways {
        padding-top: ($gutter * 3.5);
        padding-bottom: ($gutter * 3.5); // Added for API module removal

        @include media-query(large) {
            padding-top: ($gutter * 4);
        }
    }

    .app--short-course & {
        // Video spans three columns on short courses
        #{$root}__body {
            @include media-query(large) {
                grid-column: 2 / span 3;
            }
        }

        #{$root}__description {
            @include media-query(large) {
                padding-left: 33.333%;
                margin-bottom: ($gutter * 4);
            }
        }

        // Align details with bottom of section__heading--primary
        #{$root}__key-details {
            @include media-query(large) {
                margin-top: -($gutter * 3.5);
            }
        }
    }
}
