.profile-teaser {
    $root: &;

    &__container {
        display: flex;
        flex-direction: row;
        margin-bottom: ($gutter * 1.25);

        @include media-query(medium) {
            margin-bottom: ($gutter * 2.75);
        }

        &--link {
            #{$root}__heading {
                @include underline-hover-target();
            }

            &:hover,
            &:focus,
            &:active {
                #{$root}__image {
                    opacity: 0.8;
                }

                #{$root}__heading {
                    @include underline-hover-target-reset();
                }
            }
        }
    }

    &__image {
        max-width: 60px;
        min-width: 60px;
        height: 60px;
        flex-basis: 60px;
        transition: opacity $transition-cubic;
    }

    &__content {
        padding-left: $gutter;
        flex-basis: auto;

        @include media-query(medium) {
            position: relative;
            top: -4px; // Align top of text with image
            padding-right: $gutter;
        }

        @include media-query(large) {
            line-height: 1.3;
        }
    }

    &__heading {
        display: inline;
        word-break: break-word;
    }

    &__meta {
        margin: 0;

        &--first {
            margin-top: ($gutter * 0.25);
        }
    }

    .student-listing & {
        @include media-query(medium) {
            flex-basis: 50%;
            max-width: 50%;
            min-width: 50%;
        }
    }

    .bg--dark & {
        #{$root}__heading {
            color: $color--white;
        }

        #{$root}__meta {
            color: $color--meta-darkbg;
        }
    }

    .bg--light & {
        #{$root}__heading {
            color: $color--black;
        }

        #{$root}__meta {
            color: $color--meta-lightbg;
        }
    }
}
