.project-overview {
    $root: &;

    &--condensed {
        #{$root}__media {
            @include media-query(large) {
                padding-top: 0;
                margin-bottom: 0;
            }
        }
    }

    &__content {
        @include media-query(large) {
            order: 2;
        }
    }

    &__introduction {
        @include media-query(large) {
            padding-top: ($gutter * 4);
        }
    }

    &__media {
        margin-bottom: ($gutter * 2);
        padding-top: ($gutter * 2);

        @include media-query(large) {
            padding-top: ($gutter * 4);
            margin-bottom: ($gutter * 6);
        }
    }

    &__streamfield {
        @include media-query(large) {
            padding-left: 33.333%;
        }

        &--bottom-margin {
            margin-bottom: ($gutter * 2);
        }
    }

    &__heading {
        margin-bottom: $gutter;
    }

    &__key-details {
        @include media-query(large) {
            order: 1;
        }
    }
}
