.profile-image {
    $root: &;

    .title-area__image & {
        #{$root}__item {
            display: block;
            width: 100%;
            height: auto;
            max-height: 680px;
            max-width: 680px;
            margin-left: auto;
        }
    }
}
