.qaa-logo {
    color: $color--white;

    &__image {
        width: 56px;
        height: 64px;

        @include media-query(medium) {
            width: 87px;
            height: 97px;
        }
    }
}
