.quote {
    $root: &;

    &__text {
        margin-bottom: ($gutter * 2);
    }

    &__cite {
        @include font-size(xs);
        display: flex;
        flex-direction: row;
    }

    &__job-title {
        margin-left: ($gutter / 4);
    }

    .carousel--square & {
        @include media-query(large) {
            padding-right: 33.33%;
        }
    }

    .bg--dark & {
        #{$root}__text,
        #{$root}__author {
            color: $color--white;
        }

        #{$root}__job-title {
            color: $color--meta-darkbg;
        }
    }

    .bg--light & {
        #{$root}__text,
        #{$root}__author {
            color: $color--black;
        }

        #{$root}__job-title {
            color: $color--meta-lightbg;
        }
    }
}
