.quote {
    $root: &;

    &__text {
        margin-bottom: ($gutter * 2);
    }

    &__cite {
        @include font-size(xs);
        display: flex;
        flex-direction: row;
    }

    &__job-title {
        margin-left: ($gutter * 0.25);
    }

    .carousel--square & {
        @include media-query(large) {
            padding-right: 33.33%;
        }
    }

    .bg--dark & {
        #{$root}__text,
        #{$root}__author {
            color: $color--white;
        }

        #{$root}__job-title {
            color: $color--meta-darkbg;
        }
    }

    .bg--light & {
        #{$root}__text,
        #{$root}__author {
            color: $color--black;
        }

        #{$root}__job-title {
            color: $color--meta-lightbg;
        }
    }

    .streamfield & {
        padding-top: ($gutter * 2);
        padding-bottom: ($gutter * 2);
        border-width: 1px 0;
        border-style: solid;
        margin-bottom: ($gutter * 2);
        margin-top: ($gutter * 2.5);

        &:first-child {
            margin-top: 0;
        }

        .bg--light & {
            border-color: $color--grid-line-dark;
        }

        .bg--dark & {
            border-color: $color--grid-line-light;
        }
    }
}
