.related-content {
    padding-top: ($gutter * 4);
    padding-bottom: ($gutter * 6);

    &__group {
        margin-bottom: ($gutter * 3);
    }

    &__heading,
    &__subheading {
        grid-column: 2 / span 2;
    }

    &__heading {
        margin-bottom: ($gutter * 3);
    }

    &__subheading {
        margin-bottom: $gutter;
    }

    &__meta {
        grid-column: 2 / span 1;
    }

    &__copy,
    &__meta {
        padding-top: $gutter;

        .bg--dark & {
            border-top: 1px solid $color--grid-line-light;
        }

        .bg--light & {
            border-top: 1px solid $color--grid-line-dark;
        }
    }

    &__image-container {
        display: none;
        position: relative;

        @include media-query(large) {
            display: block;
        }

        > img {
            position: absolute;
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__degree {
        opacity: 0.4;
    }

    &__copy {
        @include font-size(xxs);
    }
}

