.reset {
    @include underline-hover();
    $root: &;
    position: relative;
    display: inline-flex;
    align-items: center;
    opacity: 1;
    transition: opacity $cubic-transition;

    &--hidden {
        @include hidden();
        opacity: 0;
    }

    &__icon {
        margin-right: ($gutter / 4);
        fill: currentColor;
    }

    .bg--light & {
        color: $color--black;

        &--primary {
            color: $color--tertiary;
        }
    }

    .bg--dark & {
        color: $color--white;

        &--primary {
            color: $color--tertiary;
        }
    }

    .categories-tablist & {
        font-family: $font--primary;
        color: $color--black;
    }

    .filter-bar--stuck & {
        color: $color--white;
    }

    .filter-tab-options & {
        color: $color--black;
    }
}
