.reset {
    $root: &;
    position: relative;
    display: inline-flex;
    align-items: center;
    opacity: 1;
    transition: opacity $transition-cubic;

    @include media-query(large) {
        @include underline-hover();
    }

    &--hidden {
        @include hidden();
        opacity: 0;
        background: none;
    }

    &__icon {
        margin-right: ($gutter * 0.25);
        fill: currentColor;
    }

    .bg--light & {
        color: $color--black;

        &--primary {
            color: $color--tertiary;
        }
    }

    .bg--dark & {
        color: $color--white;

        &--primary {
            color: $color--tertiary;
        }
    }

    .categories-tablist & {
        color: $color--black;
    }

    .filter-bar--stuck & {
        color: $color--white;
    }

    .filter-tab-options & {
        color: $color--black;
    }

    .no-results & {
        padding-top: 10px;

        &::after {
            content: '';
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            background: currentColor;
            transition: width $transition;
            width: 100%;
            top: 0;

            @include media-query(large) {
                height: 2px;
            }
        }

        &:hover,
        &:active,
        &:focus {
            &::after {
                width: calc(100% + 6px);
            }
        }
    }
}
