.results-total {
    $root: &;

    .bg--dark & {
        #{$root}__number {
            color: $color--meta-darkbg;
        }
    }

    .bg--light & {
        #{$root}__number {
            color: $color--meta-lightbg;
        }
    }
}
