@use '../abstracts' as *;

.results-total {
    $root: &;
    position: relative;

    &__heading {
        line-height: 40px;
    }

    &__disclaimer {
        color: $color--dark-grey;
    }

    &__anchor {
        position: absolute;
        top: -20px;
    }

    .bg--dark & {
        #{$root}__number {
            color: $color--meta-darkbg;
        }
    }

    .bg--light & {
        #{$root}__number {
            color: $color--meta-lightbg;
        }
    }
}
