.rich-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include heading-text();
        margin-bottom: $gutter;
        line-height: $line-height-large;
    }

    h2 {
        @include font-size(xl);
    }

    h3 {
        @include font-size(l);
    }

    h4 {
        @include font-size(m);
    }

    h5,
    h6 {
        @include font-size(s);
    }

    ul {
        list-style: inside disc;
    }

    ol {
        list-style: inside decimal;
    }

    a {
        @include underline-hover();
        position: relative;

        .bg--dark & {
            color: $color--white;
        }

        .bg--light & {
            color: $color--white;
        }
    }
}
