.rich-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include heading-text();
        margin-bottom: $gutter;
        line-height: $line-height-large;
    }

    h2 {
        @include font-size(xl);
        margin-bottom: ($gutter * 1.5);

        @include media-query(large) {
            margin-bottom: ($gutter * 2);
        }
    }

    h3 {
        @include font-size(l);
    }

    h4 {
        @include font-size(m);
    }

    h5,
    h6 {
        @include font-size(s);
    }

    ul {
        list-style: outside disc;
        margin: 0 0 $gutter $gutter;
    }

    ol {
        list-style: inside decimal;
        margin: 0 0 $gutter;
    }

    a {
        @include underline-hover();
        position: relative;

        .bg--dark & {
            color: $color--white;
        }

        .bg--light & {
            color: $color--black;
        }

        // Accordion needs to be inverted (bg changes when they open)
        .bg--dark .accordion__content & {
            color: $color--black;
        }

        .bg--light .accordion__content & {
            color: $color--white;
        }
    }

    .image {
        margin-bottom: ($gutter * 1.5);
        margin-top: ($gutter * 1.5);

        @include media-query(large) {
            margin-bottom: ($gutter * 2);
            margin-top: ($gutter * 2);
        }

        &--full {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .accordion & {
        @include font-size(xs);

        @include media-query(large) {
            font-size: map-get($medium-font-sizes, xs);
        }
    }

    .app--project-detail & {
        h2 {
            @include font-size(s);
            border-width: 0 0 1px;
            border-style: solid;
            padding-bottom: ($gutter / 2);
            margin-bottom: $gutter;
        }

        ul {
            list-style: outside disc;
            margin-left: $gutter;
        }

        li {
            margin-bottom: ($gutter * 2);
        }
    }

    .bg--dark & {
        .app--project-detail & {
            h2 {
                border-color: $color--grid-line-light;
            }
        }
    }

    .bg--light & {
        .app--project-detail & {
            h2 {
                border-color: $color--grid-line-dark;
            }
        }
    }
}
