.rich-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include heading-text();
        margin-bottom: $gutter;
        line-height: $line-height-large;
    }

    h2 {
        @include font-size(xl);
    }

    h3 {
        @include font-size(l);
    }

    h4 {
        @include font-size(m);
    }

    h5,
    h6 {
        @include font-size(s);
    }

    ul {
        list-style: inside disc;
    }

    ol {
        list-style: inside decimal;
    }

    a {
        @include underline-hover();
        display: inline-block; // Fix for hover underline not showing when link is last thing on line
        position: relative;

        .bg--dark & {
            color: $color--white;
        }

        .bg--light & {
            color: $color--black;
        }

        // Accordion needs to be inverted (bg changes when they open)
        .bg--dark .accordion__content & {
            color: $color--black;
        }

        .bg--light .accordion__content & {
            color: $color--white;
        }
    }

    .accordion & {
        @include font-size(xs);

        @include media-query(large) {
            font-size: map-get($medium-font-sizes, xs);
        }
    }
}
