.schools {
    position: relative; // ensure school jump menu doesn't flow outsiode of container

    // Compensating for the different between section--top-space-small and section--start
    &__anchor-compensator {
        position: relative;
        top: -($gutter);

        @include media-query(medium) {
            top: -($gutter / 2);
        }

        @include media-query(large) {
            top: -($gutter * 2);
        }
    }
}
