.scroll {
    $root: &;
    display: inline-block;
    text-align: center;

    &__label {
        @include font-size(xs);
        display: none;
        padding-bottom: ($gutter * 0.25);

        @include media-query(medium) {
            display: block;
        }
    }

    &__icon {
        stroke: currentColor;
        fill: none;
        width: 19px;
        height: 18px;
        will-change: transform;
        transition: transform $transition opacity $transition;
        animation-name: bounce;
        animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }

    &:hover {
        #{$root}__icon {
            transform: translate3d(0, 4px, 0);
        }
    }

    .theme-dark & {
        color: $color--black;
    }

    .theme-light & {
        color: $color--white;
    }

    @keyframes bounce {
        from {
            opacity: 0;
            transform: translate3d(0, -10px, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}
