.search {
    position: relative;

    @include media-query(medium) {
        margin-right: ($gutter * 1.75);
    }

    &__label {
        @include hidden();
    }

    &__input {
        background: $color--primary;
        color: $color--white;
        border: 0;
        width: 100%;
        border-bottom: 1px solid $color--white;
        padding: ($gutter / 2) ($gutter * 1.5) ($gutter / 2) ($gutter / 2);

        &:focus {
            outline: 0;
        }
    }

    &__button {
        $field-height: 46px;
        height: $field-height;
        position: absolute;
        right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        color: $color--white;
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        @include media-query(medium) {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }

    &__icon {
        fill: currentColor;
    }

    &--programmes {
        grid-column: 1 / span 2;
        padding-bottom: 52px;

        @include media-query(medium) {
            padding-bottom: 110px;
        }

        @include media-query(large) {
            grid-column: 2 / span 2;
            max-width: 460px;
            padding-bottom: 40px;
        }
    }
}
