.search-toggle {
    $root: &;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__label {
        @include font-size(xxxs);
        margin-left: ($gutter / 2);
    }

    .header--dark-bg & {

        #{$root}__label {
            color: $color--white;
        }

        #{$root}__icon {
            fill: $color--white;
        }

    }

    .header--light-bg & {

        #{$root}__label {
            color: $color--black;
        }

        #{$root}__icon {
            fill: $color--black;
        }

    }

}
