.search {
    $root: &;
    position: relative;

    @include media-query(medium) {
        margin-right: ($gutter * 1.75);
    }

    &__label {
        @include hidden();
    }

    &__input {
        background: $color--primary;
        color: $color--white;
        border: 0;
        appearance: none;
        border-radius: 0;
        width: 100%;
        border-bottom: 1px solid $color--white;
        padding: ($gutter / 2) ($gutter * 1.5) ($gutter / 2) ($gutter / 2);

        &:focus {
            outline: 0;
        }
    }

    &__button {
        $field-height: 46px;
        height: $field-height;
        position: absolute;
        right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        color: $color--white;
        font-family: $font--secondary;
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        @include media-query(medium) {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }

    &__icon {
        fill: currentColor;
        width: 12px;
        height: 8px;
    }

    &__count {
        .bg--light & {
            color: $color--meta-lightbg;
        }

        .bg--dark & {
            color: $color--meta-darkbg;
        }
    }

    // The inline search form has a slightly different layout, used on Programme finder and search listing templates
    &--inline {
        grid-column: 1 / span 2;
        max-width: 460px;
        padding-bottom: $gutter * 1.5;

        @include media-query(medium) {
            padding-bottom: $gutter * 4.5;
        }

        @include media-query(large) {
            grid-column: 2 / span 2;
            padding-bottom: $gutter;
        }

        .app--search & {
            @include media-query(medium) {
                padding-bottom: $gutter;
            }
        }
    }
}
