.search {
    position: relative;

    @include media-query(medium) {
        margin-right: ($gutter * 1.75);
    }

    &__input {
        background: $color--primary;
        color: $color--white;
        border: 0;
        width: 100%;
        border-bottom: 1px solid $color--white;
        padding: ($gutter / 2) ($gutter * 1.5) ($gutter / 2) ($gutter / 2);

        &:focus {
            outline: 0;
        }
    }

    &__button {
        position: absolute;
        right: 0;
        top: 15px;

        &:focus {
            outline: 0;
        }

        @include media-query(medium) {
            top: 18px;
        }
    }

    &__icon {
        fill: $color--white;
    }
}
