.search-toggle {
    $root: &;
    display: none;
    flex-direction: row;
    align-items: center;

    @include media-query(medium) {
        display: flex;
    }

    &__label {
        @include font-size(xxxs);
        margin-left: ($gutter / 2);
    }

    .app__navigation & {
        margin-top: $grid * 5;
        display: flex;

        @include media-query(medium) {
            margin-top: 0;
        }
    }

    .bg--dark & {
        #{$root}__label {
            color: $color--white;
        }

        #{$root}__icon {
            fill: $color--white;
        }
    }

    .bg--light & {
        #{$root}__label {
            color: $color--black;
        }

        #{$root}__icon {
            fill: $color--black;
        }
    }
}
