.section {
    $root: &;

    &--full {
        #{$root}__container {
            max-width: 0;
            padding: 0;
            margin: 0;
        }
    }

    &__heading {
        grid-column: 1;

        @include media-query(large) {
            grid-column: 2 / span 2;
        }

        &--primary {
            margin-bottom: ($gutter * 2);

            @include media-query(large) {
                margin-bottom: ($gutter * 3.5);
            }
        }

        &--secondary {
            margin-bottom: ($gutter * 1.25);

            @include media-query(large) {
                margin-bottom: ($gutter * 1.5);
            }
        }
    }
}
