.sitewide-alert {
    @include z-index(modal);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: $color--black-80;

    // Applied if cookie just added
    &--inactive {
        display: none;
    }

    &--active {
        display: block;
    }

    &__modal {
        @include z-index(modal-controls);
        background-color: $color--white;
        color: $color--black;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: ($gutter * 1.5);
    }

    &__copy {
        margin: 0 0 ($gutter * 0.75);
    }

    &__close {
        background: none;
        border: 0;
        position: absolute;
        top: $gutter;
        right: $gutter;
    }

    &__close-icon {
        fill: $color--white;
    }
}
