.skip-link {
    @include z-index(header-gridlines);
    position: absolute;
    top: 0;
    left: 0;

    &__link {
        @include font-size(xs);
        display: block;
        position: absolute;
        top: -200px;
        left: 0;
        color: $color--black;
        background-color: $color--white;
        padding: ($grid * 0.5) $grid;
        white-space: nowrap;

        &:focus {
            top: 0;
        }
    }
}
