.slide {
    $root: &;

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: ($gutter);
    }

    &__meta {
        opacity: 0;
        transition: opacity $transition;

        @include media-query(medium) {
            @include z-index(base);
            display: flex;
            position: relative;
        }
    }

    &__heading {
        @include font-size(xs);

        @include media-query(medium) {
            flex-basis: 50%;
            max-width: 50%;
            min-width: 50%;
        }

        @include media-query(large) {
            flex-basis: 66.666%;
            max-width: 66.666%;
            min-width: 66.666%;
        }
    }

    &__author-info {
        @include media-query(medium) {
            flex-basis: 50%;
            max-width: 50%;
            min-width: 50%;
            text-align: right;
        }

        @include media-query(large) {
            flex-basis: 33.333%;
            max-width: 33.333%;
            min-width: 33.333%;
            text-align: left;
        }
    }

    &__author {
        @include font-size(xs);
        font-weight: $weight--medium;
        margin-bottom: ($gutter / 4);
    }

    &__author-course {
        @include font-size(xxs);
        color: $color--light-grey;
    }

    .glide__slide--active & {
        #{$root}__meta {
            opacity: 1;
        }
    }

    .glide--dragging & {
        #{$root}__meta {
            opacity: 0;
        }
    }

    .bg--dark & {
        #{$root}__author {
            color: $color--white;
        }
    }

    .bg--light & {
        #{$root}__author {
            color: $color--black;
        }
    }
}
