.slide {
    $root: &;

    &--author {
        #{$root}__meta {
            @include media-query(medium) {
                display: flex;
                min-height: 70px;
            }
        }
    }

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: ($gutter);
    }

    &__meta {
        opacity: 0;
        transition: opacity $transition;

        @include media-query(medium) {
            @include z-index(base);
            position: relative;
        }

        @include media-query(large) {
            display: flex;
            min-height: 70px; // ensure controls don't butt up against the image
        }
    }

    &__heading {
        @include font-size(xs);
        margin-bottom: ($gutter * 1.5);

        @include media-query(medium) {
            flex-basis: 50%;
            max-width: 50%;
            min-width: 50%;
        }

        @include media-query(large) {
            flex-basis: 66.666%;
            max-width: 66.666%;
            min-width: 66.666%;
            margin-bottom: 0;
        }
    }

    &__author-info {
        @include media-query(medium) {
            flex-basis: 50%;
            max-width: 50%;
            min-width: 50%;
            text-align: right;
        }

        @include media-query(large) {
            flex-basis: 33.333%;
            max-width: 33.333%;
            min-width: 33.333%;
            text-align: left;
        }
    }

    &__author {
        @include font-size(xs);
        display: inline;
        font-weight: $weight--normal;
    }

    &__author-course {
        @include font-size(xxs);
        margin-top: ($gutter / 4);
    }

    &__link {
        @include underline-hover();
    }

    .glide__slide--active & {
        #{$root}__meta {
            opacity: 1;
        }
    }

    .glide--dragging & {
        #{$root}__meta {
            opacity: 0;
        }
    }

    .bg--dark & {
        #{$root}__author,
        #{$root}__link {
            color: $color--white;
        }

        #{$root}__author-course {
            color: $color--meta-darkbg;
        }
    }

    .bg--light & {
        #{$root}__author,
        #{$root}__link {
            color: $color--black;
        }

        #{$root}__author-course {
            color: $color--meta-lightbg;
        }
    }
}
