.social-item {
    $root: &;
    display: flex;
    align-items: flex-end;
    margin-right: ($gutter * 2);
    width: 24px;
    height: 24px;

    &--twitter {
        #{$root}__icon {
            width: 18px;
        }
    }

    &--instagram {
        #{$root}__icon {
            width: 18px;
        }
    }

    &--facebook {
        #{$root}__icon {
            height: 18px;
        }
    }

    &--linkedin {
        #{$root}__icon {
            width: 18px;
        }
    }

    &--tiktok {
        #{$root}__icon {
            height: 18px;
        }
    }

    &--wechat {
        #{$root}__icon {
            width: 18px;
        }
    }

    &--pinterest {
        #{$root}__icon {
            width: 18px;
        }
    }

    &--youtube {
        #{$root}__icon {
            width: 24px;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &__link {
        display: block;
    }

    &__icon {
        width: auto;
        transition: fill $transition;
    }

    .footer & {
        #{$root}__icon {
            fill: $color--white;
        }

        #{$root}__link {
            &:hover {
                #{$root}__icon {
                    fill: $color--meta-darkbg;
                }
            }
        }
    }
}
