.staff-detail {
    $root: &;
    margin-bottom: ($gutter * 2.25);

    &__image {
        @include z-index(above-gridlines);
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: $gutter;
    }

    &__heading {
        margin-bottom: ($gutter / 4);
    }

    &__job-title {
        margin-bottom: $gutter;
        color: $color--meta;
    }

    &__body {
        margin-bottom: ($gutter / 4);
    }

    &:nth-of-type(2n) {
        @include media-query(medium) {
            margin-top: ($gutter * 8.85); // 177px
        }

        @include media-query(large) {
            margin-top: ($gutter * 3.25); // 65px
        }
    }

    .staff-overview & {
        grid-row: 2;
        grid-column: 1 / span 2;

        @include media-query(medium) {
            grid-column: 1 / span 1;
            padding-right: ($gutter * 2.5);
        }

        @include media-query(large) {
            grid-column: 2 / span 1;
            padding-right: 0;
        }

        &:nth-of-type(2n) {
            grid-row: 3;

            @include media-query(medium) {
                grid-column: 2 / span 1;
                grid-row: 2;
            }

            @include media-query(large) {
                grid-column: 4 / span 1;
            }
        }
    }

    .staff-overview--single & {
        @include media-query(large) {
            grid-column: 2 / span 2;
        }

        #{$root}__image {
            @include media-query(large) {
                margin-bottom: ($gutter * 1.5);
            }
        }

        #{$root}__content {
            @include media-query(large) {
                display: flex;
            }
        }

        #{$root}__overview,
        #{$root}__more {
            @include media-query(large) {
                flex-basis: 50%;
                max-width: 50%;
                min-width: 50%;
            }
        }
    }
}
