.staff-body {
    &--margin {
        margin-bottom: ($gutter * 2);

        @include media-query(large) {
            margin-bottom: ($gutter * 4);
        }
    }

    &__content {
        grid-column: 1 / span 2;
        margin-bottom: ($gutter * 2);

        @include media-query(large) {
            grid-column: 2 / span 2;
        }
    }

    &__key-details {
        grid-column: 1 / span 2;

        @include media-query(large) {
            grid-column: 5 / span 1;
        }
    }

    &__action {
        @include media-query(large) {
            padding-top: ($gutter * 2);
        }
    }
}
