.steps {
    $root: &;

    &__heading {
        grid-column: 1 / span 2;
        margin-bottom: ($gutter * 2);

        @include media-query(medium) {
            grid-column: 1 / span 1;
        }

        @include media-query(large) {
            grid-column: 2 / span 1;
        }
    }

    &__content {
        grid-column: 1 / span 2;

        @include media-query(medium) {
            grid-column: 2 / span 1;
        }

        @include media-query(large) {
            grid-column: 3 / span 2;
        }
    }
}
