.step-item {
    $root: &;
    display: flex;
    flex-direction: row;
    margin-bottom: ($gutter * 2);

    &__number {
        flex-basis: ($gutter * 2);
        min-width: ($gutter * 2);
        max-width: ($gutter * 2);
    }

    &__heading {
        margin-bottom: ($gutter * 0.75);
    }

    &__link {
        @include font-size(xs);
    }

    .steps--condensed & {
        margin-bottom: $gutter;
    }

    .bg--dark & {
        #{$root}__number {
            color: $color--meta-darkbg;
        }
    }

    .bg--light & {
        #{$root}__number {
            color: $color--meta-lightbg;
        }
    }
}
