.sticky-filter-bar {
    @include z-index(sticky-nav-bar);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform $transition;

    @include media-query(large) {
        @include z-index(under-gridlines);
    }

    .sticky-bar & {
        // include base grid lines until actively sticky

        @include media-query(large) {
            @include z-index(sticky-nav-bar-header);
            // Make padding above / below bar even
            transform: translate3d(0, -10px, 0);
        }
    }

    // When headroom mini header is also active
    .sticky-bar.headroom--pinned & {
        transform: translate3d(0, $mini-header-height, 0);

        @include media-query(large) {
            transform: translate3d(0, $mini-header-height, 0);
        }
    }
}
