.student-listing {
    margin-bottom: ($gutter * 3);

    @include media-query(medium) {
        margin-bottom: ($gutter * 4);
    }

    &__header {
        margin-bottom: ($gutter * 2);
    }

    &__content {
        display: flex;
        flex-direction: column;
        grid-column: 1 / span 2;

        @include media-query(medium) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include media-query(large) {
            grid-column: 2 / span 2;
        }
    }
}
