.table {
    @include z-index(above-header-gridlines);
    position: relative;
    width: 100%;
    overflow-x: scroll;
    margin: ($gutter * 2) 0;
    background-color: $color--white;

    @include media-query(medium) {
        background-color: transparent;
    }

    @include media-query(medium) {
        margin: ($gutter * 3) 0;
        overflow-x: initial;
    }

    &__hint {
        @include z-index(above-header-gridlines);
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) -50%,
            $color--white 100%
        );
        opacity: 1;
        transition: opacity 0.25s ease;
        width: 300px;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        .is-scrolling & {
            opacity: 0;
        }

        @include media-query(medium) {
            display: none;
        }
    }

    // Button to scroll right
    &__hint-button {
        background: $color--black;
        color: $color--white;
        border: 0;
        padding: 7px 10px;

        &:hover {
            opacity: 0.7;
        }

        @include media-query(medium) {
            display: none;
        }
    }

    &__sr-hint {
        @include hidden();
    }

    caption {
        margin-bottom: $gutter;
        text-align: left;
    }

    table {
        min-width: 600px;
        border-collapse: collapse;

        @include media-query(large) {
            border-left: 0;
        }

        th,
        td {
            padding: 8px 8px 8px 0;
        }

        th {
            text-align: left;
        }

        /* stylelint-disable-next-line selector-max-type */
        td,
        tr th {
            vertical-align: top;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}
