.tab-nav {
    &.sticky {
        @include z-index(header);
        position: sticky;
        top: 0;
        transition: transform $transition-cubic,
            background-color $transition-cubic;

        .headroom--pinned.headroom--not-top & {
            transform: translate3d(0, 0, 0);
        }
    }

    &.js-is-sticky {
        .headroom--pinned.headroom--not-top & {
            transform: translate3d(0, 80px, 0); // height of sticky-header
        }
    }

    &.bg--dark {
        border-top: 1px solid $color--grid-line-light;
        border-bottom: 1px solid $color--grid-line-light;
    }

    &.bg--light {
        border-top: 1px solid $color--grid-line-dark;
        border-bottom: 1px solid $color--grid-line-dark;
    }

    &__layout {
        padding-right: 0;
        padding-left: 0;

        @include media-query(large) {
            padding-right: ($gutter * 3);
            padding-left: ($gutter * 3);
        }
    }

    &__container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        grid-column: 1 / span 2;
        padding: ($gutter * 0.5) $gutter;
        overflow-x: auto;

        @include media-query(medium) {
            padding: $gutter ($gutter * 3);
        }

        @include media-query(large) {
            grid-column: 2 / span 4;
            padding: $gutter 0;
        }
    }

    // Hides white space behind sticky element on dark backgrounds
    &__placeholder {
        display: none;

        &.bg--dark {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 61px;
            background-color: $color--black;
        }
    }
}
