.streamfield {
    &__heading {
        margin-bottom: $gutter;

        @include media-query(large) {
            margin-bottom: ($gutter * 1.5);
        }
    }

    .jwplayer {
        @include z-index(above-gridlines);
        position: relative;
        margin-bottom: $gutter;
        margin-top: $gutter;

        @include media-query(large) {
            margin-top: ($gutter * 1.5);
            margin-bottom: ($gutter * 1.5);
        }
    }
}
