.streamfield {
    &__heading {
        margin-bottom: $gutter;

        @include media-query(large) {
            margin-bottom: ($gutter * 1.5);
        }
    }

    // inline images
    img {
        margin-bottom: $gutter;

        @include media-query(large) {
            margin-bottom: ($gutter * 1.5);
        }
    }

    // Video embeds
    .responsive-object {
        margin-bottom: $gutter;

        @include media-query(large) {
            margin-bottom: ($gutter * 1.5);
    div > p:first-child {
        // Normally a heading is the first item in streamfield, but if not, add space
        .app--guide & {
            margin-top: ($gutter * 1.5);

            @include media-query(large) {
                margin-top: ($gutter * 4);
            }
        }
    }
}
