{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}
{% get_settings %}

{% block body_class %}
    app--editorial sticky-bar{% if page.shorthand_embed_code %} app--shorthand-embed{% endif %}
{% endblock %}

{% block content %}
    {% if page.shorthand_embed_code %}
        <div class="page page--no-hero">
            <header class="page__header bg bg--dark">
                <div class="title-area title-area--breadcrumb grid">
                    <div class="title-area__content">
                        <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                            {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
                        </nav>
                    
                    </div>
                </div>
            </header>
            <div class="page__content">
                {{ page.shorthand_embed_code|safe }}
            </div>
        </div>
    {% else %}

        {% if hero_image %}
            {% include "patterns/molecules/hero/hero.html" with modifier="medium" %}
        {% endif %}

        <div class="page {% if hero_image %}page--overlap{% else %}page--no-hero{% endif %}">

            {% if hero_image %}
                <div class="page__notch grid">
                    <div class="page__notch-block bg bg--dark"></div>
                </div>
            {% endif %}

            {% if sticky_cta %}
                {% include "patterns/molecules/sticky-cta/sticky-cta.html" with item=sticky_cta modal=sticky_cta.modal modal_aria_label="call-to-action-title" %}
            {% endif %}

            <header class="page__header bg bg--dark{% if sticky_cta %} page__header--with-sticky-cta{% endif %}">
                <div class="title-area title-area--breadcrumb grid">
                    <div class="title-area__content">
                        <nav class="title-area__breadcrumb" aria-label="Breadcrumb">
                            {% include "patterns/molecules/breadcrumb/breadcrumb.html" %}
                        </nav>
                        <h1 class="title-area__heading heading heading--display-two" id="main-content">{{ page.title }}</h1>
                    </div>
                    {% if hero_image_credit or hero_image %}
                        <div class="title-area__credit layout__@large-start-five layout__@large-span-one">
                            {% include 'patterns/atoms/image-info/image-info.html' with credit=hero_image_credit item=hero_image %}
                        </div>
                    {% endif %}
                </div>

                <section class="section bg bg--dark">

                    <div class="section__row {% if not page.introduction_image %}section__row--last{% endif %} grid">

                        <div class="key-details key-details--small-secondary layout__start-one layout__span-two layout__@large-span-one {% if not page.introduction_image %}u-small-and-medium-bp-only{% endif %}">
                            {% include "patterns/molecules/key-details/key-details--editorial.html" %}
                        </div>

                        {% if page.introduction or page.introduction_image %}
                            <div class="intro-and-video intro-and-video--small-primary layout__start-one layout__span-two layout__@large-start-two  layout__@large-span-three">

                                {% if page.introduction %}
                                    <div class="introduction introduction--narrow">
                                        <div class="introduction__container">
                                            <div class="section__heading heading heading--five">
                                                {{ page.introduction|richtext }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if page.introduction_image %}
                                    <div class="project-overview__content layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                                        <div class="project-overview__media">
                                            {% if page.introduction_image %}
                                                {% include "patterns/organisms/image-video-block/image-video-block.html" with modal=page.video out_of_grid=True curriculum=False heading=False has_meta=False copy=False subheading=False image=page.introduction_image caption=page.video_caption video=page.video modifier="small-bottom-margin image-video-block--no-padding" %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        {% endif %}

                        <div class="share share--small-tertiary layout__start-one layout__span-two layout__@large-start-five layout__@large-span-one">
                            {% include "patterns/molecules/share/share.html" %}
                        </div>

                    </div>

                    <div class="section__notch">
                        <div class="section__notch-fill section__notch-fill--third-col"></div>
                    </div>

                </section>

            </header>

            <div class="page__content js-sticky-point js-sticky-point--top">

                <section class="section bg bg--light">

                    <div class="section__row section__row--first-small section__row--last grid">
                        {% if not page.introduction_image %}
                            <div class="layout__start-one layout__span-two layout__@large-span-one u-large-bp-only">
                                {% include "patterns/molecules/key-details/key-details--editorial.html" %}
                            </div>
                        {% endif %}
                        <div class="streamfield rich-text layout__start-one layout__span-two layout__@large-start-two layout__@large-span-three">
                            {% for block in page.body %}
                                {% include_block block %}
                            {% endfor %}
                        </div>
                    </div>

                    {% if page.more_information %}
                        <div class="section__row">
                            {% include "patterns/organisms/accordion-block/accordion-block.html" with accordion_id='1' accordions=page.more_information title=page.more_information_title parent_heading_override="h2" heading_override="h3" modifier="accordion-block--no-top-margin" %}
                        </div>
                    {% endif %}

                    {% if page.quote_carousel %}
                        <div class="section__row section__row--first-extra-small">
                            {% include "patterns/organisms/carousel/carousel--quotes.html" with carousel=page.quote_carousel modifier='carousel--square carousel--quotes' control_title="Quote carousel" datatag='data-peek-carousel' %}
                        </div>
                    {% endif %}

                    {% if page.gallery %}
                        <div class="section__row">

                            <header class="section__header grid">
                                <h3 class="section__heading section__heading--secondary heading heading--four">
                                    Gallery
                                </h3>
                            </header>

                            <div class="section__content">
                                {% include "patterns/organisms/slideshow/slideshow.html" with slideshow=page.gallery control_title="slideshow" modifier='slideshow--author-info' %}
                            </div>

                        </div>
                    {% endif %}

                    {% if page.cta_block %}
                        <div class="section__row">
                                <div class="section__row section__row--last">
                                    {% for block in page.cta_block %}
                                        {% include "patterns/molecules/text-teaser/text-teaser.html" with teaser=block.value heading_size="small" %}
                                    {% endfor %}
                                </div>
                        </div>
                    {% endif %}

                    <div class="section__notch">
                        <div class="section__notch-fill section__notch-fill--second-col"></div>
                    </div>

                </section>

                <section class="section bg bg--dark booking-bar-last-item">

                    {% if related_pages.items %}
                        <div class="section__row section__row--first section__row--last-large">
                            {% include "patterns/organisms/index-module/index-module.html" with items=related_pages.items title=related_pages.title %}
                        </div>
                    {% endif %}

                    {% if page.contact_model_image or page.contact_model_text or page.contact_model_email or page.contact_model_url or page.contact_model_form %}
                        <div class="section__row section__row--first{% if not hero_image %} section--extra-margin-bottom{% elif hero_image and sticky_cta %} section--extra-padding-bottom{% endif %}">
                            {% include "patterns/organisms/contact/contact.html" with heading=page.contact_model_title text=page.contact_model_text image=page.contact_model_image %}
                        </div>
                    {% endif %}
                </section>

            </div>

        </div>
    {% endif %}

    {% if hero_image %}
        {% image hero_image fill-1440x530 as image_large %}
    {% endif %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "https://google.com/article"
            },
            "headline": "{{ page.title }}",
            {% if hero_image %}
            "image": [
              "{{ image_large.url }}"
            ],
            {% endif %}
            "datePublished": "{{ page.published_at }}",
            "dateModified": "{{ page.last_published_at }}",
            {% if page.author %}
            "author": {
              "@type": "Person",
              "name": "{{ page.author }}"
            },
            {% endif %}
            "publisher": {
              "@type": "Organization",
              "name": "Royal College of Art"
            }
          }

    </script>

{% endblock %}
