{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailsettings_tags %}

{% block body_class %}app--404{% endblock %}
{% block header_class %}theme-light{% endblock %}

{% block title %}{{ settings.utils.SystemMessagesSettings.title_404 }}{% endblock %}

{% block content %}

<div class="page">

    <header class="page__header bg bg--dark">
        <div class="title-area grid">
            <div class="title-area__content">
                <h1 class="title-area__heading heading heading--display-two" id="main-content">{{ settings.utils.SystemMessagesSettings.title_404 }}</h1>
                <div class="title-area__introduction introduction">{{ settings.utils.SystemMessagesSettings.body_404|richtext }}</div>
            </div>
        </div>
    </header>

    <div class="page__content">

    </div>

</div>

{% endblock %}
