{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailsettings_tags %}

{% block body_class %}app--404{% endblock %}

{% block title %}Internal Server Error | Royal College of Art{% endblock %}

{% block content %}

<div class="page">

    <header class="page__header bg bg--dark">
        <div class="title-area grid">
            <div class="title-area__content">
                <div class="title-area__introduction introduction">
                    <h3>Sorry, there seems to be an error. Please try again soon.</h3>
                </div>
            </div>
        </div>
    </header>

    <div class="page__content">

    </div>

</div>

{% endblock %}
