name: CI

on:
  pull_request:
  push:
    branches: [staging, master]

jobs:
  lint:
    uses: ./.github/workflows/lint.yaml

  test:
    uses: ./.github/workflows/test.yaml

  deploy_production:
    if: contains(github.ref, 'master')
    needs: [lint, test]
    uses: ./.github/workflows/deploy-production.yaml
    secrets: inherit

  deploy_staging:
    if: contains(github.ref, 'staging')
    needs: [lint, test]
    uses: ./.github/workflows/deploy-staging.yaml
    secrets: inherit
